[2020-10-09 19:26] maciejwalkowiak opened #51 "Add trigger to run integration tests through Github Actions"

[2020-12-23 02:47] hariohmprasath opened #5 "Support for registering & discovering applications using AWS CloudMap"
**Type**: Feature
Support for registering & discovering applications using AWS CloudMap

**Is your feature request related to a problem? Please describe.**
We have an application which is currently deployed in both ECS and EKS cluster that would need AWS CloudMap integration to enable service discovery. But depending upon where you deploy the CloudMap integration may vary, like below:
- For applic

[2020-12-26 19:00] eddumelendez commented on #5
@hariohmprasath thanks for offering your support for this feature. After reading about cloudmap it makes sense to have this integration which allows registry and discovery. I think a good example to follow the implementation is [spring-cloud-consul](https://github.com/spring-cloud/spring-cloud-consul)

[2021-01-05 09:57] hariohmprasath commented on #5
Do we have any working example of spring boot integration with this new repository. Seems like whatever I do none of the integrations like parameter store is working with the new repo. Can you please help me out with this?

[2021-01-05 20:55] eddumelendez commented on #5
@hariohmprasath do you mind to [open a discussion](https://github.com/awspring/spring-cloud-aws/discussions) with category `Q&A` about it, please?

[2021-01-05 22:51] hariohmprasath commented on #5
Thanks. I have opened a [discussion](https://github.com/awspring/spring-cloud-aws/discussions/12)

[2021-01-20 14:57] kschlesselmann opened #19 "Planned Releases and Community Communication"
Hi!

I tried reaching out in gitter but it seems that no one looks at https://gitter.im/spring-cloud/spring-cloud-aws any more.

Where do you plan to communicate planned release dates? We'd like to upgrade to SC 2020.0.0 but it seems there's no compatible SC AWS release yet.

[2021-01-20 15:43] driverpt opened #20 "AWS SDK v2"
**Type**: Feature

Is Spring Cloud AWS 3.x going to use AWS SDK v2 exclusively ?

[2021-01-20 16:12] MatejNedic commented on #19
Hey @kschlesselmann ,

do you mind opening  [opening discussion](https://github.com/awspring/spring-cloud-aws/discussions) with category `Q&A` please?
I believe it's more clear and better way to communicate then gitter since questions can be searched for.
If you have any more questions or ideas please don't hesitate to open discussion! :)

[2021-01-20 16:27] kschlesselmann commented on #19
Yeah, good idea. Didn't know about "Discussions" yet :-)

https://github.com/awspring/spring-cloud-aws/discussions/22

[2021-01-20 16:27] #19 closed

[2021-01-20 20:50] shabino opened #23 "Better SQS concurrent message handling"
**Type**: Feature

SimpleMessageListenerContainer's concurrency model is suboptimal. Current behavior:

1. Request N messages from SQS (N <= 10 due to AWS restriction).
2. Create a MessageExecutor for each message and execute concurrently.
3. Wait for *ALL* N messages to be handled (including possible SQS deletion invocations).
4. Repeat

Problems:

- No message handling occurs while fetching mess

[2021-01-22 19:59] MatejNedic commented on #20
Hey @driverpt,
3.x should be exclusevly in AWS sdk2.
If you have any more questions or ideas please don't hesitate to [open a discussion](https://github.com/awspring/spring-cloud-aws/discussions) since it is I believe better way to communicate then issue.

[2021-01-22 20:34] driverpt commented on #20
Alright then. Is there any branch I can create a PR on?

[2021-01-22 21:09] MatejNedic commented on #20
The branch will be in this Github Repo, but there is no branch yet.  We plan on revisiting some of the integrations in 3.x. so it won't be just an upgrade to sdk2.
You can check the discussion in the old repo https://github.com/spring-cloud/spring-cloud-aws/issues/267 if you already haven't.
Hopefully, @maciejwalkowiak or @eddumelendez can say more.

[2021-01-27 23:23] PhantomCaleb commented on #20
Is there someplace where we can view the status on 3.x?

[2021-01-31 23:36] cyterdan opened #38 "Support for AWS IoT"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Currently messaging only supports SQS and SNS, it would be great to have support for AWS IoT messaging as well.

**Describe the solution you'd like**
I would like spring cloud to subscribe and publish to AWS IoT topics that would be configured via annotations.
Support for `@SendTo` for a potential response topic

[2021-02-08 06:42] maciejwalkowiak opened #41 "Add support for AWS SNS FIFO topics"
From spring-cloud-aws created by @frjtrifork: https://github.com/spring-cloud/spring-cloud-aws/issues/714

On 22 October AWS released FIFO enabled SNS Topics.
These have some requirements regarding extra fields that has to be sent in the PublishRequest.
I believe 1.11.892 version of aws-sdk is required to have the new properties available in the PublishRequest.

If the SNS Topic has ContentBasedDe

[2021-02-08 06:43] maciejwalkowiak commented on #41
https://github.com/spring-cloud/spring-cloud-aws/issues/714#issuecomment-774345788

@frjtrifork:

[2021-02-08 23:15] maciejwalkowiak opened #45 "Upgrade AWS SDK version to 1.11.950"
Upgrade AWS SDK version to the latest version (1.11.950 as I am writing this ticket, potentially 1.11.951) tomorrow.

[2021-02-09 00:41] maciejwalkowiak opened #48 "RDS Enhancements Proposal"
From spring-cloud-aws created by [maciejwalkowiak](https://github.com/maciejwalkowiak): spring-cloud/spring-cloud-aws#610

Few ideas on how RDS integration could be improved:

RDS integration was created before Spring Boot. For user experienced with Spring Boot datasource configuration, using Spring Cloud AWS RDS integration may not be as seamless as it could be. Things that Spring Cloud AWS shoul

[2021-02-09 00:41] maciejwalkowiak commented on #48
This ⬆️   is up for discussion so if you have an idea or there is something related to RDS integration you believe we should include - your comments are very welcome!

[2021-02-09 00:41] maciejwalkowiak commented on #48
It would be a good idea to mention about the configuration support towards multiple datasources against a singe RDS instance. Here the usecase is of an application which is connecting to multiple databases within a single instance of RDS.

Would be good to align as Spring Boot currently does https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-two-datasources

[2021-02-09 16:57] maciejwalkowiak opened #50 "RDS Cluster Support"
From spring-cloud-aws created by [davidsloan-productlab](https://github.com/davidsloan-productlab): spring-cloud/spring-cloud-aws#356

Instead of an RDS instance I'm trying to use an RDS Aurora cluster.

I can use an instance within the cluster using
@EnableRdsInstance

However when trying to use the cluster itself I see an exception with this as the cause:
No database instance with id:'my-cluster

[2021-02-09 16:57] maciejwalkowiak commented on #50
Much needed one..

People are now going for serverless RDS, so cluster connection establishment is really required.

[2021-02-09 16:57] maciejwalkowiak commented on #50
Vlad's post is interesting and certainly helps for day-to-day running.   But it's of little help to Spring projects that are looking to reap the benefits of Aurora clusters for failover.  The current provision of a retry interceptor isn't really good enough.  Services should be able to connect to a cluster, the SDK should be aware of which instances are write and read-only, and should direct reque

[2021-02-09 16:57] maciejwalkowiak commented on #50
@aravindparappil46 currently you have to do it manually - look at Vlad's post for inspiration: https://vladmihalcea.com/read-write-read-only-transaction-routing-spring/

[2021-02-09 16:57] maciejwalkowiak commented on #50
This has also been reported here: This issue has also been reported here: https://github.com/spring-cloud/spring-cloud-aws/issues/302

[2021-02-09 16:57] maciejwalkowiak commented on #50
I've done it for now using reader/writer datasources +  AOP .
basic idea is here: https://fable.sh/blog/splitting-read-and-write-operations-in-spring-boot/

Looking forward to `3.0.0.M1`  milestone!

[2021-02-09 16:57] maciejwalkowiak commented on #50
Do we know if this is on the road map at all?

[2021-02-09 16:57] maciejwalkowiak commented on #50
Looking forward to the `3.0.0.M1` milestone!
Definitely need this feature to be able to connect to an Aurora RDS Cluster (through annotation and through the `application.properties` file) for Spring & Spring Boot projects.

Meanwhile, if anyone knows a workaround for connecting to an Aurora cluster in Spring Boot and enabling read replica support, please post here!

[2021-02-09 16:57] maciejwalkowiak commented on #50
unable to connect to an Aurora RDS Cluster with read replica  (through annotation and through the application.properties file) for spring boot project using spring cloud
Any news Please !

[2021-02-09 22:48] #45 closed

[2021-02-11 16:28] nickcaballero commented on #41
Just dropping a note here that Localstack now supports SNS FIFO topics as well - https://github.com/localstack/localstack/issues/3336.

[2021-02-12 12:16] maciejwalkowiak opened #53 "Upgrade Maven version used by the wrapper."
Maven wrapper uses version 3.5.4 while the latest Maven is 3.6.3

[2021-02-12 12:40] maciejwalkowiak opened #54 "Autoconfigure CredentialsProvider and RegionProvider with AWS SDK v2"
Auto-configure module should auto-configure `AwsCredentialsProvider` and `AwsRegionProvider` with AWS SDK v2. Feature wise - same logic and same options should be provided as there are in Spring Cloud AWS v2.3.

[2021-02-12 12:43] maciejwalkowiak opened #55 "Migrate S3 resource loader to AWS SDK v2"
S3 components should be extracted from the core/context module and moved to separate `spring-cloud-aws-s3` module. Code should be based on AWS SDK v2.

Things to consider - simplify handling loading files from the different region. Research if client caching has not been done yet in the SDK itself.

XML configuration and `@EnableResourceLoader` should be dropped.

[2021-02-12 14:57] willerrgit opened #57 "SnsWebConfiguration depends on webmvc"
**Type**: Bug

**Component**:
SNS

**Describe the bug**
v. 2.3.0-RC2
Spring (boot 2.4.2) fails to start with ClassNotFoundException.
We use webflow and have excluded webmvc from the classpath.

**Sample**
The `SnsWebConfiguration.class` depends on mvc at `SnsAutoconfiguration:85`

If you replaced
`@ConditionalOnClass(WebMvcConfigurer.class)`
with
`@ConditionalOnClass(name = "org.springframework.we

[2021-02-12 18:57] MatejNedic opened #58 "Migrate Secrets Manager integration to AWS SDK 2"
Secrets Manager integration should be moved from AWS SDK v1 to AWS SDK v2 in 3.0.x branch.

Note: we only need to keep loading properties via `spring.config.import`. Legacy way of importing properties should be removed.

Consider the following guidelines:

* Create package `io.awspring.cloud.autoconfigure.secretsmanager` at `spring-cloud-autoconfigure` which contains `SecretsManagerProperties`, `S

[2021-02-12 19:02] MatejNedic commented on #57
Hey @willerrgit ,
I can't reproduce an issue. I used this for testing.
https://github.com/MatejNedic/webmvc-sns-test

[2021-02-12 22:35] maciejwalkowiak opened #59 "Migrate SES integration to AWS SDK 2"
Migrate SES integration from AWS SDK v1 to AWS SDK v2 in 3.0.x branch.

SES should be moved completely from the core/context module and all SES related classes should be in `spring-cloud-aws-v3-ses` module.

Consider the following guidelines:

* Create package `io.awspring.cloud.autoconfigure.ses` at `spring-cloud-autoconfigure` which contains `SesProperties`, `SesAutoConfiguration`
* Create modul

[2021-02-14 04:55] arunkpatra commented on #38
@cyterdan @maciejwalkowiak Would be glad to contribute.

[2021-02-14 16:04] ohbus commented on #53
Can I take this up?

[2021-02-14 17:12] arunkpatra commented on #58
@maciejwalkowiak Want me to take this up?

[2021-02-14 18:28] MatejNedic commented on #58
@arunkpatra I have already started working on it and I have few small things left to finish, but let's do it like this. Please rebase  [this](https://github.com/awspring/spring-cloud-aws/pull/56) to your branch and use it as a start point for migrating Secrets Manager to AWS SDK 2. If you need help with an issue please message me on Twitter and I will be more than happy to help you out! :)

[2021-02-15 11:13] maciejwalkowiak commented on #53
@ohbus sure, its all yours :)

[2021-02-15 16:59] driverpt commented on #59
Shouldn't we migrate the `spring-cloud-aws-core` first ?

[2021-02-15 22:39] maciejwalkowiak commented on #59
@driverpt core will not be directly migrated as quite a few classes will be either removed or moved to separate modules. Integrations definitely need `autoconfigure` module to be there so that they can use credentials and region providers.

It will become clearer once we have `autoconfigure` and at least single integration migrated.

[2021-02-16 02:31] arunkpatra commented on #58
Thanks @MatejNedic. Working on this...

[2021-02-16 04:20] kabroadb commented on #58
Does this include updating the paramstore integration as well, or will there be a separate issue for that? I'd be interested in working on that.

[2021-02-16 06:14] arunkpatra commented on #58
@kabroadb At the moment I have started on the secrets manager on top of what @maciejwalkowiak has done in #56 which is the foundational PR on V3. Please feel free to contribute, but I would say let me at least from the secretsmanager to a stable state with the tests. Would that be ok?

[2021-02-16 06:18] MatejNedic opened #65 "Migrate Parameter Store to AWS SDK v2"
Parameter store integration should be moved from AWS SDK v1 to AWS SDK v2 in 3.0.x branch.

Note: we only need to keep loading properties via spring.config.import. Legacy way of importing properties should be removed.

Consider the following guidelines:

* Create package `io.awspring.cloud.autoconfigure.parameterstore` at `spring-cloud-autoconfigure` which contains `ParameterStoreProperties`, `Par

[2021-02-17 19:09] maciejwalkowiak opened #67 "Build is failing with Java 11."
Running build with Java 11 is failing (probably just an issue with tests).

[2021-02-17 19:10] maciejwalkowiak opened #68 "Run CI build with Java 8, 11, 15"
Github actions for building should use matrix with Java versions so that we run build against main branch and PRs with Java 8, 11 and 15.

[2021-02-17 19:17] #53 closed

[2021-02-17 20:59] maciejwalkowiak opened #70 "Configure AWS Region from the profile file with AwsProfileRegionProvider"
Similar to `CredentialsProviderAutoconfiguration`, `ProfileProviderAutoconfiguration` should be able to configure region using `AwsProfileRegionProvider`.

`AwsProfileProperties` should have a new property `profile` containing name and path and auto-configuration should take it into account similar to how credentials are configured.

**Note**: create a fork from branch `3.0.x` and do changes in th

[2021-02-17 21:02] maciejwalkowiak opened #71 "Configure AWS Region from the instance profile with InstanceProfileRegionProvider"
Similar to `CredentialsProviderAutoconfiguration`, `ProfileProviderAutoconfiguration` should be able to configure region using `InstanceProfileRegionProvider`.

`AwsProfileProperties` should have a new property `instanceProfile` and auto-configuration should take it into account similar to how credentials are configured.

**Note**: create a fork from branch `3.0.x` and do changes in the `v3` modul

[2021-02-17 22:01] MatejNedic commented on #65
I  will check this one out.

[2021-02-17 22:35] krisiye opened #73 "Support STS session Token"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
spring cloud aws does not support session token for the credentials manager. This will be useful to add for aws integrations using STS.

**Describe the solution you'd like**
- Add support under `org.springframework.cloud.aws.autoconfigure.context.properties.AwsCredentialsProperties` for `cloud.aws.credentials.ses

[2021-02-18 00:03] mcruzdev commented on #71
Hello, @maciejwalkowiak
Can you assign for me?

[2021-02-18 00:21] maciejwalkowiak commented on #71
Sure! Thanks for taking care of this one :-)

[2021-02-18 00:32] sivaprasadreddy commented on #67
@maciejwalkowiak The tests in `ContextCredentialsConfigurationRegistrarTest` are failing while asserting the following:

[code]
Here the imported `CredentialsProvider` is `org.apache.http.client.CredentialsProvider`. I think it should be cast to `List<com.amazonaws.auth.AWSCredentialsProvider>` instead of `List<org.apache.http.client.CredentialsProvider>` as follows:

[code]

Casting to `List<org.

[2021-02-18 01:25] sivaprasadreddy commented on #68
@maciejwalkowiak With the fix for Java 11 test failures https://github.com/awspring/spring-cloud-aws/pull/74
the build is running successfully with `8.0.275.hs-adpt`, `11.0.10.hs-adpt`, `15.0.2.hs-adpt`.
For reference https://github.com/sivaprasadreddy/spring-cloud-aws/actions/runs/576656636

[2021-02-18 01:33] sivaprasadreddy commented on #70
Hi @maciejwalkowiak Can I work on this?

[2021-02-18 05:50] mcruzdev commented on #71
@maciejwalkowiak,
Thank you for assigns to me, I am very excited to contribute

I have a question:

Should I create a new class called ProfileProviderAutoconfiguration  for `software.amazon.awssdk.regions.providers.AwsRegionProvider` ? Can I use RegionProviderAutoconfiguration instead verifying if instanceProfile exists like `CredentialsProviderAutoconfiguration`?

[2021-02-18 07:55] etolbakov commented on #41
Hello @maciejwalkowiak,
Can I give it a shot?
--
Regards, Eugene

[2021-02-18 13:24] #67 closed

[2021-02-18 13:25] maciejwalkowiak commented on #70
@sivaprasadreddy sure it's yours! Thanks!

[2021-02-18 13:25] maciejwalkowiak commented on #71
Use the existing auto-configuration `RegionProviderAutoconfiguration` similar how it's done with credentials.

[2021-02-18 15:14] sivaprasadreddy commented on #68
Java 11 is already added. Adding Java 15 to the build matrix, PR https://github.com/awspring/spring-cloud-aws/pull/75

[2021-02-18 15:21] #68 closed

[2021-02-18 15:21] maciejwalkowiak commented on #68
Thanks again @sivaprasadreddy!

[2021-02-18 23:05] MatejNedic opened #77 "Introduce SES sample once SES is migrated to AWS SDK v2"
Since there is no SES sample for 2.3.x branch it could be a good thing once #59 is done to introduce SES sample. This can be a good first issue. Spring Cloud AWS sample [module](https://github.com/awspring/spring-cloud-aws/tree/2.3.x/spring-cloud-aws-samples) can be used as a reference for creating SES sample.

[2021-02-19 13:27] #70 closed

[2021-02-19 13:28] #54 closed

[2021-02-20 00:36] pretizy commented on #41
Hello can i give it a go

[2021-02-20 21:44] maciejwalkowiak opened #81 "FIFO queues support does not guarantee FIFO order"
Under the hood, SQS integration uses `AmazonSQSBufferedAsyncClient` to reduce amount of requests sent to AWS and same time reduce the costs. Unfortunately, [it does not support FIFO queues](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-client-side-buffering-request-batching.html).

Ideally in case of FIFO queue we should fall back to regular SQS client.

[2021-02-20 21:53] #71 closed

[2021-02-20 21:54] maciejwalkowiak commented on #41
@etolbakov @pretizy go ahead :-)

[2021-02-20 22:06] #48 closed

[2021-02-21 09:29] arunkpatra commented on #59
@MatejNedic @maciejwalkowiak Can I give this a shot?

[2021-02-21 11:36] arunkpatra commented on #77
@MatejNedic @maciejwalkowiak Let me pick this up once I'm done with #59 if its ok with you.

[2021-02-21 11:39] arunkpatra commented on #77
I'm considering creating this sample inside `V3` module. `v3/spring-cloud-aws-v3-samples/spring-cloud-aws-v3-ses-sample`. I'm assuming that all `V3` modules once done will replace the existing ones in a major refactoring effort en-masse.

[2021-02-22 10:34] arunkpatra commented on #55
@maciejwalkowiak , Can I take this up?

[2021-02-22 11:18] arunkpatra commented on #77
Once #84 is merged, I can take this up.

[2021-02-22 12:09] arunkpatra commented on #55
@maciejwalkowiak Looks like AWS SDK V2 does not yet support client caching for different regions on the AWS SDK side. Some discussions around it exist, but it [doesn't appear to be a top priority](https://github.com/aws/aws-sdk-java-v2/issues/52) for the AWS SDK team.

[2021-02-23 05:43] maciejwalkowiak commented on #55
@eddumelendez is working on S3 integration, perhaps he can share his findings

[2021-02-24 15:12] tekener opened #86 "New SQS Fifo Queue support is not working because of empty MessageAttributes"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
I tested the RC2 with localstack and elasticmq and in both cases the "MessageGroupId" is returned as an attribute and not as an messageAttribute. That is the reason why the following line is throwing a NullpointerException:

https://github.com/awspring/spring-cloud-aws/blob/b201f0ca65bc2ccd9f2b723b19072ea76ea25876/spring-cloud-aws-messaging/s

[2021-02-25 20:38] tekener commented on #86
Add PR with fix https://github.com/awspring/spring-cloud-aws/pull/87

[2021-02-26 01:21] Frantch opened #88 "Non profile settings used to fecth Secrets when starting the app with a profile"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
Not entirely sure this is a bug or I'm missing something very trivial but when starting my app with a profile the secret manager still tries to fetch a secret with the values it finds in the application.yml which makes it impossible to test the app locally.

**Sample**
Spring Boot 2.4.2
spring-cloud-starter-aws-secrets-manager-c

[2021-02-27 14:06] mcruzdev commented on #41
Hi @pretizy and @etolbakov

Let me see if you already started or no this development.
I am very interested to contribute to it
If not, @maciejwalkowiak, can you assign it for me?

[2021-02-28 10:51] MatejNedic commented on #88
Hey @Frantch ,
Spring Boot 2.4 changed the ways how files are loaded. That is why you can't load from application-dev.yml
You can use Multi Document property something like this for Application.properties:

`
spring.config.import=aws-parameterstore:/config/spring/
#---
spring.config.activate.on-profile=dev
spring.config.import= aws-parameterstore:/other/path/
`

Or something like this in Applicati

[2021-03-01 08:29] tekener commented on #81
Because you are already planning to move forward to AWS SDK V2 you could also do the quick fix by just using the unbuffered client for everything. 🤔 That would be a quick fix and i think a little quickness is needed because else the people are blocked to update Spring Boot to 2.4 🙈 Sorry, to pressure here 😂

[2021-03-01 08:47] etolbakov commented on #41
@mcruzdev, I've made very little progress on this feature, so feel free to start.

[2021-03-01 09:46] Frantch commented on #88
Oh wow... yes I just read about the way 2.4 has completely redone how the properties file are getting loaded...
this explain what I was seeing.

Not sure I'm a big fan of putting the equivalent of 6 different profiles (yes our app uses 7 differents profile for 7 diff environment) into one single application.yaml file separated by that new `#---` thing..

I'm gonna give a try thought but pretty sur

[2021-03-01 17:02] MatejNedic commented on #88
@Frantch you are not overriding default `spring.config.import=aws-secretsmanager:/config/spring` for test profile that is why  /config/spring is used.  That is why the Unit test is failing for the 'test' profile.
If you want to define one `spring.config.import=aws-secretsmanager:/config/spring` for few profiles you can chain it like.
`spring.config.activate.on-profile=prod,test,dev`

[2021-03-01 20:42] maciejwalkowiak commented on #41
@mcruzdev assigned.

[2021-03-02 07:43] tekener commented on #81
Hi @maciejwalkowiak, i don't think that updating the docs is a solution for this. At least you should then do an argument check when somebody is using a fifo queue with the AmazonSQSBufferedAsyncClient.

[2021-03-02 08:27] maciejwalkowiak commented on #81
@tekener it is a better temporary solution than dropping buffered client completely and risking our users getting surprise bills from AWS. You are welcome to contribute a proper fix for this 🙂

[2021-03-02 08:42] tekener commented on #81
@maciejwalkowiak if you want i can create a PR with the assertion as a kind of fix.
Did you introduce the AmazonSQSBufferedAsyncClient with 2.3.x or was this client there before?

[2021-03-02 08:47] maciejwalkowiak commented on #81
Buffered client was there already.

If you have a good solution in mind with the assertion (it should be warning log though, not something preventing app from starting) please go ahead.

[2021-03-02 20:11] tekener commented on #81
Hi @maciejwalkowiak have a look at my PR please

[2021-03-04 22:16] mcruzdev commented on #41
Thank you @maciejwalkowiak, I gonna get it ;)

[2021-03-07 23:35] eddumelendez commented on #65
Description updated with guidelines to build the module

[2021-03-07 23:38] eddumelendez commented on #59
Description updated with guidelines to build the module

[2021-03-07 23:40] eddumelendez commented on #58
Description updated with guidelines to build the module

[2021-03-07 23:56] eddumelendez commented on #57
@willerrgit thanks for the report but we are unable to reproduce it and now there is a test which make sure that everything works properly even if the `spring-mvc` dependency is missing. I will close the issue but feel free to reopen with a sample project.

[2021-03-07 23:56] #57 closed

[2021-03-08 00:59] eddumelendez commented on #81
I think for now is good to add documentation and highlight during the release notes. Just throwing an idea, it would be great to specify queue type with support for STANDARD (DEFAULT) and FIFO and use the proper implementation behind.

[2021-03-08 06:52] arunkpatra commented on #58
Thanks for updating the description @eddumelendez, it helps.

- IMO `SecretsManagerBootstrapConfiguration` may not be needed since the `SecretsManagerClient` beans already getting registered by the `AwsSecretsManagerConfigDataLocationResolver`. The other bean `AwsSecretsManagerPropertySourceLocator` which the `AwsSecretsManagerBootstrapConfiguration` was configuring is probably not needed since we

[2021-03-08 07:35] arunkpatra commented on #59
All guidelines have been factored in #84.

[2021-03-10 21:35] #81 closed

[2021-03-10 21:41] #88 closed

[2021-03-10 21:43] maciejwalkowiak commented on #86
Fixed in https://github.com/awspring/spring-cloud-aws/pull/87

[2021-03-10 21:43] #86 closed

[2021-03-18 08:43] davidmelia opened #101 "AwsParamStoreProperties implements Validator causing No bean named 'aws.paramstore-io.awspring.cloud.paramstore.AwsParamStoreProperties' available"
**Type**: Bug

**Component**:
Parameter Store

**Describe the bug**
AwsParamStoreProperties implements Validator meaning its being picked up by PrimaryDefaultValidatorPostProcessor which tries to find it but its not a bean resulting in

[code]

**Sample**
Super simple to reproduce - create a simple boot app with the following pom and run

[code]

is it possible for a quick hot fix and publish ??

[2021-03-18 10:34] maciejwalkowiak commented on #101
Thanks for reporting we are looking into it!

[2021-03-19 08:19] abracadv8 commented on #23
If it helps, I can share my solution and code; I wasn't able to code it up in an elegant way however.

My implementation:
- Create a configurable number of poller threads
- Moved message processing to its own thread, it in turn hands off to the MessageExecutor
- Create a configurable fair BlockingQueue at least size 10 * poller_threads
- The N poller threads and 1 processor thread all share that s

[2021-03-22 23:02] andrewedstrom opened #103 "Link to documentation is broken"
This is a duplicate of https://github.com/spring-cloud/spring-cloud-aws/issues/766. I know that ownership of this project has changed so I wasn't sure where to file the bug.

**Type**: Bug

**Component**:
Documentation

**Describe the bug**
The link to the documentation for Spring Cloud AWS 2.3.0 is broken here: https://spring.io/projects/spring-cloud-aws#learn

I believe the link should be this:

[2021-03-23 07:15] birnbuazn opened #104 "AbstractMessageListenerContainer ignores unknown SQS queues"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
`io.awspring.cloud.messaging.listener.AbstractMessageListenerContainer#initialize` validates queue attributes and silently ignores unknown SQS queues.

This is problematic in our case, where we configure different queue names for different environments (DEV/TEST/PROD/...), and configuration problems should show a

[2021-03-23 13:15] maciejwalkowiak commented on #103
Thanks for reporting, the docs are fixed: https://docs.awspring.io/spring-cloud-aws/docs/current/reference/html/index.html

[2021-03-23 13:15] #103 closed

[2021-03-25 01:46] dlamblin commented on #50
This is unexpected and leads an RDS Aurora MySQL user to consider just preferring a jdbc url to the cluster, which works normally, finds the writeable instance and handles the read/write failover afaiks; unlike the specific RDS support provided here.

[2021-03-26 22:49] surajaloksinha opened #106 "Unable to start the application after adding dep on aws parameter store config"
Question

I am trying to use aws parameter store with springboot 2.4.4
however i am having problem. https://stackoverflow.com/questions/66823363/springboot-2-4-4-and-awspramstore

I Simply added a dependency on the spring-cloud-starter-aws-parameter-store-config
when i deploy the app to aws it starts up fetches the parameters but crashes after few seconds.

***************************
APPLICATION

[2021-03-27 06:18] arunkpatra commented on #106
An open issue #101 exists for this. The PR #102 is being worked upon.

[2021-03-27 18:44] v1nc3n4 opened #107 "SQS Reactive Streams support"
Hello,

**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I'm working on a Spring Webflux application, and by now, it seems to me very hard to process each messages received from a SQS queue sequentially, with a fixed rate. More generally, it is difficult to override/change the default behaviour of classes such as `SimpleMessageListenerContainer`, because many p

[2021-03-28 07:52] MatejNedic commented on #107
Hey @v1nc3n4 ,
Thanks for opening issue! We are going to rewrite sqs integration in 3.x. so we are going to look at  supportimg reactive streams then.

[2021-03-28 09:21] v1nc3n4 commented on #107
Hi @MatejNedic, glad to read this. Thank you!

[2021-03-30 16:40] nickcaballero commented on #50
An additional note on this is that you might want to use the MariaDB driver to properly handle failover.

https://mariadb.com/kb/en/failover-and-high-availability-with-mariadb-connector-j/

[2021-03-30 22:35] #101 closed

[2021-03-31 07:21] kschlesselmann opened #108 "Application cannot register SSM client"
**Type**: Bug

**Component**:
Parameter Store

**Describe the bug**
Currently we try to migrate our services to Spring Boot 2.4.4, Spring Cloud 2020.0.2 and Spring Cloud AWS 2.3.
As far as I understand the bootstrap context has been deprecated by Spring Cloud Commons and the new way to include configuration via AWS Parameter Store would be
[code]
which we have in `application-aws.yml`.

Now after

[2021-03-31 08:15] MatejNedic commented on #108
Hey @kschlesselmann , tnx on opening issue.
By any chance is `spring.config.use-legacy-processing = true` being used? If bootstraping is used please use `aws.paramstore.enabled = false`. I think issue might be in this.

[2021-03-31 08:28] kschlesselmann commented on #108
Nope, we use default settings and AFAIK we'd have to include `spring-cloud-starter-bootstrap` in order to _enable_ bootstrapping, don't we? At least `spring.application.name` isn't read from `bootstrap.yml` any more.

[2021-03-31 09:16] MatejNedic commented on #108
You are right I mixed it with something else. You would get diffrent stack trace if legacy was set to true. I will have to investigate further.

[2021-03-31 09:17] kschlesselmann commented on #101
Will we get an immediate fix release for this? Seems we're running into this issue as well.

[2021-03-31 09:39] kschlesselmann commented on #108
OK, thanks! If you need further details feel free to ask. I'm afraid I cannot share the code though.

[2021-03-31 22:26] maciejwalkowiak commented on #106
Fixed in #102

[2021-03-31 22:26] #106 closed

[2021-04-01 06:41] kschlesselmann commented on #108
@MatejNedic Just FYI: I can still reproduce this issue using Spring Cloud AWS 2.3.1

[2021-04-01 18:50] eddumelendez commented on #59
Closing in favor of #84

[2021-04-01 18:50] #59 closed

[2021-04-01 19:31] eddumelendez commented on #65
Closing in favor of #91

[2021-04-01 19:31] #65 closed

[2021-04-01 19:31] eddumelendez commented on #58
Closing in favor of #79

[2021-04-01 19:31] #58 closed

[2021-04-01 19:35] eddumelendez commented on #108
@kschlesselmann can you share more details, please? Do you have a custom bean for ssm client? can you share the pom?

[2021-04-03 03:17] eddumelendez commented on #55
The following issues have been created as part of the progress on this topic. See https://github.com/aws/aws-sdk-java-v2/issues/2371 https://github.com/aws/aws-sdk-java-v2/issues/2372

[2021-04-06 07:38] offshorenhstt commented on #108
we are getting same issue with Spring Boot 2.4.3 and AWS spring cloud  2.3.1. Solution is working on local but not working on AWS lambda.

[2021-04-06 11:16] maciejwalkowiak opened #110 "SimpleStorageResource.getURL should not encode s3 object key slash character"
From spring-cloud-aws created by [pilak](https://github.com/pilak): spring-cloud/spring-cloud-aws#768

**Type**: Bug

**Component**:
S3

**Describe the bug**
When trying to get SimpleStorageResource URL it also encodes the slashes in the object name. But in AWS S3 slashes represents folders and may not be encoded, as it is not the same URL anymore.

**Sample**
[code]
throws

[code]

[2021-04-06 11:19] maciejwalkowiak opened #111 "SimpleStorageResource.getURL should not encode s3 object key slash character"
From spring-cloud-aws created by [pilak](https://github.com/pilak): spring-cloud/spring-cloud-aws#768

**Type**: Bug

**Component**:
S3

**Describe the bug**
When trying to get SimpleStorageResource URL it also encodes the slashes in the object name. But in AWS S3 slashes represents folders and may not be encoded, as it is not the same URL anymore.

**Sample**
[code]
throws

[code]

[2021-04-06 11:19] #111 closed

[2021-04-06 11:51] maciejwalkowiak opened #112 "Support providing configuration per SQS listener."
Currently each SQS listener must be configured with the same region and same credentials. We should make it possible to use different configuration per SQS listener for advanced usage.

Context: https://github.com/spring-cloud/spring-cloud-aws/issues/627

[2021-04-06 14:39] kschlesselmann commented on #108
@eddumelendez No, we do not create a custom bean for SSM. This is our `build.gradle.kts`:
[code]

[2021-04-06 14:44] eddumelendez commented on #108
@kschlesselmann is there any reason to use `implementation("org.springframework.cloud:spring-cloud-starter-bootstrap")`? If you are using `spring.config.import=aws-parameterstore:` already there is no need for that dependency.

[2021-04-06 15:11] kschlesselmann commented on #108
@eddumelendez We do not use `spring.config.import` because this leads to the current issue. We added this dep to get the service up and running at all. Our goal would be to remove it again and migrate to `spring.config.import`.

[2021-04-06 15:14] eddumelendez commented on #108
it would be great to have a small example to reproduce the error. I have a basic example using `spring.config.import=aws-parameterstore:` but can not get the same exception

[2021-04-06 15:22] kschlesselmann commented on #108
@offshorenhstt Can you share your POM as well? Maybe we can find some kind of common demoninator?

[2021-04-07 10:15] kschlesselmann commented on #108
@eddumelendez Hm … I'm trying to reproduce the issue on my machine … right now without success. Could it be some issue with ECS Fargate and some buggy auto configuration?

@offshorenhstt Where do you deploy your service? ECS Fargate as well?

[2021-04-07 21:58] chrisrhut opened #114 "Allow both optional and required secrets from AWS SecretsManager"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Using Spring Boot's configuration import it appears that when fetching multiple keys from the Secrets Manager, all must be optional or required, but a combination is not allowed.

This configuration fails for example:

[code]
The application fails to start with the stacktrace:

[code]

**Describe the solution you

[2021-04-07 22:46] chrisrhut commented on #114
Tangentially related: I run into the same startup error if I try to "layer" configurations like so:

**application.yaml**
[code]

**application-p1.yaml**
[code]

Is there a workaround to build up a configuration like this with multiple profiles?

[2021-04-08 13:09] kschlesselmann commented on #108
@eddumelendez @MatejNedic Seems that Spring Cloud Stream creates this issue: Have a look at https://github.com/kschlesselmann/aws-ssm-issue-sample – as soon as you add a simple function + stream dependency the application startup fails.

[2021-04-09 09:27] jakubgruber opened #116 "Support for aws-sdk-java-v2"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I started integrating spring-cloud-aws together with SQS, SNS and X-Ray tracing, but it seems like yhe solution now relies on aws-sdk-java v1.

When integrating spring-cloud-aws with X-Ray tracing, it is necessary to use `ClientOverrideConfiguration` to be able to set `TracingInterceptor` ([docs](https://docs.aws

[2021-04-12 14:35] eloranta-timo opened #117 "The behaviour of spring.config.import=aws-parameterstore: when aws.paramstore.enabled=false seems wrong"
**Type**: Bug

**Component**: Parameter Store

**Describe the bug**
Spring Boot 2.4.4 / Spring Cloud AWS 2.3.1
We are in the process of upgrading from Spring Boot 2.3.x to Spring Boot 2.4.4.
In application.properties we have currently following settings:

[code]

When running our app in AWS things work great - parameters are correctly read from Parameter Store.
However, when trying to run the app

[2021-04-12 16:55] artembilan opened #118 "Mention Spring Integration AWS and Spring Cloud Stream AWS Kinesis Binder projects in docs"
Since this project has been moved outside of Spring portfolio it would be nice to have cross links to projects which still exist over there and are based on this one.

The info I would like to see is something like `References` chapter with a brief mentioning for these projects:

https://github.com/spring-projects/spring-integration-aws/

https://github.com/spring-cloud/spring-cloud-stream-binder-

[2021-04-13 16:01] MatejNedic commented on #116
Hey @jakubgruber , we are currently working on 3.x which will use AWS sdk v2. Some new features will be introduced and some old integrations will be rewritten from scratch. You can check 3.x branch to see how it is going. :)

[2021-04-13 16:02] MatejNedic commented on #108
Thanks @kschlesselmann on sample! Will take a look why error is happening in following days.

[2021-04-13 16:42] nickcaballero commented on #118
https://github.com/spring-projects/spring-integration-aws/issues/193

[2021-04-14 15:48] eddumelendez commented on #114
Hi @chrisrhut, thanks for the report! indeed both required and optional can be applied but I think the stacktrace is related to another issue. could you share a small sample to reproduce the error, please?  See https://github.com/awspring/spring-cloud-aws/issues/108

[2021-04-15 06:12] brendanhatton opened #119 "SQS (QueueMessagingTemplate) still doesn't seem to use the application ObjectMapper to deserialise messages"
**Type**: Bug

**Component**: SQS

**Describe the bug**
The release notes for Spring Cloud AWS 2.3 describe a fix around using the existing ObjectMapper, if one is available in the context - however in my experience this doesn't seem to be the case.

**Sample**
I have created a simple project which shows the problem and a workaround here: https://github.com/brendanhatton/spring-cloud-aws-messaging

[2021-04-15 20:08] maciejwalkowiak commented on #119
Thanks for reporting. Indeed this can be improved

[2021-04-17 06:23] eddumelendez commented on #118
Hi @artembilan, thanks for raising this issue! I agree, we can improve the docs mentioning those spring projects.

[2021-04-17 16:00] eddumelendez commented on #117
@eloranta-timo the way config data resolver works is, first making sure the prefix used is something can be resolved and then resolve it. So, `aws.paramstore.enabled=false` means `aws-parameterstore:` resolution will be disabled and then by using `spring.config.import=aws-parameterstore:` an exception like the one you get is thrown because the resolution for that prefix was disabled. My suggestion

[2021-04-17 16:00] #117 closed

[2021-04-18 20:14] chrisrhut commented on #114
Hi @eddumelendez, here's a minimal test that reproduces the problem. Please let me know if I can provide this in a different format... _Note,_ you'll just need to replace these two lines in the integration test file with secrets that actually exist in your environment, of course I can't provide those :sweat_smile:

[code]

**pom.xml:**
[code]

**src/main/java/example/AwsSecretsTestApplication.java

[2021-04-25 12:14] jorgenota opened #122 "QueueMessageChannel.receive() implementation doesn't align with PollableChannel 's definition"
**Type**: Bug

**Component**:
SQS

**Describe the bug**

- According to javadoc of PollableChannel, MessageChannel.INDEFINITE_TIMEOUT should be used to represent indefinite timeout (instead of 0).
- The timeout parameter of PollableChannel.receive() method represents the timeout in milliseconds (so it should be transformed into seconds when building the ReceiveMessageRequest).

[2021-04-25 17:15] jorgenota commented on #122
Suggested fix in PR #123

[2021-04-28 07:38] sebastianistoblame opened #124 "Only process FIFO queue messages with same MessageGroupId if previous ones were acknowledged"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
When receiving FIFO queue messages as batches of more than 1, it can happen that a newer message with the same `MessageGroupId` is processed before older ones are acknowledged.

Lets consider this example: We have two messages: A, B
A is first in the FIFO queue, B second.

Let's set our Deletion Policy to `NEVER`

[2021-05-05 16:36] codingtim commented on #41
Since this has not moved in 2 months I created a PR: https://github.com/awspring/spring-cloud-aws/pull/130

[2021-05-06 21:48] chrisrhut opened #131 "Use Java 1.6+ MimeTypesFiletypeMap for SimpleStorageResource content type derivation"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
We would like to be able to take advantage of this library's `WritableResource` creation by just using a `s3://` URL. Unfortunately there's not quite enough flexibility in determining the content type. [The code in SimpleStorageNameUtils](https://github.com/awspring/spring-cloud-aws/blob/94ad5ac4015be5491e0dc29d5

[2021-05-09 14:42] rieckpil opened #132 "OIDC Logout for AWS Cognito"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**

AWS Cognito doesn't implement the OpenID Connect [RP-Initiated Logout specification](https://openid.net/specs/openid-connect-rpinitiated-1_0.html) (in draft) yet. When using AWS Cognito together with Spring Security for OAuth 2.0 Login (aka. OIDC) every user will still be logged in at the identity provider when

[2021-05-10 06:54] VijayKumarTiwari commented on #108
Hello @MatejNedic / @eddumelendez,
We have the same issue, I was trying to understand it and found that at **line 106** in https://github.com/awspring/spring-cloud-aws/blob/2.3.x/spring-cloud-starter-aws-parameter-store-config/src/main/java/io/awspring/cloud/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java, there is a **registerSingleton**

event.getApplicationContext().getBea

[2021-05-13 03:55] youcangetme opened #135 "jdk.internal.misc.Unsafe.park(Native Method)"
**Type**: Bug

**Component**:
cloudwatch-metrics-publisher

**Describe the bug**
Shutting down the app results in a "unsafe park" error. Not sure if this is my fault or something new. Just upgrading to 2.3.0

**Sample**
2021-05-12 23:45:37.337 WARN o.a.c.loader.WebappClassLoaderBase   The web application [ROOT] appears to have started a thread named [cloudwatch-metrics-publisher] but has failed to

[2021-05-17 17:16] sbe-genomics opened #136 "Secrets Manager config import not using custom AWSSecretsManager bean"
**Type**: Bug

**Component**:

Secrets Manager

**Describe the bug**
Version: 2.3.1

Hi :wave:,

I'm having a problem with the new style of secrets retrieval that was introduced https://github.com/spring-cloud/spring-cloud-aws/pull/721. This new mechanism is great as it allows us more flexibility in how we store our secrets, however I am having an issue getting it to work with our spring cloud boo

[2021-05-18 20:05] merickson-vg opened #137 "Unexpected in-flight messages in SQS during restart/shutdown"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
io.awspring.cloud 2.3.1
spring-cloud-aws-messaging, spring-cloud-aws-dependencies, spring-cloud-aws-autoconfigure
spring boot 2.4.5

Problem: during app restarts, queued SQS messages go in flight without acknowledgement in the app. During app shutdown, it appears that the polling mechanism is still pulling messages from SQS after the handler

[2021-05-20 11:32] BerndFarkaDyna commented on #50
@maciejwalkowiak:

is there any update on this issue:

for me currently it looks like this is severe blocker using RDS in combination with spring boot:

the functionality to utilize the read replicas is simple broken in combination with spring-cloud-aws-jdbc?

or am I missing something?

[2021-05-25 16:28] pilak commented on #110
I think this is a mistake of me, because I retried with a public AWS content URI and both worked well with encoded and decoded slashes as long as only the objectName is encoding. I don't why it didn't worked at previous try...
Well I apologize for this erroneous report

[2021-05-27 01:54] jasonab opened #140 "Spring container not shutting down after test"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
Running the SQS listener, with Localstack to simulate the queue, the Spring container is not shutting down cleanly when running tests through Maven. This manifests itself in various ways, but my main evidence is that I see these log messages at the end of my test run:

`01:44:42.922 [SpringContextShutdownHook] INFO  o.s.b.a.ApplicationAvailab

[2021-05-27 09:48] davidmelia commented on #108
@MatejNedic any more movement on this? I imagine this blocks many projects moving to spring cloud aws 2.3.x

[2021-05-27 09:53] MatejNedic commented on #108
Hey @davidmelia,

I was having some issues and was not able to work on a project. Will take deeper look today since I finally have some time free. From quick looks I had before some refactoring will be needed. Hopefully we will be able to have PR soon.

[2021-05-27 15:42] GCHQDeveloper926 commented on #73
I can't seem to get spring-cloud-aws to pick up my session token still - does the vault fix only apply if you are using Vault? If I am using spring-cloud-aws will I need to implement spring-cloud/spring-cloud-vault#575 on this repo as well?

[2021-05-27 16:37] krisiye commented on #73
That is expected and hence this issue. The referenced vault PR adds the capability to set the session token when using STS with vault. spring cloud aws already supported creds but not session token. Will have to implement something similar to what i have in the description to not only pick up session tokens but also support rotation.

[2021-05-27 21:39] GCHQDeveloper926 commented on #73
Are you using vault to solve this problem, or do you still have this problem with spring-cloud-aws? If I can use vault, so that when using spring-cloud-aws I can use an assumed role/session token that would be a good workaround, or I could look to implement what you originally described in the issue above

[2021-05-28 04:32] krisiye commented on #73
Vault aws backend was enhanced to support STS session tokens. As far as picking up these tokens and rotation is concerned, i am just using a custom refresh scope bean that is refreshed upon lease rotation.  I have described the solution here - https://hmh.engineering/aws-sts-with-spring-cloud-vault-2d7fb0b82aaf Will be nice to implement the same within spring cloud aws.

[2021-05-28 08:36] eduan-envel opened #141 "No primary or single public constructor found for NotificationStatus"
**Type**: Bug

**Component**: SNS

**Describe the bug**
Boot: 2.4.6
Cloud: 2020.0.2
awspring: 2.3.1
Using webflux and Kotlin.

When adding a subscription on SNS, I get this error:

[code]

**Sample**
[code]

[2021-05-30 09:28] MatejNedic commented on #136
Hey @sbe-genomics,
there is one issue with using custom bean with ConfigDataLocationResolver and that is that you will have to register bean manually. Problem is that your bean in the example is being created at ApplicationContext time, but ConfigDataLocationResolver is resolved before the ApplicationContext phase.  Currently, even if you register it manually, this will not work because of #108  w

[2021-05-31 16:22] maciejwalkowiak commented on #141
Support for Webflux or Reactive APIs is planned to be added for 3.0. Currently if you want to use SNS integration, you must use Spring MVC or craft Webflux integration yourself (then maybe better to do it with AWS SDK v2).

[2021-05-31 16:22] #141 closed

[2021-06-01 14:52] sbe-genomics commented on #136
Thanks for the response @MatejNedic.

Potentially daft question - how would you register the bean manually at the correct phase? Would I need to override `AwsSecretsManagerConfigDataLocationResolver`?

[2021-06-02 07:48] SergeiKhmelevSPA opened #143 "Improper link in documentation "Parameter Store and Secrets Manager Configuration credentials and region configuration""
**Type**: Bug

**Component**: documentation

**Describe the bug**
A problem is in "_Parameter Store and Secrets Manager Configuration credentials and region configuration_" paragraph of the current version of the documentation ([link](https://docs.awspring.io/spring-cloud-aws/docs/current/reference/html/index.html#parameter-store-and-secrets-manager-configuration-credentials-and-region-configurati

[2021-06-02 09:02] SergeiKhmelevSPA opened #144 "Add possibility to set up credentials for the Secrets Manager"
**Type**: Feature

**Tech details**: Spring boot 2.5.0, spring-cloud-aws-dependencies 2.3.1.

**Is your feature request related to a problem? Please describe.**
I was surprised about the effort you should put to make a Secrets manager work with a non-default `DefaultAWSCredentialsProviderChain` credentials. The only solution I found is to have a bootstrap Configuration with the `AWSSecretsManager`

[2021-06-02 14:50] MatejNedic commented on #136
Hey @sbe-genomics ,
You would have to use [BootstrapRegistry ](https://docs.spring.io/spring-boot/docs/2.5.0-SNAPSHOT/api/org/springframework/boot/BootstrapRegistry.html) and register your bean with it.
Hope this helps.

[2021-06-04 16:47] jakubgruber opened #145 "Multiple aws-secretmanager configs registers AWSSecretsManagerClient twice"
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
Application tries to register `AWSSecretsManagerClient` twice when multiple configs are registered in `spring.config.import` property.

Version: 2.3.0

**Sample**

Register two AWS Secrets Manager configs in `spring.config.import`.

[code]

Application stack trace:

[code]

[2021-06-08 06:11] jakubgruber commented on #145
The configuration was incorrect and "protocol" needs to be defined just once.

[code]

Multiple AWS SecretsManager sources:

- define `aws-secretsmanager:` once
- secrets starting by `/secret/` separate by semicolon

Maybe it would be nice to highlight possibility of multiple secrets in the documentation.

[2021-06-08 06:11] #145 closed

[2021-06-08 18:43] dmytrodanilenkov commented on #20
@MatejNedic how migration is going on? I see that no merges for 2 last months in branch v3.

[2021-06-09 17:16] marcuslange opened #146 "Secrets Manager aws.secretsmanager.prefix does not allow addition segments"
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
The old library and current documentation says:

Prefix indicating first level for every property loaded from the Secrets Manager. Value must start with a forward slash followed by one or more valid path segments or be empty.

The new regex does not allow for additional path segments, only validates that it starts with slash:
Old

[2021-06-09 18:51] MatejNedic commented on #146
Hey @marcuslange ,
Thanks for reporting. Regex will be updated soon.

[2021-06-09 19:05] MatejNedic commented on #20
Hey @dmytrodanilenkov ,
we are working on rewrites so it will take a little longer than expected. Hopefully, things will start rolling again.
If you have a desire PRs are welcome! :)

[2021-06-09 19:06] MatejNedic commented on #145
Hey @jakubgruber,
sorry for the late response, yes secrets should be split with ";".
Are you interested maybe in reflecting docs and making PR with change?

[2021-06-09 19:31] MatejNedic commented on #144
Hey @SergeiKhmelevSPA ,
The thing is we will be deprecating Bootstrap in 3.x.  so I am not sure this feature would provide any benefits in the future.

[2021-06-10 05:50] jakubgruber commented on #145
I noticed it is mentioned it the docs, so it's my bad :))

https://docs.awspring.io/spring-cloud-aws/docs/2.3.0-RC1/reference/html/index.html#integrating-your-spring-cloud-application-with-the-aws-secrets-manager

[2021-06-10 08:53] SergeiKhmelevSPA commented on #144
Glad to hear that! Hope there will be an easy way to set up credentials.

[2021-06-10 08:53] #144 closed

[2021-06-10 12:00] GCHQDeveloper926 opened #149 "Add support to auto-configure if session token present"
**Type: Feature**

**Is your feature request related to a problem? Please describe.**
As mentioned in a few issues:
https://github.com/spring-cloud/spring-cloud-vault/pull/575
https://github.com/awspring/spring-cloud-aws/issues/73

Spring doesn't create a context with a session token in the AWS properties for an application.

**Describe the solution you'd like**

I would like to extend spring-clou

[2021-06-10 12:06] GCHQDeveloper926 commented on #73
I didn't realise this was still open/I had re-poened it, Just raised #149  to track making this change with proposed changes.

[2021-06-10 12:08] GCHQDeveloper926 commented on #149
I am happy to close this in favour of existing #73

[2021-06-12 12:26] Lucas3oo commented on #50
Also most people want to select the connection pool themselves. Spring cloud AWS kind of hard code it to Tomcat's  connection pool.

[2021-06-16 12:10] tekener opened #151 "Spring Boot 2.4.7 issue when spring.config.import is used in application-{profile}.yaml"
**Type**: Bug

**Component**:
Parameter Store

**Describe the bug**
After the update from spring boot 2.4.6 to 2.4.7 this kind of import inside a application-{profile}.yaml does not work anymore.
[code]

Spring does now only call the `resolve` method on the `AwsParamStoreConfigDataLocationResolver` and not the profile specific `resolveProfileSpecific` one.

It i working when you are doing this in

[2021-06-16 12:11] tekener commented on #151
Will provide a PR with a proper implementation of the resolve method when the import is done in the profile specific config file.

[2021-06-17 10:36] #108 closed

[2021-06-17 10:57] dmytrodanilenkov commented on #20
@MatejNedic maybe you could point to small/minor issues I can start working on? Just to start get familiar with code base of project

[2021-06-22 20:24] tekener commented on #151
A workaround for this issue is to set the import via the command line and not inside the profile specific application.properties
`-Dspring.config.import=aws-parameterstore:/config/my-service/`

[2021-06-23 15:52] Larisho opened #154 "Question regarding next release"
Hello,

I noticed that #142 was committed to the 2.3.X branch a few days ago. I was wondering when that fix will be released to maven central?
The applications I am working on all suffer from the issue that was fixed and I was wondering when I could take advantage of the bugfix.

[2021-06-24 17:40] eddumelendez commented on #151
@tekener I think it is related to https://github.com/spring-projects/spring-boot/issues/26960 which has just been released for 2.4.8

[2021-06-28 14:34] joshiste opened #155 "Slow integration tests due to ContextRegionProviderAutoConfiguration"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Integration tests (that spin up Spring Contexts, but don't access AWS) are taking much longer than necessary because the ContextRegionProviderAutoConfiguration is always active and tries to read the instance metadata.
as you can see from the logs ~4 seconds are lost:
[code]

**Describe the solution you'd like**
A

[2021-06-29 19:58] joelhess-icario opened #156 "SQS Global Deletion Policy does not appear to work."
**Type**: Bug

**Component**:
SQS

**Describe the bug**
Using v2.3.0
spring boot 2.4.1,
Kotlin 1.4
Following the documentation from: https://docs.awspring.io/spring-cloud-aws/docs/2.3.0-RC2/reference/html/index.html#deletion-policies

Declaring the SQS deletion policy to be `ON_SUCCESS` globally in my app yaml does not appear to have any impact. We see messages that are successfully handled (no ex

[2021-06-30 01:45] Cimballi commented on #154
Is there any trick to avoid that bug while waiting for the fix to be pushed to Maven central ?

[2021-07-01 09:40] MatejNedic commented on #156
Hey @joelhess-icario,
Thanks on reporting the issue. Will check it out in following days.

[2021-07-01 09:49] #143 closed

[2021-07-01 11:14] #146 closed

[2021-07-06 10:02] GuessWho99 opened #158 "Long pooling using @SqsListener"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Enable long pooling using @SqsListener

**Describe the solution you'd like**
Long pooling for SQS is crucial feature. I was wondering if it's possible to make it configurable from @SqsListener annotation?

[2021-07-07 09:45] celcius112 opened #159 "Add optout option for profile-specific property loading"
**Type**: Feature

Hello,

In one project we are using both the **secrets manager** and **parameter store** integrations. This project has 4 Spring profiles. As secrets name and parameter prefix we have a clear nomenclature that does not involve the Spring profiles. However, when the application starts up, spring-cloud-aws will always try to retrieve the properties by suffixing it with each profil

[2021-07-07 16:12] MatejNedic commented on #159
Hey @celcius112 ,

we are planning to do that and we will deprecate it fully in 3.x. In 2.3.0 we introduced spring.config.import where you can specify which secrets or parameters you want (by path) which will not include load per profile. More can be found on: https://docs.awspring.io/spring-cloud-aws/docs/2.3.0-RC2/reference/html/index.html#integrating-your-spring-cloud-application-with-the-aws-s

[2021-07-07 20:24] Larisho commented on #159
@MatejNedic Do you have a timeline or any other details regarding the next release?

[2021-07-08 08:12] celcius112 commented on #159
Hello @MatejNedic and thank you for your answer. It is quite useful to know that the bootstrap way will be deprecated in the next major release :).

Indeed the spring.config.import way was not working as expected previously, and we took the easy solution by using the legacy bootstrap. We will try using spring.config.import using the snapshot.

If there is an issue we will open another issue.

If t

[2021-07-08 14:21] celcius112 opened #161 "Add support for spring.config.import with S3 backend"
**Type**: Feature

First of all, as a disclaimer, I am not sure whether this feature request should be in this repo or in https://github.com/spring-cloud/spring-cloud-config, as there is already a S3 implementation for the legacy bootstrap.

Similar to the parameter store and secrets manager configuration, it would be great if AWS S3 could be used as external configuration backend, such as:
[code]

[2021-07-09 16:35] michalgorka opened #162 "Not loading properties from secrets manager"
**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**
Spring boot: 2.4.8
spring-cloud-starter-aws-secrets-manager-config: 2.3.1

I'm using your example and  module not loading data from secrets manager. It's look like the AwsSecretsManagerBootstrapConfiguration isn't called.

**Sample**
application.properties

[code]
main class

[code]

[2021-07-09 16:54] MatejNedic commented on #159
@Larisho we are working on it. Since Bintray has been shut down we are migrating release scripts. This will take some time.
@celcius112 this issue can be closed.

[2021-07-09 16:55] MatejNedic commented on #162
Hey @michalgorka,
could you please provide pom.xml

[2021-07-09 16:58] MatejNedic commented on #161
Hey @celcius112 ,
S3 module currently doesn't support spring.config.import .
Could you please explain in greater detail what would you expect this feature to support?

[2021-07-09 18:23] michalgorka commented on #162
@MatejNedic

AWS cli is showing correctly properties from secret manager.

[code]

[2021-07-09 20:45] MatejNedic commented on #162
@michalgorka I miss read your first message. You should use Bootstrap.properties since old way of loading secret manager is done in Boostraping phase. Put prefix and default context values into Bootstrap.properties and it should work without issue.

[2021-07-09 21:01] celcius112 commented on #161
Hello @MatejNedic,

At the moment, spring-cloud-config-server proposes a S3 module that retrieves `.properties`, `.yml` or `.json` files from a S3 bucket. Using the legacy bootstrap the properties are imported into the application environment.

I have implemented what spring-cloud-config-server proposes, but using Spring Boot's `spring.config.import`:
[code]
I don't think this module should have m

[2021-07-09 21:02] #159 closed

[2021-07-10 07:55] #136 closed

[2021-07-10 13:47] michalgorka commented on #162
@MatejNedic  i moved prefix na default context into bootstrap.properties and still i have the same problem error:

java.lang.IllegalArgumentException: Could not resolve placeholder 'password' in value "${password}"

This is my response from aws cli:
[code]

[2021-07-10 14:18] MatejNedic commented on #162
Hey @michalgorka ,
you are missing dependency to spring cloud boostrap. Please add

`<dependency> <groupId>org.springframework.cloud</groupId> <artifactId>spring-cloud-starter-bootstrap</artifactId>
</dependency>`

[2021-07-12 15:32] Larisho commented on #159
@MatejNedic Let me know if you guys need/want any help. Happy to lend a hand

[2021-07-12 21:48] jonatan-ivanov commented on #116
After this is implemented, what are your plans with the V1 SDK? Are you planning to completely remove (or deprecate) it? If so, do you have a timeline?
I'm asking because as far as I know, there V2 SDK hasn't reached feature parity with V1, and we have the same issue with Micrometer: https://github.com/awspring/spring-cloud-aws/issues/116 (right now we are supporting both but we are looking into r

[2021-07-13 01:55] jonhines commented on #162
I've run into the same exact issue.

@MatejNedic ive added all of my config back into bootstrap, and the properties still are never properly fetched:

`bootstrap.properties`:
[code]

in `application.properties`:
[code]

and in pom.xml:
[code]

I wanted to get this working using the `spring.config.import` path as well, but I ran into issues where the application never detected secrets manager as a

[2021-07-13 04:36] michalgorka commented on #162
Hi thx for help it's working :)

[2021-07-13 07:56] maciejwalkowiak commented on #116
Ideally we would like to have it done till the end of 2021, but I am not sure yet how realistic is it.

I think all or great majority of functionality we need is implemented in V2. If not, V1 and V2 can work side by side in the same project as the package name in v2 has changed.

[2021-07-13 13:06] jonhines commented on #162
@michalgorka can you share the config/props/pom that got this working?  I'm still not able to see this working yet

[2021-07-13 13:27] jonhines commented on #162
I think I've got my issue figured out.  To use the bootstrap approach for using AWS secrets manager, i needed to bring in the old dependency from `org.springframework.cloud`.

I made a bad assumption that the `io.awspring.cloud` dependencies would be able to handle the property location based on the usage of this property: `spring.config.use-legacy-processing=true`

But that doesnt seem to be the

[2021-07-13 17:43] MatejNedic commented on #162
Hey @jonhines ,
 new project doesn't change old way of loading properties in Bootstrap context. It is still supported so using dependency like below won't change that.
 `<dependency>
    <groupId>io.awspring.cloud</groupId>
    <artifactId>spring-cloud-starter-aws-secrets-manager-config</artifactId>
    <version>2.3.1</version>
</dependency>`
 Could you please provide a sample for the not working

[2021-07-14 10:17] klaphi opened #163 "How to initialize RDS connection during application boostrap with setting stored in AWS SSM Parameter Store / Secrets Manager"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I  am trying to setup a RDS connection during application boostrap from AWS SSM parameter store.  For that I was just trying to store the RDS parameters as key in AWS SSM parameter store. The problem is that square bracket are not allowed within keys.

Trying to store something like _cloud.aws.rds.instances[0].db

[2021-07-14 16:01] jonhines commented on #162
@MatejNedic the config I posted above provides that example:
https://github.com/awspring/spring-cloud-aws/issues/162#issuecomment-878717039

I never got the secrets to pull via bootstrap until I added the legacy secrets manager dependency

[2021-07-15 15:47] michalgorka commented on #162
@jonhines Can you show us your pom ?

[2021-07-17 05:19] maciejwalkowiak commented on #151
I confirm, this issue has been fixed in Spring Boot 2.4.8.

[2021-07-17 05:19] #151 closed

[2021-07-17 08:17] #41 closed

[2021-07-18 03:28] maciejwalkowiak commented on #163
You can store password in another key that is referenced like this:

[code]

Does it solve your problem?

[2021-07-18 03:51] maciejwalkowiak commented on #162
Let me chime in. There are two ways properties can be loaded from Secrets Manager:

1. With `spring.config.import` introduced in Spring Boot 2.4 (and Spring Cloud AWS 2.3)

Sample application: https://github.com/awspring/spring-cloud-aws/blob/2.3.x/spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample

2. Legacy mode in Spring Cloud Bootstrap phase.

Sample application: https://github.c

[2021-07-18 04:11] maciejwalkowiak commented on #158
Long polling is enabled by default as the `waitTimeout` [is set to 20 seconds](https://github.com/awspring/spring-cloud-aws/blob/2.3.x/spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/messaging/SqsProperties.java#L85).

Timeout can be controller through a property: `cloud.aws.sqs.listener.wait-timeout`.

We do want to bring more flexibility to configuration per-listener

[2021-07-18 04:41] maciejwalkowiak commented on #156
Passing the global deletion policy value from properties to listener configuration works and there should be no difference between setting global policy and per-listener in regards to how many times message is processed.

Is this something you can reproduce, always happening or only sometimes under certain conditions? Deleting message is a separate HTTP call to SQS from retrieving it, there is a c

[2021-07-18 05:06] maciejwalkowiak commented on #155
Currently in addition to `@EnableAutoConfiguration(exclude=...)` the options are:

1. Exclude auto-configuration through a properties file:

[code]

2. Set static region

[code]

I am thinking how typical use case is it, that there is Spring Cloud AWS on the classpath but region is not resolvable or not set statically.

[2021-07-19 04:02] maciejwalkowiak commented on #135
Memory leak like this will take an effect only during WAR deployment, since the application server process lives longer than the application itself. With JAR deployments, this is a non-issue.

@youcangetme there is no `cloudwatch-metrics-publisher` component in Spring Cloud AWS - we only provide auto-configuration for `micrometer-registry-cloudwatch`. Perhaps you can create an issue in https://git

[2021-07-19 04:02] #135 closed

[2021-07-19 04:09] maciejwalkowiak commented on #131
Thanks @chrisrhut for suggestion and apologies for late reply. I like this idea if especially if we make it in a backward compatible way - so that we don't break existing users - and also if we make using `javax.activation` API optional. Checking for class presence can be done with Spring `ClassUtils.isPresent(..)`. You have green light for preparing a PR 👍

[2021-07-19 07:24] GuessWho99 commented on #158
Thanks for answer

[2021-07-19 07:24] #158 closed

[2021-07-19 14:40] Cimballi opened #165 "Spring Boot logging and missing traces"
[test-spring-logging.zip](https://github.com/awspring/spring-cloud-aws/files/6841792/test-spring-logging.zip)
From https://github.com/spring-projects/spring-boot/issues/27406

I think there is a bug / problem in the way Spring Boot configures logging with Logback.

Using Spring Boot 2.4.8 and Spring Cloud Aws 2.31, I created a minimalist Spring Boot application with a dependency on "spring-cloud-s

[2021-07-20 03:49] maciejwalkowiak commented on #165
Thanks for reporting. As Andy explained in linked Spring Boot issue, AWS logs are not printed as the logging subsystem isn't ready yet. We cannot though use `DeferredLog` as this is a 3rd party package. We can make the logging message more self explanatory though.

Currently when I run your sample, I am getting following error message:

[code]

which gets resolved through `ConfigDataNotFoundFailur

[2021-07-21 03:35] maciejwalkowiak commented on #50
@dlamblin for the failover scenario, I would also recommend just using plain JDBC url. Read replica support is the interesting feature of Spring Cloud AWS.

@BerndFarkaDyna read replicas do work, just not with Aurora.

@Lucas3oo very much agreed.

[2021-07-21 03:37] maciejwalkowiak commented on #110
@pilak no worries 👍

[2021-07-21 03:37] #110 closed

[2021-07-21 05:06] maciejwalkowiak opened #166 "Add ability for SimpleStorageResource.getURL() to account for custom repositories not hosted in AWS"
From spring-cloud-aws created by [celdridge91190](https://github.com/celdridge91190): spring-cloud/spring-cloud-aws#774

**Type**: Feature

**Is your feature request related to a problem? Please describe.**
When trying to use Spring Cloud config with an S3 backend it is required to add spring-cloud-aws as a dependency to be able to take advantage of the SimpleStorageProtocolResolver in order to se

[2021-07-21 05:14] maciejwalkowiak opened #167 "Prefix for paramstore cannot be empty"
From spring-cloud-aws created by [JohannesZick](https://github.com/JohannesZick): spring-cloud/spring-cloud-aws#776

**Type**: Bug

**Component**:
Parameter Store

**Describe the bug**
According to the documentation, the prefix can be either a valid path or empty. This is great, because I want to only have the application name, no static prefix. But in reality, there is a validation that rejects `

[2021-07-21 05:14] maciejwalkowiak commented on #167
Either fix docs, or allow empty (if AWS allows it too).

[2021-07-21 05:22] maciejwalkowiak opened #168 "Secrets manager issues in Spring boot 2.4"
From spring-cloud-aws created by [jojijohn](https://github.com/jojijohn): spring-cloud/spring-cloud-aws#781

**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**
Spring boot 2.4.3
Spring Cloud AWS: 2.3.1

I am facing a couple of issues with Spring Cloud AWS integration for Secrets Manager and Parameter Store. I am planning to store my config in Parameter Store and the secrets in Sec

[2021-07-22 05:00] fletchgqc commented on #50
I'm trying to switch from RDS Postgresql to Aurora Serverless and I found that it doesn't work with Spring Cloud AWS.

Am I correct in surmising that the reason it doesn't work is that Aurora Serverless only provides a cluster (instead of instance) URL? And therefore, in order to use Aurora Serverless, this issue needs to be fixed?

If so, I think that as a very first step, this should be addresse

[2021-07-22 09:24] maciejwalkowiak commented on #50
@fletchgqc both traditional Aurora and Aurora Serverless aren't supported.

[2021-07-23 00:22] chrisrhut commented on #131
Hi @maciejwalkowiak, thanks for the reply and no worries on the delay!

Unfortunately the default behavior changes in a non-extensible way: the `javax.activation.MimeTypesFiletypeMap` falls back to `application/octet-stream` - rather than `null` - if there's no match, and there's no way to modify this behavior.

My suspicion is that ultimately this would be fine, since any store such as s3 would j

[2021-07-23 15:03] fletchgqc commented on #50
@maciejwalkowiak Ahh OK, thanks for the info. Maybe that should be mentioned in the docs? Because Aurora is a part of RDS, and RDS is partly supported.

[2021-07-27 11:52] MartinStigen opened #169 "spring-cloud-aws-parameter-store-config prioritizes default-context parameters over service-specific parameters"
**Type**: Bug

**Component**: Parameter Store

**Describe the bug**
Spring Cloud Version: 2.3.1
In parameter store we have two parameters with names:
1. /config/application/xxx
2. /config/my-service/xxx

In our spring application.properties we have the following configuration:
`spring.application.name=my-service`

When we start the application it is the parameter from (1.) that is set, even though

[2021-08-02 06:45] ivanfomkin opened #170 "Adding a new region for Yandex Cloud support"
**Type**: Feature

Hello!
I'm try to use spring-cloud-aws-messaging with spring-cloud-aws-autoconfigure for Yandex Cloud integration (Yandex Message Queue). Version of this dependencies is 2.3.1
Region for Yandex Message Queue (Support Amazon SQS API) is _ru-central1_
When I'm try config region (_cloud.aws.region.static_ or _cloud.aws.sqs.region_) I'm getting this stack trase:
[code]

I'm see, wha

[2021-08-02 07:14] ivanfomkin commented on #170
A temporary solution to my problem is classed-based configuration

It's my config class:

[code]

And it's my application.properties:
[code]

This's is solve my problem, but it's not autoconfiguration

[2021-08-14 21:01] maciejwalkowiak opened #172 "Mention no support for Aurora in RDS docs"

[2021-08-14 21:01] maciejwalkowiak commented on #50
@fletchgqc you're right https://github.com/awspring/spring-cloud-aws/issues/172

[2021-08-14 21:05] maciejwalkowiak commented on #170
Thanks @ivanfomkin for providing a temporary solution. We can consider it for Spring Cloud AWS 3.0. Please note that supporting Yandex cloud is not our priority (although it would be nice if can be done with low cost)

[2021-08-14 21:07] maciejwalkowiak opened #173 "Document that cloud.aws.region.static must be set if not running in AWS"
From spring-cloud-aws created by [Slooz](https://github.com/Slooz): spring-cloud/spring-cloud-aws#784

**Type**: Feature

**Is your feature request related to a problem? Please describe.**
A lot of people seem to get confused by the following error:

#272, #251, #148

**Describe the solution you'd like**
While the error clearly points out the issue, the documentation doesn't make any mention of it

[2021-08-14 21:11] maciejwalkowiak opened #174 "Enhancement: Add possibility to configure maxNumberOfMessages per SqsListener"
From spring-cloud-aws created by [arseniiR](https://github.com/arseniiR): spring-cloud/spring-cloud-aws#387

Scenario: I have 2 queues, one 'my-queue-1' of type = standard queue and 'my-queue-2' of type FIFO queue. I would like to grab as many messages as possible from 'my-queue-1', and want to preserve order during message processing on 'my-queue-2' by consuming only one message at a time.
For ex

[2021-08-14 21:11] maciejwalkowiak commented on #174
I've been trying to figure out how to create and set a different SimpleMessageListenerContainer per @SQSListener, which would include setting just the maxNumberOfMessages.  My use case is to have 2 listeners, each requiring a different AmazonSQSAsync (one requiring STS credentials and another requiring default credentials).  If there is a way to do that, I would certainly like to know how.

By the

[2021-08-14 21:11] maciejwalkowiak commented on #174
Sometimes you need to use multiple groups. For example to process, in order, messages for a customer. If you have many customers, for each customer you will have one group. This will ensure fairness and will allow message processing in a concurrent way across customers.
Of course if you want to preserve order across all the messages in the queue, then you need to use one group. In this case, once

[2021-08-14 21:11] maciejwalkowiak commented on #174
@lenlaurito there is a global configuration option. There is no option per-listener. What's your use case?

[2021-08-14 21:11] maciejwalkowiak commented on #174
Not sure if you are intentionally grouping the messages, as you don't need to.

From the docs:
https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html
`Every message sent to a FIFO queue requires a message group ID. If you don't need multiple ordered message groups, specify the same message group ID for all your messages. `

[2021-08-14 21:11] maciejwalkowiak commented on #174
Is it possible to configure different `maxNumberOfMessages` for listeners of different standard queues?

[2021-08-14 21:11] maciejwalkowiak commented on #174
@maciejwalkowiak Our application has listeners with different needs. Some needs to have lower max number of messages because it might take a while to finish and it might need more resources (CPU/memory). While other listeners have processes that are quick and don't require much resources and these listeners usually need to process a lot of messages so having a higher max number of messages would b

[2021-08-14 21:11] maciejwalkowiak commented on #174
Got it

[2021-08-14 21:11] maciejwalkowiak commented on #174
Was facing the same issue

Following 'hack' worked for me:

`@Bean
	public SimpleMessageListenerContainerFactory simpleMessageListenerContainerFactory(AmazonSQSAsync amazonSqs) {

		return new SimpleMessageListenerContainerFactory() {
			@Override
			public SimpleMessageListenerContainer createSimpleMessageListenerContainer() {
				SimpleMessageListenerContainer simpleMessageListenerContainer = ne

[2021-08-14 21:11] maciejwalkowiak commented on #174
Have you had any luck figuring out how to configure different `SimpleMessageListenerContainer`s per listener?
My alternate approach has been to use https://github.com/awslabs/amazon-sqs-java-messaging-lib instead - it allows us to specify the `containerFactory` for each `@JmsListener`

[2021-08-14 21:11] maciejwalkowiak commented on #174
As I can see, the maxNumberOfMessages is  added for each request to receive messages.
See: com.amazonaws.services.sqs.model.ReceiveMessageRequest#withMaxNumberOfMessages
and:
org.springframework.cloud.aws.messaging.listener.AbstractMessageListenerContainer.QueueAttributes#getReceiveMessageRequest

Thus, you don't need to add different SimpleMessageListenerContainer per @SQSListener! This means you

[2021-08-14 21:11] maciejwalkowiak commented on #174
this would be great feature to have

[2021-08-14 21:18] maciejwalkowiak opened #175 "Can't create a custom PropertySourceLocator that depends on AwsSecretsManagerPropertySourceLocator"
From spring-cloud-aws created by [petersonbr](https://github.com/petersonbr): spring-cloud/spring-cloud-aws#783

**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
Version: spring-cloud-aws: 2.2.6.RELEASE

I needed to create a custom `PropertySourceLocator`, and this property source needed to be processed after `AwsSecretsManagerPropertySourceLocator`. I've followed [this doc](htt

[2021-08-14 21:20] maciejwalkowiak opened #176 "Verifying the Signatures of Amazon SNS Messages"
From spring-cloud-aws created by [madoxas](https://github.com/madoxas): spring-cloud/spring-cloud-aws#240

I can't find where spring cloud aws verifies sns message signature (http://docs.aws.amazon.com/sns/latest/dg/SendMessageToHttp.verify.signature.html).
Is it done at all?

[2021-08-14 21:20] maciejwalkowiak commented on #176
With the move to a new repository (https://github.com/awspring/spring-cloud-aws) I was wondering if there was any update on this issue being addressed?

I had a quick look but the code still looks to be very similar to the code in this repository (I might have missed it).

[2021-08-14 21:20] maciejwalkowiak commented on #176
Closing this due to inactivity. Please re-open if there's more to discuss.

[2021-08-14 21:20] maciejwalkowiak commented on #176
I know this is an old ticket, but I can't find the part of code that verifies the signature too. I think it should be in the `NotificationRequestConverter.java`, but I could not find it there.
[According to AWS Docu](https://docs.aws.amazon.com/sns/latest/dg/sns-verify-signature-of-message.html) the message signature **should** be verified on all messages. Therefore, not checking the signature cou

[2021-08-14 21:20] maciejwalkowiak commented on #176
Thanks @KarlKl for letting us know. We are taking care of it.

[2021-08-15 11:36] Lucas3oo commented on #50
To add some info in general: You can setup Aurora as a cluster with only one instance in it. Then the "endpoint" will be the "writer" endpoint, But the specific "reader" endpoint will in fact be the same hostname in case of a one instance cluster.
So it is perfectly OK to use an Aurora cluster like that from Spring. But Since the failover is done using DNS names you should set the DNS cache TTL in

[2021-08-16 17:40] MatejNedic commented on #114
Hey @chrisrhut ,
Sorry for the late response. The issue you described has been fixed with #142
Once released you will be able to do this without any issues:

`spring:
  config:
    import:
      - aws-secretsmanager:/secret/app/required
      - optional:aws-secretsmanager:/secret/app/optional`

I am closing this issue now but if you have any more questions feel free to write.
Fix will be applied w

[2021-08-16 17:40] #114 closed

[2021-08-17 06:13] chrisrhut commented on #114
Thank you @MatejNedic, I'll give it a try!

[2021-08-19 05:12] ivanfomkin commented on #170
Ok. thank you!
It will be cool if u add this feature for Yandex Cloud (or other cloud services)

[2021-08-21 01:17] aspiejane opened #179 "how to disable secrets manager config from loading default profile secret, when running with a specific profile"
**Question**

When running springboot with a specific profile **dev**  with secrets manager
[code]

aws secrets manager config is loading secrets from both the dev profile `/secret/aws-secrets-dev` and the secret from default profile `/secret/aws-secrets`

[code]

### How can I prevent secrets manager config from loading `/secret/aws-secrets`?

---

**spring boot 2.5.4** with:

[code]

**bootstrap

[2021-08-22 17:02] dhananjay12 opened #180 "Add option to use MariaDB drivers when connecting to Aurora MySQL DB cluster"
Spring Boot - 2.4.7, Spring Cloud AWS - 2.3.1

We were trying to use `spring-cloud-starter-aws-jdbc` to connect to an RDS mysql database and were getting SSL exceptions.
[code]

From [Aws docs](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Security.html), its mentioned that
[code]

I changed the driver to mariadb-java-client, but spring-cloud-aws-jdbc internally sets the

[2021-08-22 20:10] MatejNedic commented on #179
Hey @aspiejane ,
currently there is no way to disable prefix/defaultContext look up.
If you take a look [here](https://github.com/awspring/spring-cloud-aws/blob/2b58c4513a1a76a83c5c13e91833dd936eae2e0f/spring-cloud-aws-secrets-manager-config/src/main/java/io/awspring/cloud/secretsmanager/AwsSecretsManagerPropertySources.java#L50) you will see that context of loading is always added.

You can check

[2021-08-23 12:50] aspiejane commented on #179
Thank you

[2021-08-23 12:50] #179 closed

[2021-09-01 20:14] derylspielman opened #183 "Support S3 pathStyleAccess"
For non AWS implementations of S3 like Dell EMC ECS the URI scheme may use a path style access like `somedomain.com/bucketname` instead of `bucketname.somedomain.com`.

Please add support for property `cloud.aws.s3.pathStyleAccess` which can be set to true/false to set the `withPathStyleAccessEnabled` on the `AmazonS3Client`. See example below.

[code]

[2021-09-02 06:29] sdusza1 commented on #124
I've been analyzing the same issue. I think the problem lies in `MessageGroupExecutor.run()`.

There when an exception is caught the loop continues to process messages from the group.
And I think it shouldn't continue so that the next time messages from this group are recieved
they should be processed in the same order.

I suspect that adding a break in this method could solve this problem:

`
for

[2021-09-03 09:46] codingtim commented on #124
I would also prefer this behavior in my FIFO queues.

However I think the break is too simple.
If the deletion policy is for example ALWAYS there is no need to break out of the for loop.

So the behavior could be specified by:
- the deletion policy meaning if the message is removed on failure then the for loop continues (applyDeletionPolicyOnError does not have a return so at the moment we don't k

[2021-09-03 18:36] sdusza1 commented on #124
@codingtim I think You're right. We could check the value of `this.deletionPolicy` and execute break if  `ON_SUCCESS`. I'm not sure about the other policies.

[2021-09-07 10:40] maciejwalkowiak opened #185 "Upgrade Maven wrapper to 3.8.1"

[2021-09-29 11:40] sr-nu commented on #50
Yes having seamless Reader Writer support for Aurora similar to RDS is really important. Please prioritize or provide a workaround.

[2021-09-30 17:44] nickcaballero commented on #50
This kind of works out of the box if you use the MariaDB driver in Aurora mode. When using a readOnly transaction, the driver will choose one of the reader connections instead of using the writer.

https://mariadb.com/kb/en/failover-and-high-availability-with-mariadb-connector-j/#masterslave-connection-selection

[2021-10-01 02:58] sr-nu commented on #50
Not working for Postgres as expected. All queries directed to Writer.

On Fri, 1 Oct 2021, 01:45 Nick Caballero, ***@***.***> wrote:

[2021-10-03 18:45] amrutprabhu opened #189 "Unable to load property from AWS secrets manager without creating all the the possible secret names."
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**

So I am trying to get a secret from the secrets manager, and I am not able to get the secret unless I create all the possible secret names on AWS secrets-manager.

Pom.xml
[code]
application.yaml
[code]
bootstrap.yaml

[code]
secrets created on AWS :
1. /secret/config-client
2. /secret-config-client-aws
3. /secret/application

al

[2021-10-08 08:43] ostrya opened #191 "[SQS] Messages are no longer deleted by default for custom QueueMessageHandlerFactory"
**Type**: Bug

**Component**: "SQS"

**Describe the bug**
When using spring-cloud-aws-messaging version 2.3.2 and declaring a custom QueueMessageHandlerFactory bean (e.g to override the message converters, see https://docs.awspring.io/spring-cloud-aws/docs/current/reference/html/index.html#consuming-aws-event-messages-with-amazon-sqs), messages are no longer deleted by default when using the @SqsL

[2021-10-10 07:53] Lucas3oo commented on #169
This is pretty much a showstopper to use AWS parameter store.

[2021-10-10 09:46] Lucas3oo commented on #169
I have as follows in AWS paramstore:
/config/default/use-db=false
/config/stg24/use-db=true

In application.properties:
aws.paramstore.prefix=/config
aws.paramstore.defaultContext=default
aws.paramstore.enabled=true
spring.config.import=aws-parameterstore:

When stating my app:
-Daws.paramstore.name=stg24

When I run the app I get use-db=false but I expected the "override" value under to take prec

[2021-10-13 14:37] ericmillinder commented on #169
The ordering of locations returned by AwsParamStorePropertySourceLocator does not appear to follow the ascending precedence ordering expected. This looks like it happened way back in https://github.com/spring-cloud/spring-cloud-aws/commit/582fdc6691ead7904aaed176af2cf85221edacd5. The sources have been moved into AwsParamStorePropertySources since then but still maintain a backwards order of preced

[2021-10-19 08:16] stockf opened #194 "Logging for Parameter Store"
**Type**: Bug / Help needed

**Component**:
"Parameter Store"

**Describe the bug**
I ran the sample for spring-cloud-aws-parameter-store and tried adding debug logging in order to see which parameters should be retrieved from SSM.

The [Documentation](https://docs.awspring.io/spring-cloud-aws/docs/2.3.0/reference/html/index.html#integrating-your-spring-cloud-application-with-the-aws-parameter-sto

[2021-10-21 21:39] otbe opened #196 "[SQS] Exceeding/Changing visibility timeout may lead to messages being processed twice in FIFO queues"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
Im not quite sure if this is a bug report, a feature request or just a misunderstanding on my side. So please bear with me 😇

We use a fifo queue to process "commands" that affect a 3rd party system. We use a message group id that groups commands that should be processed sequentially. One day we saw an increased latency in processing these co

[2021-10-30 13:08] WtfJoke commented on #189
As far as I understand its the intended way of working. There is however a woraround by providing `spring.config.import=aws-secretsmanager:secret-key;other-secret-key` eg. `spring.config.import=aws-secretsmanager:/secret/config-client;/secret-config-client-aws;/secret/application`. See [docs](https://docs.awspring.io/spring-cloud-aws/docs/2.3.2/reference/html/index.html#spring-boot-configuration-i

[2021-10-31 15:50] WtfJoke commented on #176
I've tried to implement this feature in my [fork](https://github.com/WtfJoke/spring-cloud-aws/tree/feature/verifySNSMessageSignature). Not finished yet (mainly tests are missing), but verifying signature seems to work.

[2021-11-02 16:20] WtfJoke commented on #176
Now I have opened #198

[2021-11-15 13:42] akefirad opened #199 "Add request handlers to AWS clients"
**Type**: Feature

**Description**
Currently it's impossible to customize clients created by `AmazonWebserviceClientFactoryBean`, specifically by adding `RequestHandler2` (for example tracing instrumentation handler).

**Solution**
The class should accept a list of request handlers and add them before building the client.

**Alternatives**
At the very least, I'd like to have access to the builder

[2021-11-29 19:27] karim-elngr opened #200 "Allow disabling profile specific loading of secrets and default secrets ( app name and defaultContext )"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**

I am currently using the following versions:
[code]
I'm always frustrated when I need to load a secret from AWS Secrets Manager as an application property and I have to battle with the default behavior of `AwsSecretsManagerPropertySourceLocator` which relies on `AwsSecretsManagerPropertySources` specifically the

[2021-12-07 23:59] paulcwarren commented on #20
Hey folks, just checking in on this one.  What's the roadmap/timeline expectations for releasing this?

[2021-12-09 15:37] internetstaff commented on #119
FWIW, `NotificationMessagingTemplate` suffers from the same issue. Odd, since both seemed to use the context's ObjectMapper before 2.3.

[2021-12-09 17:30] internetstaff opened #205 "Document how to provide custom credentials for Spring config import of aws-parameterstore"
It's unclear how to or if we can provide custom credentials with `spring.config.import`

In 2.2.6, we were defining `org.springframework.cloud.bootstrap.BootstrapConfiguration` in `spring.factories` to a `@Configuration` class that returned an AWSSimpleSystemsManagement with custom credentials.

In 2.3.2, we noticed this method can no longer discover the `spring.application.name` from an `applicat

[2021-12-13 09:06] tobiassalem opened #206 "Security Vulnerability in used spring-messaging-5.3.2.jar"
**Type**: Bug / dependency-vulnerability

**groupId:** io.awspring.cloud
**artifactId:** spring-cloud-starter-aws-messaging
**version:** 2.3.2 (latest as of December 2021, downgrading does not solve the problem)

**Component**:
"messaging", "SNS", "SQS"

**Describe the bug**
spring-messaging-5.3.2.jar has a severe security vulnerability.

For the Record, we tried following the security vulnerabili

[2021-12-14 11:37] maciejwalkowiak commented on #206
Thanks @tobiassalem for reporting. Since the issue is with Spring Context module, you only need to make sure to use the latest Spring Context and not rely on Spring Cloud AWS dependency management to revolve version for it (which does not happen anyway if you use Spring Boot).

#207 bumps all the Spring related dependencies and we will close this issue in 2.3.4.

[2021-12-14 12:02] #185 closed

[2021-12-14 12:04] maciejwalkowiak opened #209 "Run CI build with Java 17"
Add Java 17 to CI matrix and drop Java 15.

[2021-12-14 12:21] #172 closed

[2021-12-14 12:26] #206 closed

[2021-12-14 12:38] #209 closed

[2021-12-17 16:13] migroskub commented on #20
+1

[2021-12-18 16:51] lynch19 commented on #20
+1

[2021-12-20 13:45] sbarroso-RatedPower opened #212 "Secrets Manager is not recognizing the name my spring app."
**Type**: Bug

**Component**: Secrets Manager
**Describe the bug**

I am trying to import a secret using this setting, but the problem is that it is not recognizing the name of the spring app, every time it try to load the secret `/secret-app/application` instead of `/secret-app/my-service`.

I'm using those versions:

spring-boot-starter-parent: 2.6.1
spring-cloud-starter-bootstrap: 3.1.0
spring-

[2021-12-21 04:34] bcalmac opened #213 "Don't use a strict MappingJackson2MessageConverter for SQS message conversion"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
We have a set of micro-services that communicate through SQS messages in JSON format. A simple "Hello, world!" prototype fails with `MessageConversionException: Cannot convert from [java.lang.String] to [com.clearcapital.uad.event.UadEvent]` because I don't have a `contentType=application/json` message attribute

[2021-12-21 08:17] #212 closed

[2021-12-21 19:21] ThalysGomes2020 commented on #194
Not sure, but might be helpful
we use logback as a logging framework, so I just added this on our `logback.xml`:
[code]
it might depend on your log framework

[2021-12-24 15:06] migroskub commented on #20
@MatejNedic anywhere we can view the status?

[2021-12-25 11:11] kauor commented on #20
@MatejNedic updates?

[2021-12-29 13:12] MatejNedic commented on #20
Hopefully, things will start to move faster in 2022. Since in 3.0 we hope to rewrite SQS and SNS integration and potentially more. Currently, 3.0 is missing SQS, SNS, S3, Cognito, and RDS features. (ElastiCache is probably going to be removed). Sadly more answers than that I can't give at this time.

[2021-12-29 15:22] driverpt commented on #20
Is there any PR with ongoing work on those components?

[2021-12-30 09:43] MatejNedic commented on #20
@driverpt  as I am aware of there are no PRs active. You can check branch 3.x to see progress. There is a ticket for moving s3 to 3.x branch
https://github.com/awspring/spring-cloud-aws/issues/55.

[2021-12-30 09:52] driverpt commented on #20
Yes. But are there any created Issues/PRs/Milestones to track?

[2021-12-30 12:08] MatejNedic commented on #20
There is a Milestone for 3.0.x https://github.com/awspring/spring-cloud-aws/milestone/4 .
Some issues are missing like SQS and SNS for example since those integrations will be rewritten.

[2022-01-03 23:21] roger751 opened #214 "Reactive S3 adapter - Project Reactor support"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
As specified in https://github.com/spring-cloud/spring-cloud-aws/issues/802 and in https://github.com/spring-projects/spring-integration-aws/issues/198, there should be support for Reactive Streams in the new AWS SDK v2 rewrite. I would be glad if this would be added to the milestone https://github.com/awspring/s

[2022-01-03 23:21] roger751 commented on #20
Is there any expected due date for the new version?

[2022-01-11 14:36] menneske2 commented on #167
Bump

[2022-01-12 05:13] XhstormR opened #215 "java.lang.ClassNotFoundException: com.amazonaws.services.securitytoken.internal.STSProfileCredentialsService"
I use the io.awspring.cloud:spring-cloud-starter-aws-secrets-manager-config:2.3.3 framework to interact with AWS secrets manager.

When I use WebIdentityTokenCredentialsProvider explicitly :
[code]

The program gets exception：
[code]

[2022-01-12 05:17] XhstormR commented on #215
https://docs.awspring.io/spring-cloud-aws/docs/2.3.2/reference/html/index.html#aws-eks-iam-roles-for-service-accounts-configuration

[2022-01-12 05:17] #215 closed

[2022-01-12 07:06] hemju commented on #50
+1 to the feature request

[2022-01-12 16:45] jmax01 commented on #169
The fix for this broke property loading via secrets manager.

given
/secret/application
/secret/application/dev1
/secret/MyApp
/secret/MyApp/dev1

With dev1 profile supplied /secret/application is the one chosen.

Reverting to 2.3.2 resolves the issue.

I will open another issue ASAP.

[2022-01-13 22:44] WtfJoke commented on #169
I cannot reproduce that (at least not for parameter store, which I tried), see my example repo: https://github.com/WtfJoke/chaoskotlindemo/tree/awsparamterstoreconfig (with 2.3.2 it loads the wrong one).

Will try with a secret

[2022-01-14 15:45] 0ka opened #217 "Default configuration of AbstractMessageChannelMessagingSendingTemplate leads to Jackson error: "Could not write JSON: Java 8 date/time type `java.time.Instant` not supported by default""
**Type**: Bug

**Component**: SQS

**Describe the bug**
Using Jackson 2.13 and trying to send messages (QueueMessagingTemplate.convertAndSend) that contains fields of Java date/time types lead to the following Jackson error:
"Could not write JSON: Java 8 date/time type `java.time.Instant` not supported by default: add Module "com.fasterxml.jackson.datatype:jackson-datatype-jsr310" to enable handli

[2022-01-18 14:01] krishofmans commented on #23
We're seeing the same issue. Is there any news on when this will be picked up? It's killing the throughput.

[2022-01-20 04:54] psharma85 commented on #217
Hi, I am facing this issue. /info giving error. I am not using custom ObjectMapper instead using com.fasterxml.jackson.databind.ObjectMapper;
Can someone please help me?

[2022-01-20 20:11] Adam1901 opened #220 "Secrets manager - Not merging list items into @ConfigurationProperties"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
Secrets manager populating a configuration list is not merging hardcoded values and secrets values correctly.

**Sample**
If possible, please provide a test case or sample application that reproduces
the problem. This makes it much easier for us to diagnose the problem and to verify that
we have fixed it.

[code]

[code]

[code]

[2022-01-21 12:10] ademirsoy commented on #169
I've face the exact same problem and reverting to 2.3.2 solved it!
I think this issue should be re-opened.

[2022-01-25 14:42] chrisnellis opened #221 "Unable to Use Elasticache"
**Type**: Bug

**Component**:
ElastiCache-Memcached

**Describe the bug**
I'm running Spring Boot 2.6.1 in Fargate. The ECS execution role already has the `elasticache:DescribeCacheClusters` permission (as required by [the docs here](https://docs.awspring.io/spring-cloud-aws/docs/2.3.2/reference/html/index.html#iam-permissions-5)). I'm already successfully pulling configs from the parameter store,

[2022-01-25 19:33] jonathannaguin commented on #20
I believe the CloudWatch integration will need to be updated as well. Is that on the plan? Thanks!

[2022-01-28 11:05] essepuig commented on #173
Could you also please document what needs to be done in order to use a "custom region" ?

The current documentation for "cloud.aws.region.static" is :

However, IMHO, it is not clear what needs to be done

[2022-01-28 15:49] migroskub commented on #20
Any news?

[2022-01-28 15:51] migroskub commented on #20
I currently see that there any no commits in this repository. Any reason? @MatejNedic Explantations would be very helpful since this is a very anticipated issue.

[2022-02-01 11:09] arutsudar opened #222 "Secrets Manager - Configure a secret whose `name` doesn't contain a slash `/`"
**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**
If I have a `Secret` which doesn't have any prefix, I am not able to configure that properly in the `boostrap.yml` file.
Spring Cloud version `2.3.3`.

**Sample**
For Eg.: If my secret name is `secret1` (Notice that there is no `/` in the name), then, in the `boostrap.yml` file,
- if I mention only the `prefix` to be `secret1`, th

[2022-02-03 19:44] darrelldraney commented on #169
@WtfJoke I just ran into this issue when using version 2.3.3 and adding a dependency on `spring-cloud-starter-bootstrap` as opposed to using the `spring.config.import=aws-parameterstore:` property like you did in your example project. Reverting to 2.3.2 and using `spring-cloud-starter-bootstrap` works as expected.

@jmax01 when you ran into this issue with 2.3.3 were you using `spring-cloud-starte

[2022-02-04 15:27] migroskub commented on #20
Anybody here ?!

[2022-02-04 15:41] eddumelendez commented on #20
@migroskub so sorry about this. There is a difference with the projects you mentioned, those are maintained by big companies. In this case, the project depends on some volunteers which dedicate their free time to the project which is not only working on the project itself but also experiment such this case which the idea to use aws sdk v2 is to enable and create native images.

[2022-02-05 18:29] driverpt opened #224 "Migrate Spring Cloud AWS Messaging to AWS SDK V2"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
As title says

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-02-05 18:32] driverpt commented on #224
Open Topic for Discussion:

Currently AWS SDK V2 has Sync and Async Versions. Both are not compatible. Should we use Sync version or Async as Base?

Currently `AmazonSQSAsync` is being used everythere but only Sync Calls are being used, with `SqsAsyncClient` only `CompletableFuture` based API is available.

Which one do you suggest we use? IMHO, it makes sense to use the Sync Client to initialize

[2022-02-05 20:25] maciejwalkowiak commented on #169
Indeed, this is still broken when used with `spring-cloud-starter-bootstrap`.

[2022-02-05 20:54] maciejwalkowiak commented on #222
It is already possible - load properties using `spring.config.import` introduced in Spring Cloud AWS 2.3 and Spring Boot 2.4:

[code]

It is not supported if you use legacy `spring-cloud-bootstrap` way of loading secrets and we do not plan to add support for it.

[2022-02-05 20:54] #222 closed

[2022-02-05 21:20] maciejwalkowiak commented on #173
@essepuig I think that if someone is a bit experienced with Spring Boot it should be clear that this property must be set..? If you have a better idea how to make it self explanatory, feel free to submit a PR.

[2022-02-05 21:29] maciejwalkowiak commented on #221
Adding dependency to:

[code]

should solve this issue. This should be included in docs.

Btw, we are considering removing support for Memcached in Spring Cloud AWS 3.0. Why have you chosen Memcache over Redis?

[2022-02-05 21:56] #169 closed

[2022-02-05 22:29] maciejwalkowiak commented on #220
This rather looks like an issue with Spring Boot than with Spring Cloud AWS. When you run the same example instead of importing from Secrets Manager but from a local file:

[code]

where `developer.properties` has content:

[code]

You will get the same result. Please filing an issue in [Spring Boot](https://github.com/spring-projects/spring-boot) project. I am not sure, but perhaps it is like tha

[2022-02-05 22:29] #220 closed

[2022-02-05 22:59] maciejwalkowiak commented on #217
We are using default `ObjectMapper` for deserialization, but as `QueueMessagingTemplate` bean is not created by auto-configuration, you must create it properly to get the  support for already registered Jackson modules:

[code]

I believe we should auto-configure `QueueMessagingTemplate`.

[2022-02-05 22:59] #217 closed

[2022-02-05 22:59] maciejwalkowiak opened #228 "Autoconfigure `QueueMessagingTemplate`"
See #217

[2022-02-05 23:09] maciejwalkowiak commented on #213
I understand the reasoning and agree. Lets go with option 1. - because its simple, and I don't think we should invest much more into current codebase since it is going to be migrated to AWS SDK v2 which means a lot of changes. @bcalmac PR would be awesome.

[2022-02-06 11:34] maciejwalkowiak commented on #189
Exactly as @WtfJoke said. The initial implementation that looked up all possible secret values has this flaw, but since we have a better replacement with `spring.config.import` and we anyway plan to remove legacy way in 3.0, you should just go with `spring.config.import`.

[2022-02-06 11:34] #189 closed

[2022-02-06 11:35] maciejwalkowiak commented on #199
@akefirad that's a very good idea. Lets keep it for 3.0 version, where we are based on AWS SDK v2.

[2022-02-06 11:44] maciejwalkowiak commented on #200
I am not sure why `spring.config.import` isn't working for you.  Perhaps you still have `spring-cloud-starter-bootstrap` in your dependencies?

Take a look at Secrets Manager integration sample in this repository. Ideally, please provide a reproducible example where we can debug what is causing the problem.

[2022-02-06 13:10] MazizEsa commented on #20
@MatejNedic  need any more help? If the migration effrot is broken into part it would be easier to contribute?

[2022-02-06 13:22] maciejwalkowiak commented on #163
Closing due to lack of feedback

[2022-02-06 13:22] #163 closed

[2022-02-06 13:23] #173 closed

[2022-02-06 14:42] maciejwalkowiak commented on #156
Closing due to lack of feedback.

[2022-02-06 14:42] #156 closed

[2022-02-06 15:10] maciejwalkowiak commented on #154
@Cimballi you can always fork it and release to your local Maven repository (if you have one). We will try to release more often once bugs are fixes, sorry guys for inconvenience.

[2022-02-06 15:10] #154 closed

[2022-02-06 23:19] maciejwalkowiak commented on #165
@Lucas3oo "default" profile is the profile that is active when no other profile is active, perhaps this is where its coming from.

Have you considered using `spring.config.import=` instead?

[2022-02-07 00:54] maciejwalkowiak commented on #205
Apologies for late reply. This is indeed tricky.

In `META-INF/spring.factories` define `BootstrapRegistryInitializer`. For example:

[code]

Where in `CustomBootstrapConfiguration` you can configure custom `AWSSecretsManager` bean:

[code]

Let me know if this helps.

[2022-02-07 00:57] maciejwalkowiak commented on #23
We are aware, and we want to address it in 3.0 as this requires major rewrite.

[2022-02-07 11:02] maciejwalkowiak commented on #196
@otbe your concerns are valid, I am not sure at this point what is the right approach. It sounds like a general problem with SQS FIFO rather than something Spring Cloud AWS specific, but lets keep this issue open for some time, perhaps we will get some insights from the community.

[2022-02-07 11:06] maciejwalkowiak commented on #224
I imagine async client should be used for reactive scenarios (as it is non blocking) and sync client for the regular blocking (like in Spring Cloud AWS 2.x).

I'll dig into migrating SQS to AWS SDK v2 in upcoming days. For now i am closing this in favour of https://github.com/awspring/spring-cloud-aws/issues/20, but i am open for discussion.

[2022-02-07 11:06] #224 closed

[2022-02-07 11:32] driverpt commented on #20
Continuing discussion from #224, I think we should split `spring-cloud-aws-messaging` into Sync and Async.

I'm already working on migrating Spring Cloud AWS Messaging to the new `SqsClient`. We should create afterwards `spring-cloud-aws-messaging-async`

[2022-02-07 11:35] MatejNedic commented on #20
@MazizEsa we are planning to finish a roadmap for 3.0 with issues soon. Need to consult with @maciejwalkowiak and @eddumelendez . Currently, we are working on closing existing PR's and releasing 2.3.4 and 2.4.0.
We have plans for new integrations as well, some of them are even in the prototype phase. Since we are all doing this in our free time it is hard to make precise deadlines.

[2022-02-08 07:58] MatejNedic opened #232 "Prefix for secrets manager cannot be empty"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
In code and docs
`* Prefix indicating first level for every property. Value must start with a forward
 * slash followed by a valid path segment or be empty. Defaults to "/secret".`
 Currently, this is not possible since validation will fail on an empty string.

**Sample**
Fix Validation for a prefix cannot be the empty string `A

[2022-02-08 09:32] #167 closed

[2022-02-08 09:37] maciejwalkowiak commented on #104
Similar to RabbitMQ integration, application should fail to start if the queue does not exist.

[2022-02-08 12:54] #191 closed

[2022-02-08 12:57] maciejwalkowiak commented on #38
We will come back to this topic after 3.0 is released. There is no point in adding more integrations based on AWS SDK v1.

If you would find this integration useful, upvote this issue.

[2022-02-08 13:04] maciejwalkowiak commented on #168
With `spring.config.import`, `bootstrap.yml` is not used so moving to `application.yml` is a right decision.
In Secrets Manager, you should store key value json, not just plain text.
When using parameter store and secrets manager, by default it uses a default credentails and region chains, and cutomization with regular Spring Cloud AWS properties is not working.

[2022-02-08 13:07] maciejwalkowiak commented on #112
Including max number of messages https://github.com/awspring/spring-cloud-aws/issues/174

[2022-02-08 13:07] maciejwalkowiak commented on #174
Closed in favour of #112

[2022-02-08 13:07] #174 closed

[2022-02-08 13:14] maciejwalkowiak commented on #116
Closing in favour of #20.

[2022-02-08 13:14] #116 closed

[2022-02-08 13:15] maciejwalkowiak commented on #132
@eddumelendez your voice is very welcome here.

[2022-02-08 13:18] maciejwalkowiak commented on #180
Apologies for late reply. There is no way to force to use MariaDB but since it is recommended by AWS, we should include this option in 3.x.

[2022-02-08 13:28] maciejwalkowiak commented on #175
To make it work, for `spring.config.import`, `ConfigDataLocationResolver` for PS and Secret Manager should implement `Ordered` interface and return an order from properties.

[2022-02-08 13:54] maciejwalkowiak commented on #149
No worries @GCHQDeveloper926. Closing in favour of #73

[2022-02-08 13:54] #149 closed

[2022-02-08 15:46] #124 closed

[2022-02-08 16:29] #228 closed

[2022-02-08 16:41] internetstaff commented on #119
@maciejwalkowiak did this happen to fix NotificationMessagingTemplate as well?
Thanks!

[2022-02-09 08:39] kornicameister opened #234 "spring-cloud-starter-aws: setting `configurationSetName`"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**

Ability to specify configuration set when sending emails with `SimpleEmailServiceJavaMailSender`.
It seems like perfectly fine use case that if we use `SimpleEmailServiceJavaMailSender` and as such `SES` client we can control which config set is used. It is impossible because `org.springframework.cloud.aws.mail.

[2022-02-09 10:04] #232 closed

[2022-02-09 10:28] #194 closed

[2022-02-09 10:28] #165 closed

[2022-02-09 11:37] kornicameister commented on #234
Couple of things:
1. component is `ses` and not `sns` :P
2. I've just read you can actually specify configuration set-name per message so wonder if API change is not actually needed to correlate message with configuration set name.

[2022-02-09 13:42] maciejwalkowiak commented on #234
1. My bad, thanks for pointing it out.
2. I can see supporting this on the mail sender level, but if its needed per message I don't think we can include it in Spring Cloud AWS, at least not in 2.x. You're welcome to try things out and if you come up with nice solution we can think about integrating it.

[2022-02-09 18:15] Lucas3oo commented on #165
But the thing is it didn't act like this in previous version of Spring AWS cloud.
And why using spring.config.import=  when the existing setup worked very well (until someone changed it)

[2022-02-10 08:44] maciejwalkowiak commented on #165
In merged PR i enabled logging for both `spring.config.import` and bootstrap so once 2.3.4 is released you should be able to see exactly which contexts are looked up in parameter store and which properties are loaded from this property source.

[2022-02-10 08:45] maciejwalkowiak commented on #234
@kornicameister You're welcome to contribute a PR!

[2022-02-11 16:21] eddumelendez commented on #132
this sounds good to me. I would suggest to have `CognitoLogoutSuccessHandler` and then an auto-configuration that creates the bean.

@rieckpil would you like to contribute to this one?

[2022-02-15 10:00] #176 closed

[2022-02-15 14:35] xtaixe opened #244 "Getting `QueueDoesNotExistException` with local `cloud.aws.sqs.endpoint` cause `cloud.aws.sqs.region` is not set"
**Type**: Bug

**Component**: SQS

**Describe the bug**
Getting `QueueDoesNotExistException` when testing locally with LocalStack even after setting both `cloud.aws.sqs.endpoint` and `cloud.aws.sqs.region`.

AFAIK, now that LocalStack supports multi region, the region must be provided, but it seems that the `AmazonWebserviceClientFactoryBean` won't set the region if a custom endpoint is provided:

[2022-02-16 06:04] maciejwalkowiak commented on #244
AWS Java SDK does not allow setting both endpoint and region, so i am not sure really how to make it work. If you have a suggestion you're welcome to draft a PR a a subject to discussion.

[2022-02-16 06:29] rmpestano opened #245 "Question: How to represent array properties in parameter store?"
**Type**: Bug

**Component**:
"Parameter Store"

**Describe the bug**
I need to represent [list properties](https://github.com/spring-projects/spring-boot/wiki/Relaxed-Binding-2.0#list-types-1) in parameter store, is it possible?

The main issue is that list indexes are represented by square brackets in Spring which are not supported as parameter names in [ssm API](https://docs.aws.amazon.com/syst

[2022-02-16 08:52] xtaixe commented on #244
Not sure I follow, do you mean the builder will throw an error if you set both? I'm pretty sure we've done that, but maybe it was the AWS SDK v2...

Anyway, the `AwsClientBuilder.EndpointConfiguration` constructor used above has a `signingRegion` that is being set to `null`. Setting that to the configured region should also work (it's what I did when creating a custom `AmazonSQS` bean as a workaro

[2022-02-16 10:52] maciejwalkowiak commented on #244
Yes indeed builder will throw in such case. I'll look again into setting signing region

[2022-02-18 14:42] chrisnellis commented on #221
Hello.

I'm sorry I missed that. To make a deadline, I ended up just using the elasticache client described above and ditching this framework for the use case. (So I'll close this issue upon adding this comment since I'm no longer pursuing this path)

After reviewing [the feature matrix from AWS](https://aws.amazon.com/elasticache/redis-vs-memcached/), we realized Memcached was sufficient for our

[2022-02-18 14:42] #221 closed

[2022-02-18 16:08] maciejwalkowiak commented on #221
Thanks for feedback @chrisnellis !

[2022-02-19 07:24] rmpestano commented on #245
Hi again,

We fixed this in our project by representing array indexes with `_INDEX_`. The example on the description of this issue would be represented as:

[code]

Not sure that would work as a general solution without breaking existing applications.

If someone else needs this now, in our project we've created a property source that just gets the parameters resolved by AwsParamStorePropertySourc

[2022-02-19 10:32] maciejwalkowiak commented on #245
Thanks @rmpestano! @MatejNedic is looking how to tackle this issue on the Spring Cloud AWS side. Perhaps we can come up together with a PR?

[2022-02-19 12:18] rmpestano commented on #245
Hey @maciejwalkowiak, I've just opened a draft PR (#248), maybe we can use it as a starting point.

Cheers!

[2022-02-21 18:16] FalkWoldmann6232 opened #250 "Spring cloud aws parameter store config does not work with spring native 0.11.2"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
When compiling to a binary with spring native 0.11.2, the application cannot start because of a missing native reflection configuration:

[code]

**Describe the solution you'd like**
It would be nice to have a native reflection configuration that is already provided

**Describe alternatives you've considered**
I

[2022-02-21 20:04] maciejwalkowiak commented on #250
AFAIK AWS SDK v2 is GraalVM native image compatible, so we are going to try to make Spring Cloud AWS 3.0 (based on AWS SDK v2) Spring-Native compatible. For now, there are no plans to do anything with Spring Native in 2.x

[2022-02-22 14:02] agdt3 opened #253 "SQSListener can't read @Value placeholder for queue name"
**Type**: Bug

**Component**:
SQSListener

**Describe the bug**
SQSListener doesn't accept `@Value` annotation as a placeholder for queue name. Alternatively, documentation doesn't provide a clear way to dynamically configure the queue name from a yml properties file.

[code]

**Sample**
[code]

[code]

[code]

application.yml
[code]

[code]

[2022-02-22 14:40] #253 closed

[2022-02-23 09:21] hantsy opened #254 "Add Aws SDK Kotlin Support"
Awslabs released a Kotlin variant for AWS SDK, add Kotlin and Kotlin Coroutines support.

[2022-02-23 10:51] maciejwalkowiak commented on #254
Elaborate please on how do you think this integration could work/look like?

[2022-02-25 09:08] driverpt commented on #254
@hantsy , AWS SDK for Kotlin is targeted at Kotlin Native Projects

[2022-02-25 10:58] hantsy commented on #254
@driverpt

It is just Kotlin variant for the original Java version, provides a lot of extensions for Kotlin DSL and Coroutines to simplify the usage, see the [YouTube vedio](https://www.youtube.com/watch?v=1o1G3QIkipI)

@maciejwalkowiak For developers what we need is like the Kotlin support in Spring, make all AWS SDK Kotlin extensions available in this umbrella project. I think it is just an extr

[2022-02-25 11:02] driverpt commented on #254
It has support for JVM Platform, but the purpose of AWS Kotlin SDK is to support all Kotlin MPP Target Runtimes

[2022-02-28 09:37] maciejwalkowiak opened #257 "Add nullability annotations"
To simplify usage with Kotlin and also make explicit what method arguments and return types can be null, whole API should be annotated with nullability annotations, either from `org.springframework.lang` package or ones from [JetBrains Annotations](https://github.com/JetBrains/java-annotations).

In both cases, the default way to go is to add to each package a `package-info.java` marking everythin

[2022-03-01 18:30] ade90036 opened #258 "Support for AWS IMDSv2"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**

Secrets propagation to an application can e dealt in different ways. The most convenient way is to use the AWS metadata IMDSv1 to application configure credentials via token propagation.

For a security oriented company this is not enough.Accessibg the metadata is not protected it challenged. An treath actor cou

[2022-03-05 00:06] karim-elngr commented on #200
@maciejwalkowiak thanks for your response, Yes I had `spring-cloud-starter-bootstrap` in my dependencies, The problem resolved when I removed it, I will close this issue

[2022-03-05 00:06] #200 closed

[2022-03-08 08:51] serh-ai opened #259 "AWS SQS consumer does not consumes messages"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
When @SqsListener count is bigger than the thread available, I want to a see warning/error message. Also, I observe strange behavior, that it consumes only one event on shutdown(maybe because of some threads are become available )

**Sample**
Let's say we have 4 @SqsListener 's for different events. Also, I have some setup of thread pools(usu

[2022-03-08 14:36] efumas opened #260 "Expiration value doesn't work when using ElastiCache + Redis on a specific cluster"
**Type**: Bug

**Component**:
ElastiCache

**Describe the bug**
- Spring Cloud AWS Version: 2.4.0
- Spring Boot Starter Data Redis: 2.6.4
- AWS Java SDK ElastiCache: 1.12.172

We are trying to use AWS ElastiCache + Redis and the "expiration" values don't work.
It seems that the RedisCacheFactory when it creates the cache it uses the default constructor of DefaultRedisCacheWriter when the Duration

[2022-03-10 08:49] AllegraMcdonnell123 opened #262 "Broken docs"
[The docs are borken](https://awspring.io/learn/quick-start/quick-start/)

[2022-03-10 11:05] andreas-trvlk commented on #168
I think `cloud.aws.*` properties are used if you add `io.awspring.cloud:spring-cloud-starter-aws`.

[2022-03-10 18:12] MatejNedic commented on #262
Those are not the docs, they are Quick starts something like guides which we still have to figure out how they will look and write.
Docs can be found on https://docs.awspring.io/spring-cloud-aws/docs/2.3.1/reference/html/index.html

[2022-03-11 07:08] #262 closed

[2022-03-11 09:16] maciejwalkowiak commented on #168
But not for Parameter Store and Secrets Manager integration, as bootstrap phase happens before properties are loaded.

Closing since it seems its clarified now.

[2022-03-11 09:16] #168 closed

[2022-03-16 18:45] darrelldraney opened #264 "Parameter store values don't always override packaged values when using spring.config.import"
**Type**: Bug

**Component**:  "Parameter Store"

**Describe the bug**
spring-cloud-version: 2021.0.0
spring-cloud-aws-version: 2.3.4

When using the now legacy bootstrap process, parameter store values always overrode packaged values. This doesn't seem to always be the case any more when using the recommended `spring.config.import` method. If parameter store properties are imported via `spring.co

[2022-03-17 11:10] sivaprasadreddy opened #267 "Provide customization option to enable ForcePathStyleAccess for AmazonS3"
**Type**: Feature

Currently there is no customization option that we can configure to enable `ForcePathStyleAccess` for `AmazonS3` via `application.properties/yml`. A work around is to define our own `AmazonS3` bean definition, however as this is very commonly used option especially with **LocalStack** it would be nice to have this option.

[2022-03-18 00:27] helanyao opened #269 "Read configuration not only from AWS secret manager but also from environment parameters"
**Type**: Feature

**Additional context**
I have a Spring boot application which read configuration from environment parameters. However, part of the environment parameters needs to be put in AWS secret manager to protect it from being accessed by unwanted role.

After setting AWS related logic, the rest parameters that are supposed to be loaded from environment parameters are null. I checked ther

[2022-03-18 20:27] MatejNedic commented on #264
Hey @darrelldraney,
This is expected behavior for Spring. Please refer following article [link](https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4).
Something that could work for you would be the following:
In `application.yaml` have something like:
`
spring:
  config:
    import:
      - application-prod.yaml
      - aws-parameterstore:/config/spring/`

In `application-pr

[2022-03-19 13:00] vijayrcse opened #270 "Messages not consumed from SQS queue"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
I have @SqsListener configured in one of the method  of my spring @Service class. I am using version of spring-cloud-aws-messaging 2.2.6.RELEASE
At times ( very rarely ) I see that messages in the queue is not getting consumed. The listener method is not even invoked.

I had to bounce our spring boot container process to fix the issue. There

[2022-03-21 19:44] StochasticTinkr opened #271 "fail-fast too sensitive"
fail-fast causes failure when *any* of the "automatic contexts" aren't valid secrets.   It should instead fail only if no automatic contexts contain valid secrets.

Example bootstrap.yml:
[code]
### Expected
Find and use secret named "/secret/my-app-name_dev"

### Actual
Fails with exception `com.amazonaws.services.secretsmanager.model.ResourceNotFoundException: Secrets Manager can't find the spec

[2022-03-23 16:42] #244 closed

[2022-03-24 21:02] #264 closed

[2022-03-25 12:38] maciejwalkowiak commented on #267
Already in progress in https://github.com/awspring/spring-cloud-aws/pull/275

[2022-03-25 13:39] ipanimnim commented on #214
@maciejwalkowiak any updates on this?

[2022-03-25 13:41] ipanimnim commented on #214
I think it would also be nice if there would be support for Spring Integration with Project Reactor. Something like `ReactiveS3MessageHandler`

[2022-03-25 13:54] ipanimnim opened #278 "Embarrassing website"
**Type**: Bug

**Component**:

[Official website](https://awspring.io/learn/quick-start/quick-start/)

**Describe the bug**
The embarrassing website of quick start is still accessible but hasn't been fixed. I'd edit it if I would be able to, but I couldn't find its MDs in the git repo.

**Sample**
[Official website](https://awspring.io/learn/quick-start/quick-start/)

[2022-03-25 17:12] ehmkah opened #279 "configure whether aws sdk library version 1 oder 2 should be used"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
We are using version 2 of the aws sdk library more or less software.amazon.awssdk:sqs:2.17.88 and configure a awscredentials provider. This credentials provider is of type AwsCredentialsProvider. Then we configure a message consumer which is anotted with '@sqslistener` and the name of the queue.  During startup o

[2022-03-25 17:58] maciejwalkowiak commented on #279
Supporting both v1 and v2 would be insanely expensive. We are already working on Spring Cloud AWS 3.0 that will be based only on AWS SDK v2.

[2022-03-25 17:58] #279 closed

[2022-03-25 18:47] maciejwalkowiak commented on #214
Not yet, but once https://github.com/awspring/spring-cloud-aws/pull/275 is done, this issue will become open for contributions.

[2022-03-25 19:27] ehmkah commented on #279
Thank you for the fast reply. So we wait for spring boot cloud aws 3.0 :-)

Just for curiosity. It would be better if we do not mix the aws sdk v2 with spring cloud aws?

[2022-03-25 19:45] maciejwalkowiak commented on #279
Since both can work side by side, there's no issue with mixing them in your project. I only meant that from maintaining Spring Cloud AWS point of view it would be very time consuming to support both v1 and v2.

[2022-03-28 12:41] jifeiiii commented on #214
Anticipated feature. Also wanted with https://github.com/spring-projects/spring-integration-aws/issues/198 - a Reactive Spring Integration channel adapter.

[2022-04-02 06:00] maciejwalkowiak opened #284 "Integrate with all-contributors"
To recognize all contributors, not only those who commit code integrate with [all contributors bot](https://allcontributors.org/docs/en/bot/overview)

[2022-04-02 08:10] maciejwalkowiak opened #285 "Migrate infrastructure in samples to Java variant of CDK"
Typescript brings more problem than it solves. Migrate infrastructure from samples to Java variant of CDK (like it's already done in S3).

[2022-04-02 08:11] maciejwalkowiak commented on #271
We are aware that this is suboptimal, but also not really willing to change it to not introduce any breaking changes.

The alternative way of loading secrets from Secrets Manager is through `spring.config.import` which I believe will suit your needs: https://docs.awspring.io/spring-cloud-aws/docs/2.4.0/reference/html/index.html#spring-boot-configuration-import-support-2

[2022-04-02 08:11] #271 closed

[2022-04-02 08:12] maciejwalkowiak commented on #257
Fixed in #274.

[2022-04-02 08:12] #257 closed

[2022-04-02 08:13] maciejwalkowiak commented on #183
Fixed in #275

[2022-04-02 08:13] #183 closed

[2022-04-02 08:14] maciejwalkowiak commented on #267
Fixed in #275.

[2022-04-02 08:14] #267 closed

[2022-04-02 08:18] maciejwalkowiak commented on #55
Fixed in #275

[2022-04-02 08:18] #55 closed

[2022-04-02 08:26] maciejwalkowiak opened #286 "S3Template"
Introduce a higher level abstraction over `S3Client` providing Spring idiomatic way to perform common operations.

[code]

`store` and `read` method would use under the hood `S3ObjectConverter` to store regular Java objects in S3 using serialization option of choice. By default we would configure `Jackson2JsonS3ObjectConverter`.

[2022-04-02 08:30] #250 closed

[2022-04-02 08:34] maciejwalkowiak commented on #162
Closing due to lack of feedback

[2022-04-02 08:34] #162 closed

[2022-04-02 08:35] maciejwalkowiak commented on #51
Not needed anymore.

[2022-04-02 08:35] #51 closed

[2022-04-02 08:36] maciejwalkowiak commented on #118
Apologies for a delay. Docs will include it in the next release but at this stage we have it at least in the readme: https://github.com/awspring/spring-cloud-aws

[2022-04-02 08:48] maciejwalkowiak commented on #155
Action point: verify if this is still the case in 3.0

[2022-04-02 08:51] maciejwalkowiak commented on #132
To avoid double-work - ideally this should be done as a part of Cognito integration in 3.0 (migrated to AWS SDK v2)

[2022-04-02 08:51] maciejwalkowiak commented on #122
As mentioned in #123 - we are not going to fix it to not introduce breaking change.

[2022-04-02 08:51] #122 closed

[2022-04-02 08:52] rieckpil commented on #132
Thanks for the info 👍 I should get to it in the next 1-2 weeks 🚀

[2022-04-02 08:53] maciejwalkowiak opened #287 "Configure endpoint for all integrations with single property"
We've introduced an option to configure region and endpoint per integration which simplifies using Localstack. Localstack in newer versions exposes all services under the same port, so it would be nice if its possible to set just:

[code]

and have this applied to all AWS clients.

[2022-04-02 08:56] maciejwalkowiak commented on #132
nice thats awesome! Since i haven't touched much Cognito integration, @eddumelendez is a person to bug about it ;-)

Keep in mind that we've reorganised branches a bit - `main` is now where 3.0 development happens.

[2022-04-02 11:35] maciejwalkowiak opened #289 "Publish 3.0 snapshot documentation"
Configure Github action to publish snapshots docs for 3.0.x branch to https://docs.awspring.io/spring-cloud-aws/docs/

[2022-04-02 11:36] maciejwalkowiak opened #290 "Publish API docs"
Configure Github action to publish API docs (generated from Javadocs) to https://docs.awspring.io/spring-cloud-aws/docs

[2022-04-02 12:21] #118 closed

[2022-04-02 16:34] maciejwalkowiak commented on #284
Ok 🤬 this. `all-contributors` bot cannot import existing contributors. I don't think I want to spend any more time on it. It was nice to have.

[2022-04-02 16:34] #284 closed

[2022-04-02 22:02] migroskub commented on #214
@maciejwalkowiak can you update the progress? I haven't seen any usage of `S3AsyncClient`

[2022-04-02 22:03] migroskub commented on #290
https://docs.awspring.io/spring-cloud-aws/docs shows "Access Denied" message

[2022-04-03 18:58] maciejwalkowiak commented on #290
@migroskub reference docs are under: https://docs.awspring.io/spring-cloud-aws/docs/2.4.0/reference/html/index.html We still have to change github action to upload Javadocs (they get generated during build, just not uploaded).

[2022-04-03 19:03] maciejwalkowiak commented on #214
In regards to reactive - thinking how to do it right. We can easily auto-configure `S3AsyncClient` but likely we can do more. One is integrating code from Baeldung, another one is wrapping `S3AsyncClient` `CompletableFutures` with `Mono` in `S3ReactiveClient`. Wrapping could be done actually for all async clients.

If you have more ideas please share, perhaps we can come up here with conclusions a

[2022-04-04 17:27] maciejwalkowiak commented on #290
Surprise surprise they were actually published: https://docs.awspring.io/spring-cloud-aws/docs/2.4.0/apidocs/index.html

[2022-04-04 17:27] #290 closed

[2022-04-04 17:33] #289 closed

[2022-04-04 20:38] neiljbrown commented on #289
Hi @maciejwalkowiak, in case you weren't aware (and assuming you're ready with the 3.0.x snapshot docs) - I get an Access Denied error on attempting to view the docs at https://docs.awspring.io/spring-cloud-aws/docs/ -
![image](https://user-images.githubusercontent.com/1330794/161628008-ee186177-d064-44ce-a99a-bc5cbcc30f63.png).

Cheers.

[2022-04-04 21:03] maciejwalkowiak commented on #289
https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-SNAPSHOT/reference/html/index.html - this is the correct link. Docs are not up to date though, we will work on it before M1 gets released.

[2022-04-05 15:28] rcardin opened #294 "Add Declarative ClientConfiguration for S3 from Configuration Files"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
When I use the `AmazonS3` (or `AmazonS3Client`) injected by Spring, it is impossible to set any of the configurations available in the `com.amazonaws.ClientConfiguration` class.

**Describe the solution you'd like**
It might be very useful if such configurations were available through the `application.yml` file,

[2022-04-05 21:40] migroskub commented on #214
I think that `S3ReactiveClient` could be great, but only if the user would still have access to the `S3AsyncClient` to configure stuff (like path/ regions specific customizations and more). In general I think this is the best option. Also you can take a look at this [great repo](https://github.com/paulcwarren/spring-content/blob/main/spring-content-s3/src/main/java/internal/org/springframework/con

[2022-04-06 07:12] maciejwalkowiak commented on #294
We've rebuilt S3 integration in 3.0, right now you are able to easily configure S3Client by either:
- providing properties `spring.cloud.aws.s3`
- overwriting the client bean
- overwriting the client builder bean

https://github.com/awspring/spring-cloud-aws/tree/main/spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/s3

Auto-configuring `ClientOverrideConfiguration` is

[2022-04-06 07:35] maciejwalkowiak opened #295 "Provide `spring-cloud-aws-starter`"
Provide `spring-cloud-aws-starter` that includes dependencies only to trigger credentials and region auto-configuration.

[2022-04-06 07:37] maciejwalkowiak opened #296 "Move starters to `spring-cloud-aws-starters` module"
To simplify top-level project view, move all starters to a separate `spring-cloud-aws-starters` parent module.

[2022-04-06 10:55] #295 closed

[2022-04-06 11:20] #287 closed

[2022-04-06 12:30] #296 closed

[2022-04-07 17:33] maciejwalkowiak opened #300 "Auto-configure S3 `TransferManager`"
Transfer Manager for SDK v2 is available in preview. We should add auto-configuration entry for it, that will be triggered only if TransferManager is in the classpath. Docs should include note that TransferManager is in preview.

Additionally, transfer manager compatible `S3OutputStream` implementation including `S3OutputStreamProvider` should be added.

https://aws.amazon.com/blogs/developer/intr

[2022-04-07 19:58] rcardin commented on #294
As I said, if you guide me a little, I can help :)

[2022-04-08 07:40] maciejwalkowiak commented on #294
I see two possibilities:

1. By naming convention

Users can provide a bean of type `ClientOverrideConfiguration` with a name matching particular builder. For example to configure S3 Client configuration they would create:

[code]

2. We provide an interface like:

[code]

and users can provide:

[code]

2nd option is nicer in a way that relies on types and less on strings (names). `AwsClientConfi

[2022-04-08 07:48] maciejwalkowiak commented on #294
I've pushed POC https://github.com/awspring/spring-cloud-aws/tree/294-poc

[2022-04-08 17:26] andyrozman opened #302 "SecretsManager Validation problem on startup of Spring Boot 2.6.6 microservice"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
So because of Spring Vulnerability I have to upgrade my Spring Boot from 2.2 to 2.6.6. This changes also include Cloud upgrade (2021.0.1) and of course switching to io.awspring.cloud (2.4.0).

I was trying to get this working (I created small boot application for testing after loosing whole day), and my small application started

[2022-04-08 18:42] maciejwalkowiak commented on #302
What's the value of `${spring.profiles.active}`? Has this setup worked before with Spring Cloud AWS 2.3.4?

[2022-04-08 21:04] andyrozman commented on #302
So the value is zumzum-dev04 (zumzum is replacement from company name).
This worked with with Spring Boot 2.2.1-RELEASE and Spring Cloud Hoxton.SR1. We haven't updated Spring since the project started (which was in 2019).

[2022-04-08 22:55] andyrozman commented on #302
I think I found the problem... So in file io.awspring.cloud.secretsmanager.AwsSecretsManagerProperties
you have defined:
	private static final Pattern PREFIX_PATTERN = Pattern.compile("(/)?([a-zA-Z0-9.\\-]+)(?:/[a-zA-Z0-9]+)*");
in old code (before split), this is defined as this:
	private static final Pattern PREFIX_PATTERN = Pattern.compile("(/[a-zA-Z0-9.\\-_]+)*");

I checked. My secret-manager

[2022-04-09 06:18] rcardin commented on #294
Thank you very much. You did a lot more than I hoped for 😊

[2022-04-09 07:21] maciejwalkowiak commented on #302
Yes, will be fixed and released.

[2022-04-09 09:03] andyrozman commented on #302
What is release timeline for this?

[2022-04-09 10:13] maciejwalkowiak commented on #302
Once we get #303 right meaning today/tomorrow/Monday 2.4.1 should be released.

[2022-04-09 10:50] andyrozman commented on #302
Great.
Thank you for all your great work...

[2022-04-10 19:41] maciejwalkowiak commented on #302
Fixed in https://github.com/awspring/spring-cloud-aws/commit/f034d798f9a0dae4bb1c3256b3a36592cc89dd71

[2022-04-10 19:41] #302 closed

[2022-04-10 21:41] ipanimnim commented on #214
Yeah wrapping `S3AsyncClient` sounds like the ideal way to go

[2022-04-10 21:43] ipanimnim commented on #214
I'd put `S3AsyncClient` as an argument in the constructor of `S3ReactiveClient`

[2022-04-11 07:02] zeldigas opened #308 "Specify urls in maven pom.xml to point to proper github project"
**Type**: Bug

**Component**:
spring-cloud-aws-dependencies

**Describe the bug**
While all main modules derive from spring-cloud-aws module that has properly configured scm section, spring-cloud-aws-dependencies has another parent and scm section is not configured to it. That leads to invalid links in PR produced by version update tools like renovate-bot
**Sample**
check this pom file - https://r

[2022-04-11 07:35] maciejwalkowiak commented on #308
Can you propose a PR with a change? I am not sure what needs to be done here.

[2022-04-11 07:38] zeldigas commented on #308
Sure, I'll send PR this evening.

[2022-04-12 11:22] maciejwalkowiak opened #312 "Send SMS with SNS"
Provide an interface for sending SMS messages via SNS.

With pure `SnsClient` SMS specific attributes must be provided as strings:

[code]

I think we could have `SmsMessageAttributes` containing all available attributes from https://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html#sms_publish_sdk:

[code]

This class should have a builder like all the other AWS SDK request classes do.

[2022-04-12 11:34] maciejwalkowiak commented on #312
Work can start once https://github.com/awspring/spring-cloud-aws/pull/276 is merged.

[2022-04-12 15:54] #77 closed

[2022-04-12 16:01] maciejwalkowiak commented on #155
It is still the case as this is the default behaviour of region provider chain. But since it is a core part of the framework, I don't see why would there be a property to disable region or credentials autoconfiguration. In 3.0, you can also provide your custom `AwsRegionProvider` bean for tests. I think it is such an unusual use case that we should not expose a property for it.

[2022-04-12 16:01] #155 closed

[2022-04-12 20:59] #285 closed

[2022-04-13 12:39] maciejwalkowiak commented on #131
In 3.0 we will still rely on `guessContentTypeFromName` but will give an option to provide custom implementation of content type resolver. This is because we still need to support Java 8+, and there was quite a bit of mess with javax.activation that I don't think i want to solve now.

Anyways, you won't be limited anymore to the content type resolution provided by the framework and i think this is

[2022-04-13 15:26] maciejwalkowiak opened #316 "Integration with DynamoDB"
Add autoconfiguration for `DynamoDBClient` and `DynamoDbEnhancedClient`.

[2022-04-14 05:22] maciejwalkowiak opened #318 "Simplify signing urls for putting and getting S3 objects"
Add 2 methods (likely to `S3Operations`), one for getting signed url for fetching S3 object, second for getting signed url for putting an S3 object.

Work can start once https://github.com/awspring/spring-cloud-aws/pull/314 is merged.

[2022-04-14 13:53] jifeiiii commented on #214
Any progress and a tracking issue so people can help?

[2022-04-14 15:12] marcindabrowski opened #320 "IAM Database authentication for RDS"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
It is possible to authenticate to DB instance using AWS Identity and Access Management (IAM) database authentication.
It is more secure because you are not using passwords.
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.html

**Describe the solution you'd like**
Currently, the passw

[2022-04-16 09:17] maciejwalkowiak commented on #214
Design work is pending. We are open for suggestion or even PRs but can't guarantee that anything will get merged until we do more research.

[2022-04-17 05:49] maciejwalkowiak commented on #320
IAM authentication will be possible with Spring Cloud AWS 3.0. At this stage, if you don't need replica sets just want to use IAM authentication consider using https://github.com/awslabs/aws-mysql-jdbc

[2022-04-17 06:15] maciejwalkowiak opened #322 "RDS support"
This issue collects all the requirements for RDS support in Spring Cloud AWS 3.0 (based on AWS SDK v2).

The key feature in RDS integration is support for read replicas:

- use RDS read replicas for `readOnly` connections (transactions started with `@Transactional(readOnly=true)`

Additionally we need to support:

- https://github.com/awspring/spring-cloud-aws/issues/320
- failover

Both can be ac

[2022-04-17 06:16] maciejwalkowiak commented on #320
Replaced by #322

[2022-04-17 06:16] #320 closed

[2022-04-17 06:17] maciejwalkowiak commented on #50
Replaced by #322

[2022-04-17 06:17] #50 closed

[2022-04-17 06:17] maciejwalkowiak commented on #180
Replaced by https://github.com/awspring/spring-cloud-aws/issues/322

[2022-04-17 06:17] #180 closed

[2022-04-17 06:25] maciejwalkowiak commented on #258
Correct me if I am wrong, but AFAIK AWS SDK has a built in support for IMDSv2 in a default credentials chain and there is nothing we need to do in Spring Cloud AWS to support it ..?

[2022-04-17 08:37] ade90036 commented on #258
That's a really good question, let me check

Support for IMDSv2 was added in:

   - 1.11.678 of aws-java-sdk (commit 06a2180e)
   - 2.10.20 of aws-java-sdk-v2 (commit 53451414)

So I suspect that using the right SDK with the default credential chains
the application should be able to configure itself?

Is there any other configuration needed from spring-cloud-aws, or some
special overrides?

Last

[2022-04-17 10:40] maciejwalkowiak commented on #258
Can you verify that it is the case or push somewhere an example I could play with? Also, you're welcome to contribute this feature.

[2022-04-17 11:24] ade90036 commented on #258
Absolutely,

I'll get something setup for you

On Sun, 17 Apr 2022, 11:41 Maciej Walkowiak, ***@***.***>
wrote:

[2022-04-17 16:10] StochasticTinkr commented on #271
It wouldn't have to be a breaking change, you could simply have a new option that fails if exactly zero secrets are available.

[2022-04-18 12:36] viccsjain opened #327 "Connection pool shut down issue when actuator restart executed"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
Hi Team,

I am using spring cloud dependencies to read data from AWS secrets manager at the application startup.
When I start the application for the first time, it works fine. It is able to read data from secrets and have it in environment properties.
Recently we have a requirement to enable actuator restart endpoint. After ena

[2022-04-18 16:26] maciejwalkowiak commented on #327
Thanks for reporting. Likely Parameter Store is also affected.

[2022-04-19 12:16] #286 closed

[2022-04-19 15:06] maciejwalkowiak opened #332 "Document Secrets Manager integration"

[2022-04-19 15:06] maciejwalkowiak opened #333 "Document SES integration"

[2022-04-19 15:07] maciejwalkowiak opened #334 "Document Parameter Store integration"

[2022-04-19 18:35] maciejwalkowiak opened #335 "Migrate Cognito integration to AWS SDK v2"
1. Migrate Cognito integration from branch `2.4.x` to `main` using AWS SDK v2.
2. Update docs
3. Provide a sample app
4. Consider implementing https://github.com/awspring/spring-cloud-aws/issues/132

[2022-04-19 18:36] maciejwalkowiak commented on #335
cc @eddumelendez @rieckpil

[2022-04-20 09:13] maciejwalkowiak opened #336 "Document CloudWatch integration"
Once https://github.com/awspring/spring-cloud-aws/pull/237 is merged (or as a part of it). Likely, most of the existing docs from 2.4.x can be reused as we do not do anything ground breaking here.

Sample application should be added.

[2022-04-21 16:43] anthofo opened #337 "Secret Manager cannot deserialize plain text based secrets"
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
On AWS Secret Manager it is possible to define a secret as a list of key/value (json) or a plain text (string):
![Capture d’écran 2022-04-21 181457](https://user-images.githubusercontent.com/3809685/164505560-3ec95e58-cd2b-4237-b7cb-5f9143e0e22d.png)
The plain text can be used to store rsa keys, for instance.
But the implementatio

[2022-04-22 08:44] maciejwalkowiak commented on #337
Thanks @anthofo for reporting and preparing a PR. I'll take a deeper look next week.

[2022-04-25 01:56] eddumelendez commented on #335
cognito auto-configuration doesn't use aws sdk. I have submitted #340

[2022-04-25 07:57] maciejwalkowiak commented on #337
Fixed in #338

[2022-04-25 07:57] #337 closed

[2022-04-25 08:45] maciejwalkowiak commented on #294
@rcardin do you have any ETA for this? If not, we will do it internally :)

[2022-04-27 11:24] maciejwalkowiak opened #344 "Integration with SQS"
Integration with SQS must be migrated to AWS SDK v2. This is not meant to be a direct migration, but rather re-thinking how the current one is done. Things to consider:

- must implement Spring Messaging interfaces
- must support both regular queues and FIFO queues
- improve concurrency (https://github.com/awspring/spring-cloud-aws/issues/23)
- think how to extends message visibility when processi

[2022-04-27 11:48] maciejwalkowiak opened #345 "Auto-configure CloudWatch metrics publisher"
When `cloudwatch-metric-publisher` is in the classpath, SDK clients should be configured to publish metrics to CloudWatch.
There should be an easy way to opt-out from it but still keep the dependency in the classpath.

https://docs.aws.amazon.com/sdk-for-java/latest/developer-guide/metrics.html

[2022-04-27 11:48] morrowyn commented on #166
This seems like an odd requirement for a library that is supposed to work with AWS and wraps the official AWS java sdk.

If the library was called: `spring.cloud.storage.s3` or something and was using [minio](https://github.com/minio/minio-java) for instance as generic s3 client internally, it would make a lot more sense to be able to use the library for any s3 compatible storage and how you see f

[2022-04-27 11:50] maciejwalkowiak commented on #269
Closing due to lack of feedback.

[2022-04-27 11:50] #269 closed

[2022-04-28 15:15] dibyajyotibehera opened #348 "spring-cloud-starter-aws-secrets-manager-config does not work with spring-cloud-starter-kubernetes-client-config"
**Type**: Bug

**Component**:Secrets Manager

**Describe the bug**
I am trying to use aws-secrets-manager for secrets and kubernetes-client-config for app configuration.
aws-secrets-manager works fine in isolation , however when i add the kubernetes-client-config dependency the app fails.
aws-secrets-manager for some reason tries to read a non existent secret (/secret/null_kubernetes) and fails wi

[2022-04-28 17:35] #348 closed

[2022-04-28 17:36] dibyajyotibehera commented on #348
moving it to github discussions

[2022-04-29 04:11] maciejwalkowiak commented on #166
@morrowyn this issue does not get the highest priority but it would be nice to support alternative storage options. Even if it would be just for testing with Localstack purpose.

[2022-04-29 09:41] maciejwalkowiak opened #351 "Guard all non-nullable method parameters in public APIs"
Guard all non-nullable method parameters in public APIs with:

[code]

This does not apply to auto-configuration classes.

[2022-04-29 14:13] tomazfernandes commented on #344
Hi @maciejwalkowiak, would you be willing to look into a community contribution for this, or it it something you're planning on getting done by the core team?

I have some ideas and would be willing to open a draft PR maybe mid next week so we could take a look. Then, of course, if you don't like the design, no worries, should at least bring up some interesting discussions.

What do you think?

Th

[2022-04-29 17:06] tomazfernandes commented on #344
Sounds good! I'll open a draft PR with an MVP of what I have in mind then, and if it looks like a good approach we can work our way up from there.

Design-wise, I still have to take a closer look into a few things, but it seems some of the `Spring Messaging` interfaces, such as the `MessageChannel`, are not really designed for the kind of `async` capabilities that the AWS SDK 2.0 allows for. The `

[2022-04-29 18:11] amit-github-personal commented on #318
Hi @maciejwalkowiak , I would love to work on this

[2022-04-29 18:12] amit-github-personal commented on #318
The pull request 314 has now been merged so can i start working on this?

[2022-04-30 20:09] krimsz commented on #300
Hey @maciejwalkowiak I think I can help on this one, already did some development on my side to test the waters and it does not seem very complex.
I do have a question, for the S3OutputStream implementation it looks like we need 99% of the code since we also would need to create a temporary file on disk, if this is the case, is it ok if I change the existing code a bit? This would be to prevent to

[2022-05-01 07:02] maciejwalkowiak commented on #300
@krimsz yes, definitely it makes sense to not duplicate this piece of code.

[2022-05-01 14:32] anugrahsinghal opened #358 "Gitpod Integration Enhancement - Open With Gitpod Button"
The `Open with Gitpod` Button, uses to the upstream repo [spring-cloud-aws](https://github.com/awspring/spring-cloud-aws)/`main`.
Would it be better to have the button open the `fork/branch` for the user/contributor is working on?

The gitpod button can be changed to point to the user-specific fork/branch.

Please let me know if this sounds like a good idea, I'd be willing to work on it.

[2022-05-01 14:35] anugrahsinghal opened #359 "Gitpod Enhancements - use mvnd by default"
The README.md file for the project suggests, using `mvnd` for faster builds.

The gitpod runtime can be configured to provide the `mvnd` runtime out-of-the-box.

Please let me know if this sounds like a good idea, I'd be willing to work on it.

[2022-05-01 14:38] maciejwalkowiak commented on #359
I've actually tried it - and added `brew install mvndaemon/homebrew-mvnd/mvnd` in the init phase. The problem is that it takes ages to install. If you find a better/faster way to do it, i am very open!

[2022-05-01 14:40] anugrahsinghal commented on #359
what kind of time benchmarks are we expecting?

I tried using sdkman on the gitpod instance and it was pretty fast.

Could you take a look here
https://gitpod.io/#https://github.com/anugrahsinghal/spring-cloud-aws/tree/gitpod-mvnd

[2022-05-01 14:44] maciejwalkowiak commented on #358
I got a feeling that when users see "Open with Gitpod" they don't expect a fork to be created for them. Ideally, we do not surprise users at all :-)

When I tried Gitpod & VSCode, when push is made it soft of guides by hand that you don't have rights to push to origin and creates a fork for you - so i don't see this as an issue. But perhaps I am missing something and this can be done better. If it

[2022-05-01 14:46] maciejwalkowiak commented on #359
Ok i am sold! With brew it took minutes to install, here I did not even realise when installation finished. Send PR @anugrahsinghal

[2022-05-01 14:55] anugrahsinghal commented on #359
have raised the PR
https://github.com/awspring/spring-cloud-aws/pull/360

Please let me know if this needs any changes.

[2022-05-01 15:30] anugrahsinghal commented on #358
Perhaps I could not explain the whole context.

I did not mean that `Open with Gitpod` will create a fork.

I mean as a user that already has an existing fork - when I click on `Open in Gitpod` on my `fork/branch`, it actually checks out my version of the code instead of the upstream one.
i.e.
say with a user `Alice` has `no fork` of https://github.com/awspring/spring-cloud-aws/

they click on `Op

[2022-05-01 15:39] anugrahsinghal commented on #358
https://spectrum.chat/gitpod/general/how-to-specify-users-fork-instead-of-main-repository~d4c0e615-511d-409e-9ffc-796869fe4708

[2022-05-01 17:26] maciejwalkowiak commented on #358
Ah, definitely makes sense! Please go with a PR.

One thing to note - privacy oriented browsers do not pass the referrer header and this approach does not work. Please add a note about this in https://github.com/anugrahsinghal/spring-cloud-aws/blob/gitpod-on-user-fork/CONTRIBUTING.md

[2022-05-01 17:27] #359 closed

[2022-05-02 08:39] maciejwalkowiak opened #363 "Upload test coverage reports to SonarCloud"
At this moment we do not have test coverage reports in [SonarCloud](https://sonarcloud.io/summary/overall?id=awspring_spring-cloud-aws).

Links that may be helpful:

https://community.sonarsource.com/t/upload-jacocotestreport-data-to-sonarcloud-using-github-actions/38875
https://community.sonarsource.com/t/how-to-configure-upload-coverage-reports-to-sonarcloud-io/24618
https://community.sonarsourc

[2022-05-03 08:51] #205 closed

[2022-05-03 08:51] #332 closed

[2022-05-03 10:06] maciejwalkowiak opened #366 "Use version from `pom.xml` in `SpringCloudClientConfiguration`"
It's easy to miss updating `SpringCloudClientConfiguration` on the release. Ideally it should take version from artifact version defined in `pom.xml`.

[2022-05-03 22:21] thomasdac commented on #316
Hi @maciejwalkowiak ,

Could you provide DynamoDB Accelerator (DAX) support as well? https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DAX.client.run-application-java.html

It's a implementation of DynamoDBClient interface: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DAX.client.TryDax.java.html

It would be something like:

[code]

Thanks

[2022-05-03 23:23] MatejNedic commented on #316
Hey @thomasdac ,
Tnx on provided sample, something similar will be provided as part of #339

[2022-05-04 07:24] maciejwalkowiak opened #369 "Integration with DynamoDB Accelerator"
Add support for DAX (https://github.com/awspring/spring-cloud-aws/issues/316#issuecomment-1116716406) once #316 is finished and merged.

[2022-05-04 18:45] #300 closed

[2022-05-04 21:30] dmlogs opened #370 "Path matched S3 resource is not loaded"
**Type**: Bug

**Component**:
S3

**Describe the bug**
Spring Boot 2.7.0-M3
Spring Cloud AWS 2.4.1

Per documentation [`PathMatchingSimpleStorageResourcePatternResolver`](https://github.com/awspring/spring-cloud-aws/blob/2.4.x/spring-cloud-aws-core/src/main/java/io/awspring/cloud/core/io/s3/PathMatchingSimpleStorageResourcePatternResolver.java) should load resources from `S3` with `SimpleStoragePr

[2022-05-05 08:25] maciejwalkowiak commented on #370
Have you tried setting it up as [explained in the docs](https://docs.awspring.io/spring-cloud-aws/docs/2.4.1/reference/html/index.html#searching-resources), with passing application context as the second parameter?

[2022-05-05 14:58] #170 closed

[2022-05-05 17:03] dmlogs commented on #370
Thanks @maciejwalkowiak , that did resolve correctly. I would request a documentation update, I personally interpret the current language as using this resolver only when it does not resolve an s3 path:

[`@param resourcePatternResolverDelegate - delegate resolver used to resolve common path (file, classpath, servlet etc.)`](https://github.com/awspring/spring-cloud-aws/blob/2.4.x/spring-cloud-aws-

[2022-05-05 17:15] maciejwalkowiak commented on #370
@dmlogs could you please create a PR with this change to `2.4.x` branch?

[2022-05-05 19:06] maciejwalkowiak commented on #370
Closing. @dmlogs feel free to drop a PR.

[2022-05-05 19:06] #370 closed

[2022-05-06 08:32] noshua commented on #168
@maciejwalkowiak Could you give me a hint how I can change the used credentials profile to anything else than default with spring.config.import?

[2022-05-06 08:57] #334 closed

[2022-05-06 09:15] maciejwalkowiak commented on #168
@noshua You need to register custom client for secrets manager. Check this entry in docs https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-SNAPSHOT/reference/html/index.html#customizing-secretsmanagerclient (it's for 3.0 but same principles apply to 2.4.x)

[2022-05-06 11:24] maciejwalkowiak opened #377 "Support Secrets Rotation"
https://github.com/spring-attic/spring-cloud-aws/issues/624

Either we should implement support for Secrets rotation, or document how this can be achieved.

[2022-05-06 11:42] maciejwalkowiak opened #378 "Use Localstack and cdklocal in samples"
Samples should be ready to be used with Localstack and infrastructure deployed via `cdklocal`.

- provide Localstack `docker-compose.yml` for samples
- add instructions on how to execute CDK against Localstack
- probably makes sense to update all samples to point to Localstack instance by default

[2022-05-06 11:56] maciejwalkowiak commented on #258
@ade90036 any news here?

[2022-05-08 20:40] krimsz commented on #345
Hey @maciejwalkowiak I was taking a look at this today, there are a couple of unclear points on how to do this. I've done a small PoC around here and I wanted to see if the design would work or if I should pivot a bit. Tests are not changed for this and docs/comments are lacking still, just wanna see if this would make sense.
https://github.com/krimsz/spring-cloud-aws/tree/cloudwatch-publisher-opt

[2022-05-09 04:42] maciejwalkowiak commented on #345
Thanks @krimsz! Looks fantastic so far!

1. Single bean for all clients is good enough. When someone needs another configuration per client they can always overwrite client - we should not prepare auto configurations for all edge cases.
2. Sounds good!
3. Yes! Perhaps there should be `spring.cloud.aws.client.metrics.enabled`, `spring.cloud.aws.client.metrics.upload-frequency` etc.
4. No problem wi

[2022-05-10 15:19] DineshNO opened #382 "java.lang.StackOverflowError - spring-cloud-starter-aws-secrets-manager-config : 2.4.1"
Application is going into inifinte loop upon execution.

I am trying a fetch secret with spring-cloud-starter-aws-secrets-manager-config dependency.

I am setting the AWS_ROLE_ARN=arn:aws:iam::xaxsaxsadsa:role/databricks_nss

[code]

[code]

[log4j-active (4).txt](https://github.com/awspring/spring-cloud-aws/files/8662831/log4j-active.4.txt)

[2022-05-10 15:40] maciejwalkowiak commented on #382
I am not sure if this is a bug on our side or misaligned AWS SDK versions. Have you tried setting the version for AWS SDK as docs describe: https://docs.awspring.io/spring-cloud-aws/docs/2.4.1/reference/html/index.html#amazon-sdk-dependency-version-management and then just add the dependency to `aws-java-sdk-sts` without specifying the version?

[2022-05-10 17:58] anugrahsinghal commented on #358
apologies for the delay.

Opened PR #383, please take a look.

[2022-05-11 03:00] DineshNO commented on #382
Hi @maciejwalkowiak
Thanks for the quick response.

Will try this.

[2022-05-11 03:25] DineshNO commented on #382
Hi @maciejwalkowiak
i got the same error .added the changes i did below.

I am sorry if i have misunderstood or didn't add enough information.
aws-java-sdk-sts - should be used only when the app is deployed to EKS ?

My situation is i am building an executable jar and run that from Databricks as a scheduled job.
We have an InstanceProfile setup in databricks which doesn't have access to secrets.So

[2022-05-11 04:28] maciejwalkowiak commented on #382
It does not seem to be an issue with Spring Cloud AWS but either with AWS SDK, or there is a missing configuration that i am not aware of.

Same issue with pure AWS SDK is reproduced here: https://github.com/maciej-scratches/aws-sts-infinite-loop

Related issue reported to AWS SDK: https://github.com/aws/aws-sdk-java/issues/2760

Closing it for now as seems there is nothing we can do about it, but

[2022-05-11 04:28] #382 closed

[2022-05-11 04:31] #358 closed

[2022-05-11 05:03] maciejwalkowiak commented on #377
When secret value changes, we have to have a way to notify all interested instances about the change. This can be either through an HTTP call or a message.

One one would be to configure Secrets Manager to publish a notification to SNS channel to which all instances are subscribed either via HTTP subscription, or each instance on startup would create a temporary SQS queue subscribed to this channe

[2022-05-12 09:26] maciejwalkowiak commented on #377
How to implement periodic refresh:

[code]

[code]

Note - this will trigger refreshing all property sources.

[2022-05-13 16:33] sowmyaraghu commented on #224
Is the support for AWS SQS listener added to Spring Cloud AWS 3.x yet?

[2022-05-13 18:59] maciejwalkowiak commented on #224
@sowmyaraghu not yet but work is in progress look #374

[2022-05-14 08:50] DineshNO commented on #382
Hi @maciejwalkowiak ,
I am facing difficulty in setting up a logger for displaying aws related logs.
Attaching pom.xml and log42.xml to my application.
I am using lombok @Slf4j loggers which works for my classes but can't find the same for aws.
Please help configure the logs.

pom.xml

` <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starte

[2022-05-14 11:06] maciejwalkowiak commented on #382
Perhaps they aren't easy to find when you have root set to `trace`. Try this config:

[code]

Find fully working example here: https://github.com/maciej-scratches/aws-sts-infinite-loop/tree/logging

[2022-05-17 00:54] jobas2007 opened #386 "Retrieve multiple aws secrete in spring boot app that have same keys"
**Type**: Bug

label:"component: secrets-manager"

** also did put on stack overflow - https://stackoverflow.com/questions/72264774/retrieve-multiple-aws-secrete-in-spring-boot-app-that-have-same-keys
Have a spring boot app (with starter parent at 2.4.8).

The app is connecting to multiple data sources, and the automated Jenkins job being used to create secrets across company does it such a way th

[2022-05-17 09:46] klopfdreh opened #387 "AuthorizationHeaderMalformed when using S3 with VPCE"
**Type**:
Bug

**Component**:
S3

**Describe the bug**
When using a VPCE endpoint the region detection is not working correctly. I also tried to override the region by setting it with `cloud.aws.s3.region`, but this is ignored anyway. This might be an issue in the `AmazonS3ClientFactory` of `spring-cloud-aws-core-2.4.1.jar`, because here the region is derived from the host or if not matching the A

[2022-05-17 12:52] klopfdreh commented on #387
I was able to fix this by adding a configuration:
[code]

This is only a workaround and shouldn't be necessary. It should work by only adding spring-cloud-starter-aws and the auto configuration provided by this dependency.

[2022-05-18 09:57] maciejwalkowiak commented on #382
Yes, if its not optional and its not able fetch secrets, application should fail to start

[2022-05-18 10:02] maciejwalkowiak commented on #387
This issue is already fixed in `main` branch pointing to `3.0.0` version. @klopfdreh PRs for fixing it in `2.4.x` are welcome!

[2022-05-18 10:04] maciejwalkowiak commented on #386
Closing in favor of #388

[2022-05-18 10:04] #386 closed

[2022-05-18 10:12] klopfdreh commented on #387
Hey @maciejwalkowiak thanks for the answer - is there any roadmap when 3.x.x is going to be released?

[2022-05-18 13:50] adeel718 opened #389 "Spring Cloud Sleuth integration"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
As part of spring 2.2.x before this was moved to aws spring spring sleuth integration worked by default, this is no longer working and someone had raised it here but I cant seem to find the ticket here to get this integrated - https://github.com/spring-cloud/spring-cloud-sleuth/issues/1956

**Describe the solutio

[2022-05-19 05:09] klopfdreh commented on #387
Thanks a lot for the hints! 👍

[2022-05-21 17:19] sgarfinkel opened #392 "In-Memory Buffered S3 Output Stream"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
The  `S3Resource` in the old spring-cloud-aws used to return an OutputStream that would buffer the content, and send the content (when it exceeded the buffer capacity), to S3 as a multipart upload. This is particularly useful for large streaming files where the user may not want to store the entire file on the fi

[2022-05-21 17:40] sgarfinkel commented on #214
The latest versions of the SDK allow you to return an `SdkPublisher<ByteBuffer>` (which extends `Publisher<ByteBuffer>`) which you can use to map to the underlying byte array: https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/core/internal/async/PublisherAsyncResponseTransformer.html.

The main issue with doing this is backpressure management is a bit of a pain here , from what I un

[2022-05-21 21:34] boolivar opened #393 "Fail on startup if sqs queue does not exist"
**Type**: Feature

**The problem**
If queue specified for `SqsListener` is not exists at the time of application startup, `SimpleMessageListenerContainer` simply ignores that queue and continue without subscribing, it just puts WARN message in the logs.

**Possible solution**
It would be nice to have a possibility to fail on startup if queue does not exist.

**Alternative**
Another alternative is

[2022-05-22 06:00] maciejwalkowiak commented on #392
Agreed that it would be nice to have. The benefit of storing first on disk is that in case of an upload failure, uploading part can be retried as it's possible to rewind the input stream.

At this stage, for v3 we will recommend using https://github.com/CI-CMG/aws-s3-outputstream and adding a custom `S3OutputStreamProvider` for this library.

We are also waiting for AWS to implement: https://githu

[2022-05-22 15:46] sgarfinkel commented on #392
@maciejwalkowiak I have an implementation of this which is thread-safe with ReentrantLock that I can contribute if that would be helpful.

[2022-05-22 21:19] maciejwalkowiak commented on #392
@sgarfinkel create a PR please and lets see!

[2022-05-26 21:26] sgarfinkel commented on #389
Would it be better to instead integrate opentracing? It would support more tracing backends.

[2022-05-26 21:32] sgarfinkel commented on #316
3.x.x is a good opportunity to also implement a full ORM implementation of DynamoDB with Spring Data. There are ones out there that target AWS SDK v1, but not any that target v2.

[2022-05-30 04:50] maciejwalkowiak commented on #389
Sleuth under the hood integrates with OpenTelemetry (which is a opentracing successor) and few more tracing backends AFAIR, so actually staying compatible with Sleuth opens up doors for supporting even more backends.

[2022-05-30 04:52] maciejwalkowiak commented on #316
@sgarfinkel this is already in progress in a private repo, but made as a separate project rather than a part of Spring Cloud AWS.

[2022-06-01 09:39] maciejwalkowiak opened #401 "Add common client properties to `AwsProperties`"
In addition to endpoint url and region there should be:

- dualstackEnabled
- fipsEnabled
- defaultsMode

[2022-06-01 09:40] maciejwalkowiak commented on #393
Fixed in https://github.com/awspring/spring-cloud-aws/pull/394

[2022-06-01 09:40] #393 closed

[2022-06-02 04:53] #351 closed

[2022-06-03 10:20] #401 closed

[2022-06-03 15:25] MatejNedic commented on #175
Since `spring.config.import` takes care of processing `ConfigDataLocation` in order from last specified element in the list to first element.
Meaning if we would have:
`spring.config.import=aws-secretsmanager:/config/spring,aws-parameterstore:/config/spring/`
First to be resolved would be `aws-parameterstore:/config/spring/` and after that `aws-secretsmanager:/config/spring` would be resolved.

Th

[2022-06-03 15:25] #175 closed

[2022-06-06 11:03] penguinlab opened #406 "Spring Boot 2.7 Support"
**Type**: Feature

Are there any plans to support Spring Boot 2.7 ?

[2022-06-06 22:33] zachzientek opened #407 "Default configuration of AbstractMessageChannelMessagingSendingTemplate leads to Jackson error: "Could not write JSON: Java 8 date/time type java.time.Instant not supported by default""
**Type**: Bug

**Component**: SNS

**Describe the bug**
Using Spring Cloud AWS 2.4.1, Spring Cloud 2021.0.2, and Spring Boot 2.7.0.
This issue is similar to a previous issue with SQS (https://github.com/awspring/spring-cloud-aws/issues/217) but occurs when trying to send SNS messages (NotificationMessagingTemplate.convertAndSend) that contains fields of Java date/time types. It leads to the follow

[2022-06-07 01:45] penguinlab commented on #406
Thanks for the reply. No problem.
I just now saw that there is a note added to README.md about compatibility with Spring Boot 2.7.
I had missed it. Sorry.

[2022-06-07 01:46] penguinlab commented on #406
Thanks for the reply. No problem.
I just now saw that there is a note added to README.md about compatibility with Spring Boot 2.7.
I had missed it. Sorry.

[2022-06-07 01:46] #406 closed

[2022-06-07 05:13] maciejwalkowiak commented on #407
When creating `NotificationMessagingTemplate`, you can pass custom `MessageConverter` which can be an instance of `MappingJackson2MessageConverter` configured with `ObjectMapper` supporting JSR 310 modules.

[2022-06-07 05:14] maciejwalkowiak commented on #406
@penguinlab no worries! If you find any issues please let us know.

[2022-06-07 15:55] zachzientek commented on #407
Thanks for the feedback. Yeah, I figured out the workaround as you mentioned. I wasn't sure if it was intentional that the Spring configured ObjectMapper wasn't being used and especially that Java 8 time support isn't included by default.

[2022-06-08 10:11] maciejwalkowiak commented on #333
Fixed in https://github.com/awspring/spring-cloud-aws/pull/409

[2022-06-08 10:11] #333 closed

[2022-06-08 10:15] maciejwalkowiak commented on #20
Integrations already migrated that are going to be released in Spring Cloud AWS 3.0 M1

- S3
- SES
- SNS
- Parameter Store
- Secrets Manager

Which leaves us few more to be ported from 2.x in further milestones:

- RDS (https://github.com/awspring/spring-cloud-aws/issues/322)
- SQS (https://github.com/awspring/spring-cloud-aws/issues/344)
- CloudWatch (https://github.com/awspring/spring-cloud-aws/

[2022-06-08 10:15] #20 closed

[2022-06-08 10:18] iranicus commented on #389
For the moment while waiting for this to be released in version 3 where we are in need of a traceId which was originally supplied using sleuth (uses Brave underneath by default I believe) we are using the @NewSpan annotation. This is supplied by the current spring-cloud-sleuth-api library which generates the Span each time the listen() method is called as part of our SQS Listeners:

[code]
Works w

[2022-06-08 14:13] hajdukd opened #411 "Spring Cloud AWS 2.4.1 / SpringBoot 2.6.6 - ParameterStore - File extension is not known to any PropertySourceLoader"
**Type**: Bug

**Component**:
Spring Cloud AWS 2.4.1
SpringBoot 2.6.6

**Describe the bug**
When specifying `spring.config.import: 'aws-parameterstore:'` application does not even start. Debugging shows that LocationResolver for aws-parameterstore doesn't even exist in the context.

When specifying `spring.config.import: 'aws-parameterstore:/existing/key/prefix/'` application does not start saying

[2022-06-08 15:26] #411 closed

[2022-06-08 19:17] maciejwalkowiak commented on #411
No worries @hajdukd :-)

[2022-06-09 07:49] hajdukd commented on #411
Thanks [Ducky x]](https://i.imgur.com/8jk4Whg.jpg)

[2022-06-09 15:38] maciejwalkowiak opened #413 "X-Ray Integration"
Provide auto-configurations for X-Ray:

- https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java.html
- https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java-aop-spring.html

[2022-06-14 03:36] maciejwalkowiak opened #414 "Refactor `SnsTemplateIntegrationTest`"
`SnsTemplateIntegrationTest` should be moved to `spring-cloud-aws-sns` module

[2022-06-14 08:35] birnbuazn opened #417 "Outdated Docs"
**Type**: Feature

On your official project home at https://awspring.io/learn/introduction/ you still mention

which is obviously outdated and might be confusing for new devs

[2022-06-14 11:41] #417 closed

[2022-06-15 21:05] maciejwalkowiak opened #422 "Use latest Java 8 version in Github Actions"
Github Actions: build, release, upload docs, should use the latest Java 8 version (8u333)

[2022-06-16 09:09] maciejwalkowiak opened #425 "Docs generation job sometimes fail"
`Build docs` step of `upload-docs.yml` github action sometimes fail with:

[code]

Can't reproduce it locally, it is also inconsistent on Github actions environment. It usually works after few retries.

[2022-06-16 09:12] maciejwalkowiak opened #426 "`make build` produces unformatted code"
Running `make build` recreates a file: `spring-cloud-aws-s3-parent/spring-cloud-aws-s3-cross-region-client/src/main/java/io/awspring/cloud/s3/crossregion/CrossRegionS3Client.java`. File is not formatted to spotless rules, so even if file wasn't touched, it appears as changed after running build.

`make build` should also refactor the code.

[2022-06-16 09:14] maciejwalkowiak opened #427 "Exclude `spring-cloud-aws-starters` from publishing"
`spring-cloud-aws-starters` module gets published to Maven central even though it serves just as a container for other starters.

Simply excluding it from the release plugin means that its submodules will also be excluded, so something else has to be done.

[2022-06-16 11:10] #425 closed

[2022-06-16 11:46] #426 closed

[2022-06-16 20:59] maciejwalkowiak opened #432 "Migrate `PathMatchingSimpleStorageResourcePatternResolver` to AWS SDK v2"
`PathMatchingSimpleStorageResourcePatternResolver` should be migrated to AWS SDK v2 in 3.0 version (`main` branch).

[2022-06-17 07:28] rcardin commented on #294
Sorry, @maciejwalkowiak. I missed the message :(
Anyway, I'm glad I gave you a good idea.

Thanks for all.

[2022-06-17 07:48] maciejwalkowiak commented on #294
No worries @rcardin! We're still iterating on it. Take a look at what we've done for 3.0 M1

[2022-06-17 17:21] mcruzdev commented on #422
Can you assign it for me?

[2022-06-18 20:58] sgarfinkel commented on #413
Should probably provide X-Ray integration with Spring Cloud Sleuth as well

[2022-06-18 21:01] sgarfinkel commented on #389
Just as an FYI, Brave supports instrumentation of AWS out of the box https://github.com/openzipkin/zipkin-aws/tree/master/brave/instrumentation-aws-java-sdk-v2-core. I agree though it would be helpful to have this functionality auto configured by the framework.

[2022-06-20 07:26] maciejwalkowiak commented on #422
@mcruzdev go for it!

[2022-06-22 12:49] tomazfernandes opened #436 "Implement FIFO Support"
Implement support for `FIFO` queues.

Should be pretty straightforward overall. The key part should be implementing a `FifoMessageSplitter` with the logic to group messages from the same `message group` and processing each group in parallel while maintaining order within a group.

The `AbstractEndpoint` should be aware that it's a `fifo` endpoint and instantiate the proper `splitter`. Maybe it's w

[2022-06-22 13:08] tomazfernandes opened #437 "SQS 3.0 - Implement AutoConfiguration"
Implement auto configuration for the SQS integration.

### Basic functionality

The usual design for other `Spring` messaging projects is having the `@EnableXPTO` annotation in a `@Configuration` class, such as in [Spring Kafka's auto configuration](https://github.com/spring-projects/spring-boot/blob/c9e0e8891fe677841a48b38f4e8b3f205e072648/spring-boot-project/spring-boot-autoconfigure/src/main/ja

[2022-06-22 15:54] tomazfernandes opened #439 "Implement Batch Listener Support"
Implement support for listeners to receive a `Collection<Message>`.

This is important for users to be able to improve performance - in a well designed user's processing pipeline, this can lead to great performance gains.

While I acknowledge this might not be a priority for this moment, I think there's a chance this might require some adjustments to the container component's interfaces design, so

[2022-06-22 16:07] tomazfernandes opened #440 "Implement BlockingAdapters"
Currently all container interfaces are `async` and thus require users that use `blocking` logic to manually return a `CompletableFuture<Void>`.

Of course, that's the case only if users want to do `blocking` operations - for `async` workloads such as making operations with other `AWS SDK v2 clients` they can just return the proper `CompletableFuture`.

Also, when using `@SqsListener` users do not

[2022-06-22 16:45] tomazfernandes opened #441 "Convert Message Payload in SqsMessagePoller"
This should be a tricky one. The [SqsMessagePoller](https://github.com/tomazfernandes/spring-cloud-aws/blob/GH-344/spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/listener/poller/SqsMessagePoller.java) uses the `SqsAsyncClient`, which returns the message bodies as `String`. But ideally we'd want to convert this to `T` so that user's `Interceptors`, `ErrorHandlers`, etc, could access the c

[2022-06-22 16:49] antonpperez commented on #345
Hey there, thanks for tagging me, at first I was waiting for someone to reply to you but then I kinda forgot about this.
Next week I might be able to spend some time on this.
@eddumelendez does it mean you already did this or were you commenting about my partial solution?

[2022-06-22 16:51] eddumelendez commented on #345
ignore my comment. I confused it 😬

[2022-06-22 17:06] tomazfernandes commented on #436
Just as a note, it seems AWS's [recommended solution](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html) for finding out if a queue is `FIFO` is actually checking the name end for `.fifo`

`Note:
The name of a FIFO queue must end with the .fifo suffix. The suffix counts towards the 80-character queue name quota. To determine whether a queue is FIFO, you ca

[2022-06-23 15:59] tomazfernandes commented on #441
I've dug a little deeper into how `Spring Kafka` handles this and updated the description.

[2022-06-24 06:38] tomazfernandes commented on #437
Almost done with this, should push tomorrow (that’s Friday here 😄)

[2022-06-26 16:21] #316 closed

[2022-06-27 06:11] maciejwalkowiak commented on #336
cc @eddumelendez

[2022-06-28 19:59] tomazfernandes commented on #441
Regarding this message conversion issue, I think I may have found a well balanced approach.

It's important to note that this will only be required for users that want to get a properly deserialized `POJO` in `ErrorHandler`, `Interceptor` and `AckHandler` components - if an unknown type is found, users will receive a `Message<String>` in these components and can deserialize themselves if they need

[2022-06-29 06:09] maciejwalkowiak commented on #441
@tomazfernandes sounds good to me!

[2022-06-29 23:55] tomazfernandes commented on #440
Closed by https://github.com/awspring/spring-cloud-aws/pull/374/commits/5678767d9fc870e19177a138f9c9bbe9badfdcbb

[2022-06-29 23:55] #440 closed

[2022-06-30 09:20] mgusiew-guide commented on #436
One thing that can be taken under consideration is visibility timeout. In case when one gets 10 messages from same group, they all need to be completed before within the time limit. The idea is to allow to extend the time limit after every message in the group is processed.

The other interesting thing is to decide what to do in case if the message is processed with error. There are few options:
1

[2022-07-01 05:26] maciejwalkowiak commented on #436
Side note - if possible, we can keep FIFO support for another PR.

[2022-07-01 13:14] tomazfernandes commented on #439
Closed by https://github.com/awspring/spring-cloud-aws/pull/374/commits/d16a9f3b06eceb16afcd71740d8befb4b5a6e153

Users can now define a `Collection<Message<MyPojo>>` or `Collection<Pojo>` parameters, such as:
[code]

or

[code]

The [AbstractEndpoint](https://github.com/tomazfernandes/spring-cloud-aws/blob/GH-344/spring-cloud-aws-sqs/src/main/java/io/awspring/cloud/sqs/config/AbstractEndpoint.jav

[2022-07-01 13:14] #439 closed

[2022-07-01 13:28] tomazfernandes opened #443 "Improve Acknowledgement Handling"
We currently have only one `AckHandler` implementation, the `OnSuccessAckHandler`, and implementations have to be set in the `factory` or `container`.

**Goals**

- Revise the `Acknowledgement`-related interfaces so we can accommodate features such as batching individual `acks`
- Design end-user interface for configuring `Ack` modes. Probably having an `Enum` in the `ContainerOptions` is a good ch

[2022-07-01 13:44] tomazfernandes commented on #436
Sure @maciejwalkowiak, thanks. Although, considering this is a complex issue, I'm considering picking this up next so we have time to let the solution mature for a while until we release `M2`. But I could pick up the other issues first too. Let me know if you have any further thoughts. Thanks.

[2022-07-01 14:29] tomazfernandes commented on #436
I mean, I could open another PR for it anyway, but unless it’s a PR against my branch we’d not be able to see much. Perhaps I didn’t get your point?

[2022-07-01 17:52] tomazfernandes opened #444 "Implement FIFO Support"
Implement basic support for `FIFO` queues.

**Goals**
- Implement idempotent message fetching
- Implement message partitioning by group
- Implement threaded fanout handling within each group
- Implement basic error / ack handling (when a message fails, subsequent messages are discarded)

**Stretch Goals**
- Implement automatic visibility extension
- Implement other error handling strategies (see h

[2022-07-01 17:54] tomazfernandes commented on #436
I've created a new issue that makes this scope more clear, so I'm closing this one.

Thanks!

Closed in favor of https://github.com/awspring/spring-cloud-aws/issues/444

[2022-07-01 17:54] #436 closed

[2022-07-01 19:39] mgusiew-guide commented on #444
Hi @tomazfernandes , I will reply to your comments in #436 early next week. We are still testing some corner cases and I want to make sure I fully understand the SQS FIFO behaviour before providing the feedback. Generally it looks like ordering and retries may be difficult to get right when poll batch size is bigger than one, more to come next week :)

[2022-07-02 21:37] tomazfernandes commented on #444
Sounds good, thanks again @mgusiew-guide!

I'd like to hear more about your particular use-case, if you're willing to share - as far as I understand, all scenarios you propose will eventually break ordering (unless we want to retry a message indefinitely), since they consider having a `DLQ`.

By setting the message `batch size` to 1, but having a `DLQ`, you're not really assuring ordering, since a

[2022-07-05 06:21] srikanthnutigattu-tomo commented on #322
Bump! Any plans to support this?

[2022-07-05 06:27] maciejwalkowiak commented on #322
@srikanthnutigattu-tomo yes, still planned for 3.0, but the design work still pending. Is there something specific you are looking for in this integration or you would like to share ideas?

[2022-07-05 06:39] srikanthnutigattu-tomo commented on #322
Specifically looking for support of Read replicas on AWS Postgres Aurora RDS. Currently all queries go to read/write, which no helping autoscaling of RDS.

[2022-07-05 08:40] maciejwalkowiak commented on #322
Understood. Yes it is planned. For the time being, you can follow Vlad's tutorial: https://vladmihalcea.com/read-write-read-only-transaction-routing-spring/

[2022-07-05 09:14] tiarebalbi opened #446 "Improve documentation to have Java configuration instead of XML only"
**Type**: Feature (Documentation)

**Is your feature request related to a problem? Please describe.**
Today, most of the documentation describe how to configure the beans using XML, the request here is to introduce a similar integration as the spring boot doc provides, and support different type of configurations in the doc.

**Example:**
- https://docs.spring.io/spring-framework/docs/current/refe

[2022-07-05 13:07] frankjkelly commented on #322
Excited for this!

[2022-07-05 20:13] tiarebalbi commented on #446
Thanks @maciejwalkowiak , yes that was going to be my suggestion I'm working on a project where I'm writing the Java config for most of the topics covered in the documentation.

Happy to create a PR with these changes.

[2022-07-05 20:51] mgusiew-guide commented on #444
Hi again @tomazfernandes ,

I did some additional research on this topic and I believe I am ready to discuss.

I use FIFO queues when I want to process in order, exactly once semantics is not that important for me cause the consumer may fail with retryable exception and in such case I want to retry the message before I process another one.

I see several use cases where FIFO semantics is useful, e

[2022-07-06 01:10] tomazfernandes commented on #444
Hi and thanks again for your input @mgusiew-guide!

I'm not sure I understand exactly what you mean by `FIFO semantics` - care to elaborate? For me that would be processing messages `exactly once` (no duplicates in the queue) and `in order` (no DLQ to allow skipping messages).

The use-case you brought is solid and good design, thanks!

I think the fundamental part we're not in sync for most of wh

[2022-07-06 04:34] sis-yoshiday opened #447 "S3 User defined metadata key is case-sensitive"
**Type**: Bug

**Component**:
"S3"

**Describe the bug**
User defined metadata key is case-sensitive.

Below document say user-defined metadata key is stored in lower-case.

User-defined metadata is a set of key-value pairs. Amazon S3 stores user-defined metadata keys in lowercase.

**Sample**

[code]

Can we have metadata as some case-insensitive Map ?

[code]

## aws-java-sdk v1

https://github.

[2022-07-06 05:57] maciejwalkowiak commented on #447
Regarding first piece of code:

[code]

we could change `ObjectMetadata` class to store in such case only `mymetadata` property with `boo` value.

Regarding getting object with `S3Client` - perhaps it's a good candidate for an issue in AWS SDK itself?

[2022-07-06 09:36] sis-yoshiday commented on #447
@maciejwalkowiak
Right, it may aws sdk's issue and need to report as aws-java-sdk issue.

Apart from that, it would be nice that we can access `user-defined-metadata` from `S3Resource`.

[2022-07-06 10:38] mgusiew-guide commented on #444
Hi again @tomazfernandes ,

Thanks for the quick reply. Below my responses

For me FIFO means first in, first out. To me the exactly once concept is orthogonal (I understand that it is currently offered for FIFO only but I can imagine standard queues with exactly-once semantics). In the real world hiccups happen so IMHO FIFO needs to take retries in account. So I would like the message to be retri

[2022-07-06 15:26] tomazfernandes commented on #444
Thanks for the clarification, looks like we're exactly on the same page. Also, thanks for bringing the `CQRS` use case, I hadn't thought yet of an objective use case that required strict message ordering and this fits perfectly.

I think simplest solution overall would be what we currently have in `Spring Cloud AWS SQS` - leave retrying / DLQ complexity to `AWS` and user configuration, and we just

[2022-07-06 15:33] tomazfernandes commented on #444
One minor consideration:

I don't think that's what would happen - if we extend the second message's visibility, we'd still have an inflight message for that `message group`, and `SQS` wouldn't service the first message again until we either delete or let the second message expire.

Also, I ran some preliminary tests, and `SQS` has some weird behavior if we delete e.g. the third message in a batch

[2022-07-06 15:57] tomazfernandes commented on #444
@maciejwalkowiak, just a thought, do you think it might be a good idea to merge the current code as is to a separate branch in the project, and then I can open new `PRs` against it? Afterwards we'd still be able to open a `PR` from that branch to `main` for a review of the integration code as a whole.

This way I could open a separate `PR` with the `FIFO` solution without having to wait for the cu

[2022-07-07 09:19] maciejwalkowiak commented on #447
@sis-yoshiday would you like to contribute a PR?

[2022-07-07 09:23] mgusiew-guide commented on #444
Hi @tomazfernandes ,

Thanks for sharing your thoughts.

Some comments from my side:

We tested this scenario and this is exactly what is happening. IMHO the way that SQS works is that in situation where you process second message and the first message and third message are in the queue, SQS will allow anyone to poll first message but will keep the third message hidden (SQS blocks downstream messa

[2022-07-07 11:07] sis-yoshiday opened #449 "S3 : Ability to get user-defined metadata via S3Resource"
**Type**: Feature

**Describe the solution you'd like**
Add accessor to `io.awspring.cloud.s3.S3Resource`

- add user-defined-metadata field to `io.awspring.cloud.s3.S3Resource.HeadMetadata`
- add `Map<String, String> metadata()` to `S3Resource`

[2022-07-08 09:01] maciejwalkowiak commented on #449
@sis-yoshiday shouldn't `metadata()` return `ObjectMetadata`?

[2022-07-08 23:24] tomazfernandes commented on #444
Sorry for the delay @mgusiew-guide, and thanks for your response.

You're right. But I do consider this behavior to be weird, since they claim *When you receive a message with a message group ID, no more messages for the same message group ID are returned unless you delete the message or it becomes visible.* In my interpretation of this rule the first message should not be redelivered as long as a

[2022-07-09 06:18] sis-yoshiday commented on #449
@maciejwalkowiak

if my understanding is correct, metadata can be loaded by `HeadObject` request.

I submitted PR
https://github.com/awspring/spring-cloud-aws/pull/451

[2022-07-11 16:21] mgusiew-guide commented on #444
Thanks for reply @tomazfernandes

Below my comments:

I agree that the docs is is bit vague but one could argue that "or it becomes visible" is what is happening here (message one becomes visible because of visibility timeout).

If you want to implement this strategy only, then indeed you can increase the timeout. Note however that this strategy has some limitations. Let's say you get two messages

[2022-07-11 19:09] fjmacagno opened #452 "CrossRegionS3Client without GetObjectLocation"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I am accessing buckets via a role which is not a bucket owner, meaning that GetBucketLocation cannot work, and so the CrossRegionS3Client cannot work.

**Describe the solution you'd like**
The PermanentRedirect error includes the region that should be used; CrossRegionS3Client ought to be able to read the full er

[2022-07-11 19:35] tomazfernandes commented on #444
I guess you're right again, thanks. Perhaps if the example in the docs illustrated a scenario with more than one message being served it might be clearer.

I think we might still not be exactly in the same page. This time perhaps let me show you a more detailed example of what's on my mind, and you can let me know if you see any inconsistencies.

To make it simpler, I'll start with the basic examp

[2022-07-12 08:44] mgusiew-guide commented on #444
Hi @tomazfernandes ,

Thanks for going into details, from what I see we are on the same page with basic scenario. There is only one thing that I would like to clarify. Let's say we polled two messages in same group and the first one kept on failing which caused the second one to not be processed. Do I understand correctly that in case if some time later the poll receives third message in same grou

[2022-07-12 14:59] tomazfernandes commented on #444
Hi @mgusiew-guide,

Yes, you're correct. As per [AWS docs](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html), *"Don't use a dead-letter queue with a FIFO queue if you don't want to break the exact order of messages or operations. For example, don't use a dead-letter queue with instructions in an Edit Decision List (EDL) for a video editing suit

[2022-07-12 15:06] tomazfernandes commented on #444
The second solution would be adding retries. We'd want to:

* Process each message in order
* If an error occurs, retry the message `n` times and send the message to a `DLQ` before processing the next one
* Keep extending all message's visibility before each attempt, let's say to 60 seconds

So we would:

1. Receive a batch of messages, potentially from multiple group ids
2. Aggregate them in batc

[2022-07-12 16:11] mgusiew-guide commented on #444
Hi @tomazfernandes ,

Thanks for explanation.

I think that for a simple strategy with batch size > 1, it should be acceptable to lose some messages given the SQS poll limitations. The batch processing that you mentioned could be used in case if someone wants to implement more sophisticated strategies. Do I understand correctly that for batch processing I would have to ACK from the listener (SqsMe

[2022-07-13 14:37] yungfred opened #454 "Request Response / RPC pattern"
**Type**: Feature

Hi, is it possible to realize a [request response / RPC pattern](https://aws.amazon.com/de/blogs/compute/simple-two-way-messaging-using-the-amazon-sqs-temporary-queue-client/) with spring-cloud-aws-messaging?

I'm thinking of a sendAndReceive method ([similar to the one in Amqp](https://docs.spring.io/spring-amqp/api/org/springframework/amqp/core/AmqpTemplate.html#convertSendAnd

[2022-07-14 05:39] maciejwalkowiak commented on #454
Noted. Something we could do in 3.x but we have to wait first for core of SQS integration to be done.

cc @tomazfernandes

[2022-07-16 07:15] #449 closed

[2022-07-16 16:36] rolkhas2 opened #458 "S3AsyncClient integration"
**Type**: Feature
I'm currently using `S3AsyncClient` with Project Reactor and Spring Boot. This project seems interesting, but it's kind of irrelevant to me if it's based on slow-synchronous network interactions. If there's an option of implementing classes to wrap fast S3 connections (e.g. [async](https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/services/s3/S3AsyncClient.html)),

[2022-07-16 16:38] rolkhas2 commented on #214
@sgarfinkel I see that the [Publisher](https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/core/internal/async/PublisherAsyncResponseTransformer.html) you've mentioned is on an `internal` directory. I'm not sure if that's targeted for public use.

[2022-07-20 22:24] shresthaujjwal opened #460 "Upgrade AWS SDK to 1.12.261+"
**Type**: High Security Vulnerabity

**Component**:

AWS SDK

**Describe the bug**
Please upgrade AWS SDK To 1.12.261+
Origin: https://github.com/aws/aws-sdk-java/security/advisories/GHSA-c28r-hw5m-5gv3
Release Date: 2022-07-15

<details><summary>Vulnerability Details</summary>
<p>

The AWS SDK for Java enables Java developers to work with Amazon Web Services. A partial-path traversal issue exists

[2022-07-21 06:43] maciejwalkowiak commented on #460
Thanks for letting us know. Will make a release but keep in mind that you can bump AWS dependencies independently from Spring Cloud AWS, as described in docs.

[2022-07-21 14:55] shresthaujjwal commented on #460
thank you, i agree we can override the dependencies but would rather prefer to use `spring-cloud-aws-dependencies`

[2022-07-22 09:07] maciejwalkowiak commented on #460
Closed in #460

[2022-07-22 09:07] #460 closed

[2022-07-23 06:10] maciejwalkowiak opened #463 "Upgrade to LocalStack 1.0"
Following the 1.0 release https://localstack.cloud/blog/2022-07-13-announcing-localstack-v1-general-availability/, integration tests should be updated to use Localstack 1.0

[2022-07-23 18:23] lynch19 commented on #214
@maciejwalkowiak Can you publish the timeline for this issue? Users like me depend on this and cannot use `Spring-Cloud-AWS` at all without this issue being resolved.

[2022-07-23 22:57] maciejwalkowiak commented on #214
@lynch19 it's almost certain this will not end up in 3.0. We have still too much work with other integrations to do before we can start working on reactive support. But, we're open for suggestions/contributions - if you have an idea how reactive support could look like, please let us know.

[2022-07-26 14:17] MatejNedic opened #465 "AppConfig support"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I would like to fetch configuration from [AppConfig](https://docs.aws.amazon.com/appconfig/latest/userguide/what-is-appconfig.html) on application start up. This way I can keep my whole configuration away from my code and keep it in a same place as configuration for other applications.

**Describe the solution yo