[2022-07-26 21:41] lynch19 commented on #214
@maciejwalkowiak I can try to take a basic start for this, but I'm not sure what have been already planned, or shall I just open some PR and let the discussion flow

[2022-07-27 00:38] eddumelendez commented on #465
@MatejNedic there is already a branch for [appconfig](https://github.com/awspring/spring-cloud-aws/tree/appconfig). hope it helps in the implementation. it is written with sdk v1 tho 😬

[2022-07-27 00:39] eddumelendez commented on #463
the image size is quite big. is there any issue solving by upgrading. Not saying no, always in favor to the latest but just saying 🙂

[2022-07-27 07:50] maciejwalkowiak commented on #214
Nothing has been planned so far so feel free to open a sketch PR but please keep in mind that it may not get merged.

[2022-07-27 07:53] maciejwalkowiak commented on #463
No, just for the sake of being up to date. We will have to upgrade eventually anyway.

[2022-07-27 13:13] shomub opened #468 "GraalVM Native Image compatibility"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
spring-cloud-aws support for spring-boot 3 running on spring native. See attached reproducer to see issue on running the bootBuildImage Task

**Describe the solution you'd like**
spring-clould-aws support for spring boot 3 on spring native

[2022-07-27 13:31] maciejwalkowiak commented on #468
@shomub i think you missed the attachment

[2022-07-27 13:43] shomub commented on #468
[complete.zip](https://github.com/awspring/spring-cloud-aws/files/9199409/complete.zip)
uploaded file

[2022-07-27 14:52] maciejwalkowiak commented on #468
Version 2.x will not be compatible with Spring Native. 3.0 on the other hand will since it is using GraalVM ready AWS SDK v2. I will take a look what's the current state of native support for 3.x codebase.

[2022-07-27 14:59] shomub commented on #468
Thank you Maciej!

On Wed, Jul 27, 2022, 10:52 AM Maciej Walkowiak ***@***.***>
wrote:

[2022-07-27 21:35] mandarbk commented on #322
Are there any plans to provide support for rotating credentials with spring cloud aws RDS ?
Also anything to support TLS connections (RDS instances with ACM managed  Certificates) ?
Cloud AWS Documentation does not provide any view on either of these RDS features.

[2022-07-28 07:56] maciejwalkowiak commented on #322
@mandarbk I only planned for supporting rotating credentials with RDS + Secrets Manager. I am missing knowledge about ACM Managed Crtificates.

[2022-07-28 21:56] tomazfernandes commented on #444
Hi @mgusiew-guide, I'm sorry for the delay.

I've implemented the first scenario in these 3 commits: https://github.com/awspring/spring-cloud-aws/pull/374/commits/70bc930de6599043a056c8dd0981c7978f0a7404,  https://github.com/awspring/spring-cloud-aws/pull/374/commits/5a4d7ac2dac41de5d6f664f023dfe73ed370e960, https://github.com/awspring/spring-cloud-aws/pull/374/commits/316a8c3721b20b83f26055816183

[2022-07-28 21:56] tomazfernandes commented on #444
Closed by https://github.com/awspring/spring-cloud-aws/commit/70bc930de6599043a056c8dd0981c7978f0a7404, https://github.com/awspring/spring-cloud-aws/commit/5a4d7ac2dac41de5d6f664f023dfe73ed370e960, https://github.com/awspring/spring-cloud-aws/commit/316a8c3721b20b83f260558161833502880c52eb

[2022-07-28 21:56] #444 closed

[2022-07-29 02:05] shresthaujjwal opened #470 "Unable to create native thread: possibly out of memory or process/resource limits reached"
**Type**: Bug

**Component**:

SQS
I am using Spring Cloud AWS version `2.4.0`  + Spring Boot version `2.7.0`
Java Version
[code]

**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.
I started Q&A thread about how to control the thread but i feel this is a bug. As stated in the discussion thread [Limit SQS Concurrency and/or control

[2022-07-29 13:28] mgusiew-guide commented on #444
Hi @tomazfernandes ,

Thanks for sharing the updates. I will have a look at it, when I find some time.

WRT second scenario, consider following flow:
1) Client receives a from SQS and tries to process without success. The retries in memory are exceeded but the retries on SQS are still fine
2) Framework successfully sends the message to DLQ
3) Framework tries to delete the message but fails (SQS no

[2022-07-29 15:55] shresthaujjwal commented on #470
Another update. I limited the `MaxNumberOfMessages` consumption to 5 but even that didn't help. It ran little longer but it still ranout of memory at the end
[code]

[2022-07-29 17:00] tomazfernandes commented on #444
Hi @mgusiew-guide, thanks for your reply. Sure, that can happen. But let's consider the scenarios you brought.

In case it's a `CQRS` delta-based architecture, the `DLQ` pattern shouldn't really be used unless there's a way to guarantee all messages for that `MessageGroupId` are forwarded there. So that's not what this second scenario is for.

OTOH, for your particular use-case, if I understand co

[2022-08-01 10:08] mgusiew-guide commented on #444
Thanks for quick feedback @tomazfernandes .

M.G. From my experience it is often the case that in CQRS the application tries to process the next messages (if possible) and then there is a case-by case decision whether to process rejected ones, often is a special "out of order" mode.

M.G. In my case I will reprocess and check if the next message was processed or not. If it was not processed, I can

[2022-08-02 09:42] mgusiew-guide commented on #444
@tomazfernandes just wanted to recall the last answer:

M.G. As you mentioned in the docs, when using this feature the FIFO guarantee is gone. It may be acceptable in scenarios in which Kafka is used as regular message queue. If the end user wants to have FIFO with retries and DLQ, she can use DeadLetterPublishingRecoverer right ? I understand that this does not provide exponential retries but the

[2022-08-02 16:34] tomazfernandes commented on #444
Hi @mgusiew-guide,

You're right, when using this feature `FIFO` guarantees are lost, so not the same scenario we're discussing. Without that feature, `DeadLetterPublishingRecoverer` can be used in conjunction with `DefaultErrorHandler`, which provides blocking retries by seeking back to the failed record after a backoff period, which can be exponential. That would resemble more our scenario.

Sin

[2022-08-02 16:50] tomazfernandes commented on #441
Closed by https://github.com/awspring/spring-cloud-aws/pull/374/commits/cae4311cc6c589be9ed5b24b6320dc8ef0021ee1

[2022-08-02 16:50] #441 closed

[2022-08-02 18:46] amrutprabhu opened #471 "Secrets Manger Config not loading secrets"
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
I am trying a simple example wherein I have my AWS credentials stored under an AWS profile called "personal"

Now I am trying to use this profile to fetch secrets from the secrets manager.

I have the following dependencies:
[code]

And in my application.yaml file
[code]

The application fails because it can't fetch the secrets.

[2022-08-02 20:50] MatejNedic commented on #471
Hey @amrutprabhu,
Indeed this is a bug since CredentialsProvider is never taken into consideration when when `AWSSecretsManager` client is being [created](https://github.com/awspring/spring-cloud-aws/blob/1579a1387d3161413b8787e03d212a5075604f4f/spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java#

[2022-08-03 04:25] maciejwalkowiak commented on #471
@MatejNedic correct me if i am wrong, but i think we've fixed in 3.0? In 2.x customizing bootstrap configuration can be done as explained in https://github.com/awspring/spring-cloud-aws/issues/205#issuecomment-1030964159

[2022-08-03 04:52] MatejNedic commented on #471
Yes this is fixed in 3.0.
Was thinking about adding same feature to 2.4.x or just modyfing docs since 3.0 is active now.

[2022-08-03 05:09] #414 closed

[2022-08-03 06:54] #463 closed

[2022-08-03 07:57] amrutprabhu commented on #471
Maybe I can backport this change from 3.0. I'll try for first secrets manager then look into the parameter store.
can you guide me through the change for 3.0 if you have any references for me to start with?

[2022-08-03 23:06] MatejNedic commented on #471
Hey @amrutprabhu,
Tnx for helping out!

If you check the 2.4.x branch, beans are being registered [here](https://github.com/awspring/spring-cloud-aws/blob/1579a1387d3161413b8787e03d212a5075604f4f/spring-cloud-starter-aws-secrets-manager-config/src/main/java/io/awspring/cloud/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java#L77).

As you can see `CredentialsProperties`

[2022-08-04 13:12] #369 closed

[2022-08-04 20:30] amrutprabhu commented on #471
Let me give see if I understand this right.

I see the `CredentialsProperties` is `io.awspring.cloud.autoconfigure.context.properties.AwsCredentialsProperties` in 2.4.x branch, which is present in the `Spring-cloud-aws-autoconfigure` module.

Now I have to use the properties from `AwsCredentialsProperties` to build the client in [here](https://github.com/awspring/spring-cloud-aws/blob/1579a1387d31

[2022-08-05 07:53] amrutprabhu commented on #471
Just my second thought about this change. I don't think we could create the provider in the `Spring-cloud-aws-autoconfigure` module and not may be the `Spring-cloud-starter-aws-secret-manager`. We then could fetch it from the bean context at this place [here](https://github.com/awspring/spring-cloud-aws/blob/1579a1387d3161413b8787e03d212a5075604f4f/spring-cloud-starter-aws-secrets-manager-config/s

[2022-08-09 02:29] shresthaujjwal commented on #470
closing this issue, as it turns out my application had a memory leak. Apologize for inconvenience

[2022-08-09 02:29] #470 closed

[2022-08-09 06:45] maciejwalkowiak commented on #470
Thanks for update @shresthaujjwal

[2022-08-11 17:07] maciejwalkowiak commented on #471
@amrutprabhu apologies for late reply. @MatejNedic is on holidays and I did not pay attention to this issue as i try to offload everything Secrets Manager related to @MatejNedic :-)

This could work. There are quite a few "but"s - I think if we change the behavior of `spring.config.import`, we should also change the behavior of the legacy way of fetching secrets from Secrets Manager. Also, Paramet

[2022-08-12 01:36] tomazfernandes commented on #443
Closed by https://github.com/awspring/spring-cloud-aws/pull/374/commits/b3330271b16baa078985262508839f12fbb03910 and https://github.com/awspring/spring-cloud-aws/pull/374/commits/4fd307601cec8c4c8e9a433140d3d06e4a815a76

[2022-08-12 01:36] #443 closed

[2022-08-14 01:51] LarcomLabs commented on #270
I have this same issue. First time using this library though, so I have no idea if its a config issue or an actual bug. Nobody has replied to anything ive posted

[2022-08-17 20:10] adase11 opened #476 "Overriding Default AmazonSQSAsync Bean For FIFO Queue Support Does Not Seem To Work"
**Type**: Bug

**Component**:
"SQS"

**Describe the bug**
Using `spring-cloud-aws-messaging` version 2.4.2.  Trying to configure a custom `AmazonSQSAsync` bean as suggested in the docs [here](https://docs.awspring.io/spring-cloud-aws/docs/2.4.2/reference/html/index.html#fifo-queue-support) . When I do this the application still warns `AmazonSQSBufferedAsyncClient that Spring Cloud AWS uses by defa

[2022-08-18 00:07] adase11 commented on #476
I believe this [thread](https://github.com/spring-attic/spring-cloud-aws/issues/271) indicates that the underlying bug is foxed but again, not positive. If it can be confirmed than the warning msg should be removed from the logs

[2022-08-18 06:54] manjian14 commented on #270
Also, I have the same issue too

[2022-08-18 06:59] vijayrcse commented on #270
I still have this issue. We are bouncing the container process when we come across this issue. Any inputs would help.

[2022-08-19 00:20] adase11 commented on #476
Looks like it was an error with configuration. I had mistakenly left the xml configuration `<aws-messaging:annotation-driven-queue-listener /> `  active which was the source of the erroneous SQS client.

[2022-08-19 00:20] #476 closed

[2022-08-21 06:13] #452 closed

[2022-08-21 06:15] maciejwalkowiak commented on #270
@manjian14 @vijayrcse do you use the latest 2.4.2 version? There were many fixes in SQS integration since 2.2.6. Also, I am not able to reproduce this issue so if you could send a sample project with instructions how to reproduce it would be great.

[2022-08-21 06:16] maciejwalkowiak commented on #336
Fixed in #477

[2022-08-21 06:16] #336 closed

[2022-08-21 12:51] vijayrcse commented on #270
I use 2.2.6.RELEASE. I tried to reproduce this issue in lower environment, but we couldn't. We could upgrade to 2.4,2 and see if this issue exist

[2022-08-21 19:54] maciejwalkowiak commented on #270
Sounds good to me!

[2022-08-22 06:30] manjian14 commented on #270
2.2.6.RELEASE working fine, when I upgraded to the latest version '2.4.2' sending a message within SQS is working but is not getting consumed. The listener method is not invoked, my code changes between the old and latest version is the change the used package, and removes the SQS enable annotations because that was deprecated

[2022-08-22 07:29] maciejwalkowiak commented on #270
@manjian14 can you share a sample that reproduces it? We have a sample how to use SQS https://github.com/awspring/spring-cloud-aws/tree/2.4.x/spring-cloud-aws-samples/spring-cloud-aws-sqs-sample

[2022-08-22 08:03] manjian14 commented on #270
Thank you, I tried your sample, and in the fact, my Implementation is very simple, just send and receive a message within SQS, only the changes which I have done after moving from 2.2.6.RELEASE to  2.4.2  is to create SQS Bean because SQSEnable was deprecated, and my SQS Bean is also simple, I don't use any credentials at the code level, because my project gets access to sqs by  aws roles,
my spri

[2022-08-23 04:44] maciejwalkowiak commented on #270
@manjian14 did it work after upgrade? If not, maybe there is a permission problem or the queue does not exist? I'd need more details to figure the root cause.

[2022-08-23 06:02] manjian14 commented on #270
after upgrade, sending a message via sqs is working, but not consumed to the listener, I don't think it's related to AWS permission because the older version working fine and with the latest version I am able to send a message

[2022-08-23 06:26] manjian14 commented on #270
the only major change is I replaced this he EnableSqs annotation with  my own bean

   @Bean
    public AmazonSQSAsync amazonSQSAsync(){
        return AmazonSQSAsyncClientBuilder.standard().withRegion(Regions.US_EAST_1).build();

    }

[2022-08-23 10:12] maciejwalkowiak commented on #270
Unfortunately I cannot reproduce it. Please create a repository with minimal example that reproduces this issue.

[2022-08-23 14:48] manjian14 commented on #270
I figure out something  if I added @EnableSqs  " which is deprecated"  the latest lib 2.4.2 start work, otherwise, if I remove the EnableSqs , the code not consuming to the listener

[2022-08-24 04:05] maciejwalkowiak commented on #270
Then it means that for some reason the autoconfiguration is not triggered. Run application with debug mode (`debug=true` in `application.properties` and look for `SqsAutoConfiguration`).

[2022-08-24 07:00] manjian14 commented on #270
Thank you, the issue has been fixed, the problem was related to autoconfiguration dependency

[2022-08-24 10:22] maciejwalkowiak commented on #270
Awesome!

@vijayrcse are you guys working together or do you have a separate issue? If so, can you also verify that it is not an autoconfiguration problem?

[2022-08-24 10:37] manjian14 commented on #270
nop, this is a separate issue, but I believe is the same reason

[2022-08-24 19:06] jeroenvandevelde opened #481 "SQS: Possibility to manage the max number of messages that are being polled"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
We want to be able to manage the max number of messages that are being polled from SQS so that we can protect external systems. Our application processes SQS messages which end up in HTTP calls to external systems. Those external systems have a maximum number of HTTP requests per second they can manage. So we wou

[2022-08-25 04:26] vijayrcse commented on #270
Issue raised by @manjian14 is a separate issue. Original issue reported by me on 2.2.6 still remains. We are looking at upgrading to 2.4.2 sooner

[2022-08-28 14:10] CasaSky opened #482 "Unable to parse custom type using @SqsTest and @NotificationMessage"
**Type**: Bug

**Component**:
 "SNS", "SQS"

**Description**
While using the @SqsTest and testcontainers to test the consumption of a message having a notification structure sns -> sqs (pub-sub), i faced an issue on parsing a custom object using the @NotificationMessage for simplicity.
The message received was properly parsed to the desired type but it is unfortunately null...
Running the applicat

[2022-08-29 07:02] #482 closed

[2022-08-29 07:04] CasaSky commented on #482
Seems that  @NotificationMessage is not working well together with @SqsTest. I replaced that by having my own implementation of NotificationMessage. After that the parsing was successful.

[2022-08-29 09:38] maciejwalkowiak opened #483 "Port `@SqsTest` to v3.0"
Once #374 is merged. cc @tomazfernandes let me know if you would like to pick it up.

[2022-08-30 04:31] maciejwalkowiak commented on #447
Closing as this is an SDK issue rather than Spring Cloud AWS

[2022-08-30 04:31] #447 closed

[2022-08-30 04:32] maciejwalkowiak commented on #335
Closing as the only thing we need for Cognito is #132

[2022-08-30 04:32] #335 closed

[2022-08-30 04:34] maciejwalkowiak commented on #259
For 2.x PRs welcome.
For 3.x we just need to make sure that it's not the case in the new implementation cc @tomazfernandes

[2022-08-30 04:43] tomazfernandes commented on #259
In 3.0 we create a new task executor instance per container, i.e. per `@SqsListener` annotation. We can't share the same `TaskExecutor` instance between many containers because the containers manage the `TaskExecutor`'s lifecycle.

A `TaskExecutor` can be set in the `ContainerOptions`, then the container won't manage its lifecycle.

[2022-08-30 04:49] tomazfernandes commented on #259
One key difference is that we don't use threads to poll, so the pool size only influences the maximum number of messages that can be processed simultaneously.

If too few threads are configured in the pool, it should either be queued or throw an `TaskRejectedException`, depending on how the executor is configured.

[2022-08-30 12:00] serh-ai commented on #259
For me it ok in v3, just put this issue so other devs can google it, and not waste their time :)  Unfortunately it's not possible to test v3 on production now. Thanks for your work!

[2022-08-30 12:00] #259 closed

[2022-08-31 09:33] maciejwalkowiak commented on #112
Covered by #374.

[2022-08-31 09:34] maciejwalkowiak commented on #104
Solved by #374

[2022-08-31 09:35] maciejwalkowiak commented on #213
Solved in #374

[2022-09-01 02:00] #344 closed

[2022-09-01 07:03] maciejwalkowiak commented on #112
Fixed in #374

[2022-09-01 07:03] #112 closed

[2022-09-01 07:03] maciejwalkowiak commented on #104
Fixed in #374

[2022-09-01 07:03] #104 closed

[2022-09-01 07:03] maciejwalkowiak commented on #213
Fixed in #374

[2022-09-01 07:03] #213 closed

[2022-09-01 07:29] maciejwalkowiak opened #491 "Improve Javadocs on `package-info.java` in SQS module."
Each `package-info.java` javadoc contains:

[code]

Which is a result of copy & paste. Ideally, each package has a javadoc explaining what's inside the package.

[2022-09-01 18:16] tomazfernandes commented on #491
Thanks for catching it, and sorry for the `CopyPasteException`! 😄

[2022-09-01 18:49] tomazfernandes commented on #458
Well, I may be missing something, but the issue is regarding the `S3AsyncClient` rather `SqsAsyncClient`.

Regardless, I agree that this being a `SDK 2.0` solution, it might be interesting offering `async` counterparts to blocking methods for the integrations.

As far as I've seen, the `AsyncClient`s offer exactly the same API's as the blocking `Client`s, the only difference being the return metho

[2022-09-02 04:12] maciejwalkowiak commented on #491
Fixed in #494

[2022-09-02 04:12] #491 closed

[2022-09-02 04:14] maciejwalkowiak commented on #458
Oh boy I should have had coffee before going through github notifications 🤦‍♂️

It fits under general theme of providing async/reactive clients. Nothing to do with SQS ..

[2022-09-02 07:38] #483 closed

[2022-09-02 13:27] maciejwalkowiak commented on #471
Closing since 3.0 is getting only closer.

[2022-09-02 13:27] #471 closed

[2022-09-02 13:29] maciejwalkowiak commented on #446
@tiarebalbi do you think it will happen or should i close it?

[2022-09-02 13:41] maciejwalkowiak commented on #387
Fixed in 3.0

[2022-09-02 13:41] #387 closed

[2022-09-02 13:43] maciejwalkowiak commented on #140
To verify if still valid in 3.0

[2022-09-02 13:45] maciejwalkowiak commented on #137
@merickson-vg can you prepare a sample that reproduces this issue and ideally verify if it still happens with 3.0-SNAPSHOT (or M2 once released)?

[2022-09-02 13:46] maciejwalkowiak commented on #107
Processing batches has been addressed in 3.0 - not reactive but perhaps fits your needs. Listeners themselves are non-blocking and can return completable futures.

[2022-09-02 13:47] maciejwalkowiak commented on #23
Fixed in #344.

[2022-09-02 13:47] #23 closed

[2022-09-02 13:58] #378 closed

[2022-09-03 04:02] maciejwalkowiak opened #502 "Upload API docs to S3"
In addition to reference docs, Github Action `upload-docs` and `release` should upload generated API docs (from Javadocs) to S3.
API docs should be linked in the readme.

[2022-09-03 05:47] maciejwalkowiak commented on #502
Surprise surprise docs are already there https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-SNAPSHOT/apidocs/index.html

[2022-09-03 05:52] #502 closed

[2022-09-03 06:06] maciejwalkowiak commented on #458
@tomazfernandes I guess there is a performance penalty for using async clients in sync manner (with join) vs pure sync clients in sync scenarios, right?

We can also autoconfigure both clients and users will just inject they want. I am only not sure if sync clients do not create connections on instantiation - if so this is not an option.

[2022-09-03 17:04] tomazfernandes commented on #458
Hmm, not so sure about that. These are mainly IO operations, and I don't think `NIO` / event loop connections should be any slower than blocking ones. Also `join` is not a busy wait, so there should be really no CPU usage while waiting.  So IMHO I wouldn't really use this as a criteria.

Yeah, not sure about that either. But AFAIK, if e.g. an app doesn't have permissions to `SQS`, it won't throw a

[2022-09-04 10:49] maciejwalkowiak commented on #318
@amit-github-personal apologies I missed this notification. Go ahead if you still feel like doing so!

[2022-09-04 11:06] maciejwalkowiak opened #507 "Add `SqsTemplate`"
We need something to send messages to SQS, likely `SqsTemplate`, that integrates with the rest of SQS components.

[2022-09-04 11:06] maciejwalkowiak commented on #507
cc @tomazfernandes

[2022-09-05 04:36] maciejwalkowiak opened #508 "Add SQS sample"

[2022-09-05 07:58] #363 closed

[2022-09-05 20:40] tomazfernandes commented on #508
@maciejwalkowiak, I remember you mentioned you had something for this, is there anything I can help with?

[2022-09-06 07:53] maciejwalkowiak commented on #508
I'll submit a PR in upcoming days.

[2022-09-06 08:29] maciejwalkowiak commented on #468
DynamoDB Enhanced Client `BeanTableSchema` is not compatible with GraalVM Native Image (https://github.com/aws/aws-sdk-java-v2/issues/2445). Either this issue has to be fixed, or we need to advice users to use `StaticTableSchema` in docs for building native images.

[2022-09-06 21:34] fjmacagno opened #515 "Support ResourcePatternResolver for s3"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
It would nice if we could use the existing Spring approach to getting resources for each file under a path recursively,
`ResourcePatternUtils.getResourcePatternResolver(resourceLoader).getResources("s3://bucket/key")`.

**Describe the solution you'd like**
When using the above snippet, instead of returning an emp

[2022-09-07 04:26] maciejwalkowiak commented on #515
@fjmacagno is it the same as https://github.com/awspring/spring-cloud-aws/issues/432 ?

[2022-09-07 15:36] fjmacagno commented on #515
Probably? Im not sure exactly if that is the same thing, i don't understand the resource system well enough to know if that solves this issue.

[2022-09-08 04:59] #427 closed

[2022-09-08 06:25] maciejwalkowiak commented on #515
Ok, no worries, as far as i understand it is the same thing. Closing as a duplicate of #432. @fjmacagno would you like to contribute it?

[2022-09-08 06:25] #515 closed

[2022-09-09 08:37] maciejwalkowiak commented on #508
I am taking it back. If you have time please take over the sample 😅

[2022-09-11 08:41] rieckpil commented on #132
I'm a bit confused with the re-organization. I don't see any Cognito-relevant code in `spring-cloud-aws-autoconfigure` while in 2.4.x there's code available.

Do I first have to migrate the `2.4.x` Cognito code to the `main` branch or how would you (@eddumelendez) recommend  to integrate my new class?

In short, I need to add a new property to `CognitoAuthenticationProperties` and add a bean facto

[2022-09-11 14:09] rajadilipkolli commented on #508
@maciejwalkowiak , does this [sample ](https://github.com/rajadilipkolli/aws-stack/tree/main/aws-sqs-project)fits?

[2022-09-11 15:05] amrutprabhu opened #518 "Not able to override AWS endpoint during Integration test"
**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**

I am using the latest 3.0.0-M2 version for spring cloud to pull secrets from the secrets manager.

[code]
I run a local docker image of localstack , start the application and it all works fines. It pulls the secret and no issues.

Now I am trying to write an integration test using localstack and I am overriding the endpoint prope

[2022-09-11 16:56] fengzijk opened #519 "When sqs consumption fails, I want to modify the Visibility, is there a way to modify the Visibility of a single item?"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Exponential backoff in SQS    for eg:https://ivan-site.com/2018/06/exponential-backoff-in-sqs/

Will this feature be added in the future or is there an example already?
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A c

[2022-09-12 09:37] maciejwalkowiak commented on #518
This is a limitation of `@DynamicPropertySource` - it does not work with config import (https://github.com/spring-projects/spring-boot/issues/26148). I see two ways to workaround it:

1. Use `SpringApplication` testing approach instead of `@SpringBootTest` as suggested in the linked issue
2. Set fixed port number to Localstack running through Testcontainers like this:

[code]

Let me know if any o

[2022-09-12 09:53] maciejwalkowiak commented on #132
As far as I understand - to get basic Cognito auth we do not anything custom as it has been already covered by Spring Boot and Spring Security. For the purpose of implementing OIDC Logout we need `CognitoProperties` and perhaps a separate module for Cognito? @eddumelendez your opinion will be appreciated.

[2022-09-12 09:55] maciejwalkowiak commented on #508
@rajadilipkolli it looks like a potential candidate for sample covering more integrations, but in this specific issue we mean a sample tailored for SQS similar to other samples in https://github.com/awspring/spring-cloud-aws/tree/main/spring-cloud-aws-samples. Also it's meant for the new SQS implementation in 3.0 version.

[2022-09-12 09:58] maciejwalkowiak commented on #519
If you mean changing visibility of the received message, it's available in both 2.x and 3.x versions through a `Visibility` method argument that can be added to `@SqSListener` annotated method.

- https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-SNAPSHOT/reference/html/index.html#listener-method-arguments

[2022-09-12 16:21] fjmacagno commented on #515
As much as i would like to i have probably hit my not-technically-work-at-work quota for a little while, alas. I will keep it in mind though.

[2022-09-13 01:26] fengzijk commented on #519
This is  I want. Thank you for helping me

[2022-09-13 01:26] #519 closed

[2022-09-13 18:53] amrutprabhu commented on #518
Hey @maciejwalkowiak ,

Maybe I didn't understand properly.
The link that you shared shows it does not work for `spring.config.import` but I am trying to override the `spring.cloud.aws.secretsmanager.endpoint` .

Also what exactly do you mean by `Use SpringApplication testing approach instead of @SpringBootTest`? I always wrote integration tests with `@SpringBootTest`.  Is there another way of tes

[2022-09-14 04:07] maciejwalkowiak commented on #518
Yes you're overriding the endpoint property but for the purpose of changing beans created in the bootstrap phase for Secrets Manager `spring.config.import` implementation.

There is another way of testing but it's not as nice as `@SpringBootTest` (see https://github.com/spring-projects/spring-boot/blob/6254ad634ecb0dc73034038f82fcde75fb99117a/spring-boot-project/spring-boot/src/test/java/org/sprin

[2022-09-14 21:48] fjmacagno opened #521 "S3Resource getUri()"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I have found that several people i work with have assumed that S3Resource.getUri() would return the s3 url for the resource, aka `s3://bucket/key`, and run into unexpected trouble when it comes back as an http url. This in particular causes trouble when interacting with other libraries like Parquet, which cannot

[2022-09-15 04:32] maciejwalkowiak commented on #521
@fjmacagno we can add `getS3Url()` method to `S3Resource`. Would it do the job for you?

[2022-09-15 16:23] fjmacagno commented on #521
Better than nothing certainly, but not exactly, since what i want to maintain is that the user of the resource doesnt have to know the protocol; having to conditionally cast to S3Resource would defeat the purpose a bit. The problem is just that the http s3 url is not usable by anything.
An option might be to add S3 as a valid url protocol.

An option to maintain backward compat would be to add a n

[2022-09-16 00:36] eddumelendez commented on #518
System.setProperty can be used and still use the random port from testcontainers. See the following example https://github.com/eddumelendez/testcontainers-localstack/blob/main/secretsmanager/src/test/java/com/example/secretsmanager/SecretsmanagerApplicationTests.java

The same applies for parameterstore

[2022-09-16 19:27] amrutprabhu commented on #518
So I preferred using System.setProperty as @eddumelendez said. And it works and it is cleaner I felt.

But it was nice to know about you can run tests the way that @maciejwalkowiak showed in the example.

I will be writing an article about the AWS Secrets Manager integration using Spring Cloud Secrets Manager soon.
Also nice work with the new Spring Cloud AWS 3.0 version. :+1:

Also thank you once

[2022-09-16 19:27] #518 closed

[2022-09-21 13:24] rauldeheer opened #523 "Support Spring Boot v3 (3.0.0-M3)"
**Type**: Feature/Bug

**Is your feature request related to a problem? Please describe.**
When running Spring Boot 3.0.0-M3, we are unable to get the `@SqsListener` annotation to work. Sending a message to a queue works.

**Describe the solution you'd like**
Support for Spring Boot v3

**Additional context**
The application crashes at startup when spring-cloud-aws packages are present, or the `@Sq

[2022-09-22 00:46] sivaprasadreddy opened #524 "SpringBoot Starter names are incorrect in docs"
**Type**: Bug

**Component**:
Documentation

**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.

In the documentation the starters for S3 and ParameterStore are mentioned as below:
[code]

They should be as follows:
[code]

[2022-09-22 03:05] maciejwalkowiak commented on #523
Yep we are aware and the issue is being discussed behind the scenes. Upgrade to Spring Boot 3.0 is happening here https://github.com/awspring/spring-cloud-aws/tree/spring-boot-3.0

[2022-09-22 03:08] #524 closed

[2022-09-22 07:27] rauldeheer commented on #523
Can we help to speed up the process? Please let me know. @maciejwalkowiak

[2022-09-23 04:10] maciejwalkowiak commented on #523
At this stage - no. Upgrading to 3.0 on our side is quite straightforward. The problematic at least at this stage is native support and especially ensuring native support works as expected in tests.

[2022-09-28 22:25] tarasmurzenkovv opened #527 "The specified queue does not exist for this wsdl version"
**Type**: Bug

**Component**:
"SQS"

**Describe the bug**
When I  launch application with the `@SqsListener` then I get the following error message:
[code]

**Sample**
Steps to reproduce:
1. create AWS SQS in localstack (image is 1.1.0): `awslocal --endpoint-url=http://localhost:4566 sqs create-queue --queue-name qName --region eu-central-1`
2. Setup the following `application.yml`
[code]
3. Add t

[2022-09-29 08:46] zaredea commented on #214
Would there be any progress on this subjectsoon?

[2022-09-29 09:51] maciejwalkowiak commented on #527
"end-point:" looks like it should be "endpoint"..?

Which version of Spring Cloud AWS do you use?

[2022-09-29 09:52] maciejwalkowiak commented on #214
@zaredea No unless someone from the community comes up with a sketch PR.

[2022-09-29 11:42] tarasmurzenkovv commented on #527
![Alt Text](https://media.giphy.com/media/xT5LMESsx1kUe8Hiyk/giphy.gif)

[2022-09-29 11:42] tarasmurzenkovv commented on #527
@maciejwalkowiak thank you for spotting this issue. The problem is solved.

[2022-09-29 13:08] maciejwalkowiak commented on #527
Awesome! :)

[2022-09-29 13:08] #527 closed

[2022-10-02 15:21] magna25 opened #529 "Invalid parameter passed error for ReceiveMessageRequest when testing with elasticmq - SQS 3.0.0-M2"
**Type**: Bug

**Component**: SQS

**Describe the bug**
When using @SqsListener and elasticmq for testing with standard queue, the listener doesn't fetch messages and throws an error, "Value <value> for parameter ReceiveRequestAttemptId is invalid. The request include parameter that is not valid for this queue type...".

CreateRequest() method in SqsMessageSource.java sets this property for both F

[2022-10-03 23:27] tomazfernandes commented on #529
Just to clarify this a bit, both AWS and LocalStack APIs do not complain about this parameter, so it was left for standard queues as well to reduce overall complexity.

Also, the docs state it doesn’t apply, not that it’s prohibited and should throw an error.

But since the elastic mq API does complain, I think that’s reason enough to change this and remove the parameter for standard queues.

[2022-10-06 21:31] areddy23 commented on #322
Hi I am assuming `spring-cloud-starter-aws-jdbc` is a "io.awspring.cloud" version of "spring-cloud-aws-jdbc" ( 2.x.x version)

I feel this enhancement request should be backed in to 3.x.x if not already.

Steps to recreate:

1. Create a Primary RDS(abc) with Read Replicas in 2 diff regions us-east-1(abc-rr-1) and us-west-2(abc-rr-2). When you configure current "spring-cloud-aws-jdbc" to manage tra

[2022-10-06 22:06] virajkanwade commented on #322
For handling clusters -

can we add a flag
`cloud.aws.employee-db.isCluster=true`

And in https://github.com/spring-attic/spring-cloud-aws/blob/e9e7b8cb158013464caa792b3e2de9cf7179678a/spring-cloud-aws-jdbc/src/main/java/org/springframework/cloud/aws/jdbc/rds/AmazonRdsReadReplicaAwareDataSourceFactoryBean.java#L73

Replace `getDBInstance` with `getDBClusterInstance` which uses `this.amazonRds.desc

[2022-10-07 07:57] maciejwalkowiak commented on #322
@virajkanwade we do not plan anymore to include JDBC module in 3.0 version. It MAY be included again in the future, but we prefer to wait for AWS to stabilize work on their JDBC drivers that partially cover what Spring Cloud AWS 2.x offered.

[2022-10-07 17:05] virajkanwade commented on #322
so whats the solution for people who want to leverage the auto failover of Aurora RDS? Implement and maintain the convoluted work around available? When there could just be a small patch in the current version?

[2022-10-08 05:12] maciejwalkowiak commented on #322
AWS has implemented/is implementing failover capabilities on the driver level:

- for PostgreSQL: https://github.com/awslabs/aws-advanced-jdbc-wrapper
- for MySQL: https://github.com/awslabs/aws-mysql-jdbc

[2022-10-10 15:30] areddy23 commented on #322
@maciejwalkowiak any recommendation on this ?

[2022-10-11 06:59] maciejwalkowiak commented on #322
The recommendation is to use one of the solutions linked above as we are not adding JDBC module to 3.0 yet.

[2022-10-11 08:34] klopfdreh opened #531 "The documentation of "12. Migration from 2.x to 3.x" seems to be broken"
**Type**: Bug

**Component**:
Documentation

**Describe the bug**
![image](https://user-images.githubusercontent.com/980773/195040370-cac29741-cdb2-4a4f-8814-d86ff50dbade.png)

I guess the screenshot describes it the best. 😄 I guess the mark down table is broken.

See: https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-M2/reference/html/index.html#migration-from-2-x-to-3-x

**Sample**
No sample

[2022-10-11 12:19] areddy23 commented on #322
@maciejwalkowiak I am not sure if you read my summary, this is not entirely related to Fail over management which can be acheived by your suggestion. The above issue is with leveraging read replicas for an RDS that are cross regional(like we do using `spring-cloud-aws-jdbc` - `@transaction` annotation), I don't see how https://github.com/awslabs/aws-advanced-jdbc-wrapper can achieve that. Please l

[2022-10-11 15:10] maciejwalkowiak commented on #531
Thanks for reporting, this has been already fixed: https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-SNAPSHOT/reference/html/index.html#migration-from-2-x-to-3-x

[2022-10-11 15:10] #531 closed

[2022-10-11 15:11] maciejwalkowiak commented on #322
Oh apologies, I missed that I did not add 3rd link there.

Follow this approach for read & write replica.

https://vladmihalcea.com/read-write-read-only-transaction-routing-spring/

[2022-10-12 05:45] virajkanwade commented on #322
For anyone interested in keeping it simple and wishing to use the spring-cloud-aws-jdbc:

https://github.com/virajkanwade/spring-attic-spring-cloud-aws/commit/d0ed817e68f57722e764b83e93a98aabbdc16442

Also a compiled jar available. https://github.com/virajkanwade/spring-attic-spring-cloud-aws/releases/tag/v2.2.7.RELEASE

You can use local maven repo for using the jar.

[2022-10-12 07:49] IRuzhnikov opened #533 "Add aws-secretsmanager-r2dbc"
### Discussed in https://github.com/awspring/spring-cloud-aws/discussions/14

<div type='discussions-op-text'>

<sup>Originally posted by **eddumelendez** January  6, 2021</sup>
Similar to [aws-secretsmanager-jdbc](https://github.com/aws/aws-secretsmanager-jdbc), a new project can be created to support secretsmanager for [r2dbc](https://r2dbc.io/).</div>

Hi, i have idea for using r2dbc with AwsSe

[2022-10-12 16:42] klopfdreh commented on #531
Yep thanks! 👍

[2022-10-12 16:43] klopfdreh commented on #387
Migrated to 3.0.0-M2 and it is working like expected! 👍 Thanks!

[2022-10-12 19:51] virajkanwade commented on #322
Submitted PR in correct repo
https://github.com/awspring/spring-cloud-aws/pull/534

[2022-10-13 11:44] maciejwalkowiak commented on #533
At this stage there are no plans to add r2dbc support.

[2022-10-17 08:34] maciejwalkowiak opened #540 "Build against Java 17, 18, 19"
Since we've upgraded `main` to Spring Boot 3 and Java 17, we also need to include Java 18 and Java 19 in Github actions builds.

[2022-10-17 15:53] maciejwalkowiak commented on #529
@magna25 feel free to submit a PR. Since we work in tests with Localstack this is not a high priority for us.

[2022-10-18 07:18] maciejwalkowiak opened #544 "Replace usage of deprecated `@AutoConfigureMetrics`"

[2022-10-19 07:44] #377 closed

[2022-10-19 14:00] tomazfernandes commented on #507
Hi, I'll add some initial considerations. Please let me know if this makes sense to you.

### Sync vs. Async

I think one key feature of `AWS SDK 2.0` is its non-blocking APIs, so IMO we should offer as much to users.

One way I thought we could go about this would be having separate `SqsOperations` and `SqsAsyncOperations` interfaces, and then a `SqsTemplate` implementing both. Users would be abl

[2022-10-20 09:23] maciejwalkowiak commented on #507
Thanks @tomazfernandes. I agree, all makes sense. We can also adopt idea of async operations for other integrations.

[2022-10-20 14:42] mcruzdev commented on #540
Hi @maciejwalkowiak,

Can I get this issue?

[2022-10-20 15:59] tomazfernandes commented on #507
Sure! Though this raises another question, which is exposing the `Sync` vs `Async` clients as beans.

I know it's traditional for `Spring Cloud AWS` to expose Clients as beans directly. However usually in Spring Frameworks we have abstractions around the client classes, such as `xyzTemplate`, `xyzAdmin`, `xyzConsumer`, `xyzProducer` and `xyzFactory`.

This allows us to e.g. control the client inst

[2022-10-21 02:46] maciejwalkowiak commented on #507
I think exposing clients as beans is a right way to go as we do not intend to wrap all client functionality with "our" classes. That's what all Spring Data modules do. And while I understand the reasoning, even if we decide to go this path this would definitely mean that we need to postpone the release - which I am sure I don't want to.

[2022-10-21 02:48] maciejwalkowiak commented on #540
@mcruzdev go for it!

[2022-10-21 17:35] tomazfernandes commented on #507
Sure, makes sense. Just wanted to know your thoughts on it - thanks!

I think we can leave any async / blocking matters for other integrations as a separate issue, and use this one as a first take on this structure with async.

[2022-10-22 17:45] #544 closed

[2022-10-25 16:40] mcruzdev commented on #540
Hi @maciejwalkowiak,

![image](https://user-images.githubusercontent.com/56329339/197832823-9ec3db8d-3196-400f-aab1-c6cff088592e.png)

There are just version 17 and 19 on `sdkman` version 5.16.0

[2022-10-26 03:47] maciejwalkowiak commented on #540
@mcruzdev makes sense! Let's skip 18. I think this PR would be ready for review then, right?

[2022-10-26 14:10] mcruzdev commented on #540
I opened the PR #550, thank you :)

[2022-10-26 18:13] maciejwalkowiak commented on #540
Closed in #550

Thanks @mcruzdev!

[2022-10-26 18:13] #540 closed

[2022-10-27 18:17] ramyogi7283 opened #551 "Can not receive sqs message after the application has been running for a few hours/days"
**Type**: Can not receive sqs message after the application has been running for a few days

**Component**:
SQS

**Describe the bug**
After the application runs for a few days, listener can not receive the message and I saw the count of messages in the queue growing in the Amazon admin. The application runs normally only sqs listener not receive message. After I restart application then it worked

[2022-10-28 22:01] arunkumarg26 opened #552 "Unable to fetch aws credentials through credential process"
When using the credential process through AWS IAM Roles Anywhere detailed [here](https://medium.com/cyberark-engineering/calling-aws-services-from-your-on-premises-servers-using-iam-roles-anywhere-3e335ed648be), I'm seeing "Unable to load AWS credentials from any provider in the chain:"

Note: When I use aws java SDK, I'm able to access the AWS resources. Running in to the below when using @SqsLis

[2022-10-28 22:05] arunkumarg26 commented on #552
More info: I have set the env variable ENV AWS_CONFIG_FILE="/.aws/config" where the contents of the config file should look like

./aws_signing_helper credential-process \
    --certificate ./server.pem --private-key ./server.key \
    --trust-anchor-arn <anchor-arn> \
    --profile-arn <profile-arn> \
    --role-arn <role-arn>

[2022-11-02 15:53] IvanDanilau opened #553 "SNS Number type header throws com.amazonaws.services.sns.model.InvalidParameterValueException"
**Type**: Bug

**Component**: "SNS"

**Describe the bug**
Using dependency spring-cloud-starter-aws-messaging: 2.4.2

I want to use aws SNS as topic for messages and consume them using SQS subcription.
you can find app sample here [https://github.com/maniish-jaiin/spring-cloud-messaging-sample]() and use it for the reproducing the issue.
Steps:
- lauch the app according readme
call - http://localh

[2022-11-02 18:53] akefirad opened #554 "NPE When `clientProperties` is Null"
**Type**: Bug

**Component**:
Core AutoConfigure

**Describe the bug**
In method `AwsClientBuilderConfigurer#configure` (both versions) `clientProperties` is considered nullable, but in the method body there's a not-null assertion.

**Sample**
See the code: https://github.com/awspring/spring-cloud-aws/blob/main/spring-cloud-aws-autoconfigure/src/main/java/io/awspring/cloud/autoconfigure/core/AwsCl

[2022-11-03 00:09] maciejwalkowiak commented on #554
Thanks for reporting. Would you like to submit a PR? This assertion should not be there as far as I can see.

[2022-11-03 06:41] akefirad commented on #554
https://github.com/awspring/spring-cloud-aws/pull/555

[2022-11-03 11:56] #554 closed

[2022-11-03 14:35] IvanDanilau commented on #553
I've noticed it was fixed already

[2022-11-04 06:07] maciejwalkowiak commented on #523
Done in M3.

[2022-11-04 06:07] #523 closed

[2022-11-08 08:01] kerkhofsd opened #556 "AmazonSQSBufferedAsyncClient adds unexpected 200ms delay to published messages"
**Type**: Bug / unexpected behaviour

**Component**:
SQS

**Describe the bug**
Spring Cloud AWS version: 2.4.2

If no AmazonSQS client is provided, the  `SqsAutoConfiguration` will initialize an `AmazonSQSBufferedAsyncClient`.
From the [JavaDoc of that class](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/sqs/buffered/AmazonSQSBufferedAsyncClient.html):

If, in practi

[2022-11-08 08:49] rauldeheer opened #557 "No beans of 'SqsAsyncClient' type found"
**Type**: Bug
**Component**: SQS

**Describe the bug**
When using the latest version for Spring Boot 3 (M3), we are unable to use the SqsAsyncClient as described in [the docs](https://docs.awspring.io/spring-cloud-aws/docs/3.0.0-M3/reference/html/index.html#sending-messages). It gives us the following error:

[code]

[2022-11-08 11:17] maciejwalkowiak commented on #556
In 2.x we are using [AmazonSQSBufferedAsyncClient](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/sqs/buffered/AmazonSQSBufferedAsyncClient.html) - I would guess this is where the delay comes from. The benefit is that it makes less requests than regular SQS client.

Since buffered client [has not been ported](https://github.com/aws/aws-sdk-java-v2/issues/165) to AWS S

[2022-11-09 23:28] magna25 commented on #557
you need to declare the bean.

[code]

[2022-11-10 11:01] klopfdreh commented on #432
Please can you add this into the migration that this is not supported currently?

We just implemented the functionality and if it works we are going to provide it for the next milestone.

[2022-11-19 19:24] jaypatel512 commented on #174
Hey @maciejwalkowiak ! thank you again for helping us resolve this. I am trying to follow the PR and identifying the way to make this happen with the changes that were pushed. Can you please elaborate on how this can be achieved with new PR merged into the release ?

Thanks again.

[2022-11-21 07:23] rauldeheer commented on #557
Yes the new M3 compatible version works. @tomazfernandes

[2022-11-21 08:28] maciejwalkowiak commented on #557
Awesome. Thanks @tomazfernandes and @rauldeheer for great communication. Closing.

[2022-11-21 08:28] #557 closed

[2022-11-21 08:29] maciejwalkowiak commented on #174
@tomazfernandes could you please help @jaypatel512?

[2022-11-23 10:31] h1alexbel opened #559 "No Info about local build setup"
Your README doesn't have information about setup a local environment for building application, because it has some weird errors with ```spring-cloud``` parent. E.g: ```Could not find artifact org.springframework.cloud:spring-cloud-dependencies-parent:pom:4.0.0-M5```

I think, would be great to see information in your repo on how to build an app using maven to start working with the repository. So,

[2022-11-25 07:55] maciejwalkowiak commented on #559
Instructions are there https://github.com/awspring/spring-cloud-aws#checking-out-and-building

How do you trigger the build and which Maven & Java versions do you use?

You can always look up [how CI builds the project](https://github.com/awspring/spring-cloud-aws/blob/main/.github/workflows/build.yml) - if it works in CI then it should work for you too.

[2022-11-25 12:51] h1alexbel commented on #559
Hello @maciejwalkowiak , I'm triggering the build using just ```./mvnw install``` and ```Java 17``` with Maven Wrapper.
But when I reload maven project it notifies me: ```Could not find artifact org.springframework.cloud:spring-cloud-dependencies-parent:pom:4.0.0-M5```

[2022-11-25 14:14] h1alexbel commented on #559
@maciejwalkowiak

[code]

[2022-11-25 18:28] MatejNedic commented on #559
Hey  @h1alexbel , what IDE are you using?

[2022-11-25 20:25] maciejwalkowiak commented on #559
Ok than it makes it very weird. Since Spring profile is there you should be able to access milestone releases. Another attempt:

Force Maven to update indices:

[code]

[2022-11-28 11:29] h1alexbel commented on #559
IntelliJ IDEA

[2022-11-30 17:08] davidmelia commented on #468
Hi, related to this I noticed the AWS parameter store integration is stripped out when doing a native build such that it is invoked during the native build step but then never invoked when running that executable.   This should work similar to the spring cloud config client.